<!-- 2023/03/07 // 김동민 // 마이너갤러리 index 페이지 html 작업  -->
<!-- 2023/03/08 // 김동민 // 마이너갤러리 index 페이지 css 작업   -->
<!-- 2023/03/10 // 김동민 // 마이너갤러리 index 페이지 화면구현 완료 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragment/head_fragment::minorHead}"></th:block>
</head>
<body>
    <div class="minorwrap">
            <!-- 헤더 -->
            <th:block th:replace="~{fragment/header_fragment::minorHeader}"></th:block>
            <!-- gnb -->
            <th:block th:replace="~{fragment/gnb_fragment::mainGnb}"></th:block>
            <!-- 최근 방문 탭 -->
            <th:block th:replace="~{fragment/gnb_fragment::mainVisit}"></th:block>
        <!-- 메인 -->
        <main id="container" class="minor_wrap gallmain">
            <div class="main_content clear">
                <article class="clear">
                    <h2 class="blind">마이너 갤러리 메인 탑</h2>
                    <section class="left_content">
                      <h2 class="blind">마이너 갤러리 메인 탑 왼쪽</h2>
                      <div class="mgall_info clear">
                        <p class="txt">누구나 개설할 수 있는 <span class="font_lightblue">마이너 갤러리</span><button onclick="showLayer('minor_is_lyr')"><span class="blind">마이너 갤러리란?</span><em class="sp_img icon_mgll_explain"></em></button>를 만들어보세요.</p>
                        
                        <!-- 마이너 갤러리 안내 레이어 -->
                        <div id="minor_is_lyr" class="pop_tipbox minor_tip" style="left:235px;top:28px;display:none">
                          <div class="inner">
                            <div class="minor_tip_txt">
                              <p>갤러리의 운영 권한 및 의무가 개설자에게 부여됩니다.</p>
                            </div>
                            <div class="minor_tip_txt bg" style="min-width:435px">
                              <strong class="font_red">승격 안내</strong>
                              <p>영화, 드라마 등 일부 마이너 갤러리는 심사 후 메인 갤러리로 승격됩니다.</p>
                              <p>승격 여부는 전적으로 회사에 의해 결정되며, 승격 시 매니저 권한은 회수됩니다.</p>
                            </div>
                            <button type="button" class="btn_tipclose" onclick="showLayer('minor_is_lyr')"><span class="blind">닫기</span><em class="sp_img icon_tipclose"></em></button>
                          </div>
                        </div>
                        <!-- //마이너 갤러리 안내 레이어 -->
                        <a th:href="@{/mgall/create}" class="btn_red mgall_make_go round" id="mgall_make_go">마이너 갤러리 만들기</a>
                      </div>
                      <div class="mgall_list_wrap clear">
                        <!-- 흥한 마이너 갤러리 -->
                        <div class="hot_mgall_box">
                          <header class="box_head clear">
                            <span class="fl">
                              <em class="blind">핫</em>
                              <em class="sp_img icon_hotmgall"></em>
                            </span>
                            <h3 class="tit fl">흥한 마이너 갤러리</h3>
                            <div class="box_head_right clear">
                              <button type="button" class="btn_white_round btn_hotgall_allview" onclick="showLayer('heung_gall_all_lyr')">전체 순위</button>
                              <!-- 흥한갤 전체 순위 레이어 팝업 -->
                              <div id="heung_gall_all_lyr" class="pop_wrap type2" style="left:50%;top:40px;margin-left:-353px;display:none">
                                <div class="pop_content pop_hot_mgall">
                                  <div class="pop_head dashed">
                                    <strong>흥한갤 전체 순위</strong>
                                    <span class="inner_txt">전체 마이너 갤러리 순위 중 300위 이내는 흥한갤이 됩니다. (20위 이내는 대흥갤)</span>
                                  </div>
                                    <ul class="pop_hotmgall_listbox" id="heung_list_ul"  data-heunggall-page="1">
                                        <li th:each="hot,i:${hot_mgall}" th:if="${i.count}<=100"><a href="#"><span class="num font_red">[[${i.count}]]</span>[[${hot.gell_name}]]</a></li>
                                    </ul>
                                    <ul class="pop_hotmgall_listbox" id="heung_list_ul_2"  data-heunggall-page="2" style="display: none;">
                                        <li th:each="hot,i:${hot_mgall}" th:if="${i.count} > 100 and ${i.count}<=200"><a href="#"><span class="num font_red">[[${i.count}]]</span>[[${hot.gell_name}]]</a></li>
                                    </ul>
                                    <ul class="pop_hotmgall_listbox" id="heung_list_ul_3"  data-heunggall-page="3" style="display: none;">
                                        <li th:each="hot,i:${hot_mgall}" th:if="${i.count} > 200 and ${i.count}<=300"><a href="#"><span class="num font_red">[[${i.count}]]</span>[[${hot.gell_name}]]</a></li>
                                    </ul>
                                    <div class="btn_box" data-lyr="heung_gall_all_lyr">
                                  </div>
                                </div>
                                <button type="button" class="under poply_close" onclick="showLayer('heung_gall_all_lyr')"><span class="blind">갤러리 전체보기 레이어 닫기</span><em class="sp_img icon_lyclose"></em></button>
                              </div>
                              <!-- //흥한갤 전체 순위 레이어 팝업 -->

                            </div>
                          </header>
                            <div class="hot_mgall">
                                <div class="rank_list_box clear">
                                    <ol class="rank_list mgall fl" id="hot_mgallery_list_1" >
                                        <li th:each="hot,i:${hot_mgall}" th:if="${i.count}<=5"><a class="" th:href="@{/mgall/board/lists/?id={gell_address}(gell_address=${hot.gell_address})}"><span class="rank_num"><em>[[${i.count}]]</em></span><span class="rank_txt">[[${hot.gell_name}]]</span></a></li>
                                    </ol>
                                    <ol class="rank_list mgall fl" id="hot_mgallery_list_2" >
                                        <li th:each="hot,i:${hot_mgall}" th:if="${i.count} > 5 and ${i.count} <= 10"><a class="" th:href="@{/mgall/board/lists/?id={gell_address}(gell_address=${hot.gell_address})}"><span class="rank_num"><em>[[${i.count}]]</em></span><span class="rank_txt">[[${hot.gell_name}]]</span></a></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <!-- //흥한 마이너 갤러리 -->
                      
                        <!-- 신설 마이너 갤러리 -->
                        <div class="new_magll_box">
                          <header class="box_head clear">
                            <span class="fl">
                              <em class="blind">뉴</em>
                              <em class="sp_img icon_newmgall"></em>
                            </span>
                            <h3 class="tit fl">신설 마이너 갤러리</h3>
                            </header>
                            <div class="new_mgall" id="new_mgallery_div">
                                <ul class="newmgall_list">
                                        <li th:each="newmgall:${new_mgall}"><a th:href="@{/mgall/board/lists/?id={gell_address}(gell_address=${newmgall.gell_address})}">[[${newmgall.gell_name}]]</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- //신설 마이너 갤러리 -->
                        <!-- 승격 마이너 갤러리 -->
                        <div class="up_mgall_box clear">
                            <h3 class="tit"><span class="font_red">승격</span> 마이너 갤러리</h3>
                                <ul class="up_mgall_list clear" id="up_mgallery_list">
                                    <li><a href="#" class="ling_gl"><span>승격 마이너 갤러리</span></a></li>
                                    <li><a href="#" class="ling_gl"><span>승격 마이너 갤러리</span></a></li>
                                    <li><a href="#" class="ling_gl"><span>승격 마이너 갤러리</span></a></li>
                                    <li><a href="#" class="ling_gl"><span>승격 마이너 갤러리</span></a></li>
                                    <li><a href="#" class="ling_gl"><span>승격 마이너 갤러리</span></a></li>
                                </ul>
                            <button type="button" class="btn_upmgall_more">더보기<em class="sp_img icon_upmgall_more"></em></button>
                        </div>
                        <!-- //승격 마이너 갤러리 -->
                        </div>
                        <div class="allandrank clear">
                            <!--<button type="button" class="btn_blue_round">갤러리 전체보기</button> -->
                            <div class="rank_listwrap clear">
                              <div class="ranklist_over clear">
                                <button type="button" class="btn_blue_round" >실시간 북적 m.갤러리</button>
                                <!-- 실시간 북적 갤러리 한줄 노출 -->
                                <div class="one_ranklist">
                                  <ol class="rank_list mgall">
                                    <li id="rank_no" th:each="hot,i:${hot_mgall}">
                                      <a id="rank_num" th:href="@{/mgall/board/lists/?id={gell_address}(gell_address=${hot.gell_address})}">
                                          <span class="rank_num"><em>[[${i.count}]]</em></span>
                                          <span class="rank_txt">[[${hot.gell_name}]]</span>
                                          <div th:each="diff, j : ${rankdiff}">
                                              <div th:if="${hot.gell_num} == ${diff.gell_num}">
                                                      <span class="rank_state" th:text="${diff.gell_rank_diff}"></span>
                                                      <span th:if="${diff.gell_rank_diff}>=1" class="sp_img ico_ranking up"></span>
                                                      <span th:if="${diff.gell_rank_diff}==0" class="sp_img ico_ranking same"></span>
                                                      <span th:if="${diff.gell_rank_diff}<=-1" class="sp_img ico_ranking down"></span>
                                              </div>
                                          </div>
                                      </a>
                                    </li>
                                  </ol>
                                </div>
                                <!-- //실시간 북적 갤러리 한줄 노출 -->
                             <!-- 실시간 북적 갤러리 1~30위 10개씩 노출 -->
                              <div class="all_ranklist" style="display:none;right:0;top:0">
                                <div class="box_tit">
                                  <h3 class="tit">마이너 갤러리</h3>
                                </div>
                                <ol class="rank_list mgall rank_high1" style="display:blcok"><!--1~10위-->
                                      <li th:each="hot,i:${hot_mgall}" th:if="${i.count} < 11">
                                        <a th:href="@{/mgall/board/lists/?id={gell_address}(gell_address=${hot.gell_address})}">
                                            <span class="rank_num"><em>[[${i.count}]]</em></span>
                                            <!-- 2023/03/28 // 김동민 // 랭크차 구하기 -->
                                            <span class="rank_txt">[[${hot.gell_name}]]</span>
                                            <div th:each="diff, j : ${rankdiff}">
                                                <div th:if="${hot.gell_num} == ${diff.gell_num}">
                                                    <span class="rank_state" th:text="${diff.gell_rank_diff}"></span>
                                                    <span th:if="${diff.gell_rank_diff}>=1" class="sp_img ico_ranking up"></span>
                                                    <span th:if="${diff.gell_rank_diff}==0" class="sp_img ico_ranking same"></span>
                                                    <span th:if="${diff.gell_rank_diff}<=-1" class="sp_img ico_ranking down"></span>
                                                </div>
                                            </div>
                                        </a>
                                      </li>
                                </ol>
                                  <ol class="rank_list mgall rank_high2" style="display:none;"><!--11~20위-->
                                      <li th:each="hot,i:${hot_mgall}" th:if="${i.count} >= 11 and ${i.count} < 21">
                                          <a th:href="@{/mgall/board/lists/?id={gell_address}(gell_address=${hot.gell_address})}">
                                              <span class="rank_num"><em>[[${i.count}]]</em></span>
                                              <span class="rank_txt">[[${hot.gell_name}]]</span>
                                              <div th:each="diff, j : ${rankdiff}">
                                                  <div th:if="${hot.gell_num} == ${diff.gell_num}">
                                                      <span class="rank_state" th:text="${diff.gell_rank_diff}"></span>
                                                      <span th:if="${diff.gell_rank_diff}>=1" class="sp_img ico_ranking up"></span>
                                                      <span th:if="${diff.gell_rank_diff}==0" class="sp_img ico_ranking same"></span>
                                                      <span th:if="${diff.gell_rank_diff}<=-1" class="sp_img ico_ranking down"></span>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                  </ol>
                                  <ol class="rank_list mgall rank_high3" style="display:none;"><!--21~30위-->
                                      <li th:each="hot,i:${hot_mgall}" th:if="${i.count} >= 21 and ${i.count} < 31">
                                          <a th:href="@{/mgall/board/lists/?id={gell_address}(gell_address=${hot.gell_address})}">
                                              <span class="rank_num"><em>[[${i.count}]]</em></span>
                                              <span class="rank_txt">[[${hot.gell_name}]]</span>
                                              <div th:each="diff, j : ${rankdiff}">
                                                  <div th:if="${hot.gell_num} == ${diff.gell_num}">
                                                      <span class="rank_state" th:text="${diff.gell_rank_diff}"></span>
                                                      <span th:if="${diff.gell_rank_diff}>=1" class="sp_img ico_ranking up"></span>
                                                      <span th:if="${diff.gell_rank_diff}==0" class="sp_img ico_ranking same"></span>
                                                      <span th:if="${diff.gell_rank_diff}<=-1" class="sp_img ico_ranking down"></span>
                                                  </div>
                                              </div>
                                          </a>
                                      </li>
                                  </ol>
                                <div class="box_bottom rank_more" rank_type="high">다음</div>
                              </div>
                              <!-- //실시간 북적 갤러리 1~20위 10개씩 리스트 -->
                            </div>
                          </div>
                        </div>
                    </section>
                    <!-- 오른쪽 -->
                    <section class="right_content">
                    <!-- 로그인 -->
                    <div id="login_box" class="login_box">
                        <div class="user_info newarea" data-alarmId="">
                            <strong  th:onclick="|location='@{/member/login}'|" style="cursor: pointer;">로그인해 주세요.</strong>
                        </div>
                        <div class="user_option ">
                          <span><a href="javascript:;" onclick="alert('로그인이 필요합니다.')">MY갤로그<em class="sp_loginout icon_visit"></em></a></span>
                          <span><a href="javascript:;" onclick="alert('로그인이 필요합니다.')">즐겨찾기<span class="blind">리스트 보기</span></a></span>
                                <span><a href="javascript:;" onclick="alarmList($('.icon_noti', this), 'new')"><em class="sp_loginout icon_noti new"></em>알림</a></span><!-- 신규알림시 클래스 new -->
                        </div>
                    </div>
                    <img src="https://via.placeholder.com/300x150" alt="">
                    </section>
                </article>
                 <!-- 마이너 갤러리  리스트 -->
    <article  class="category_listwrap" >
        <h2 class="blind">카테고리별 갤러리 리스트</h2>
  
        <section class="cate_mgall_box">
          <!-- 마이너 갤러리 리스트 -->
          <div id="categ_listwrap" class="cate_wrap">
            <div class="cate_box">
            <div class="section_cate severalcan">
                <h4 class="cate_tit">연예<span class="list_num"> ([[${cate1cnt[1]}]])</span>
                <button type="button" class="btn_cate_more">
                    <span class="blind">더보기</span><em class="sp_img icon_listmore"></em>
                </button></h4>
                <div class="cate">
                    <ul>
                        <li th:each="m:${mgall}" th:if="${m.gell_cate} == '2'">
                            <a class="colortxt" th:href="@{/mgall/board/lists/?id={gell_address}(gell_address=${m.gell_address})}" target="_parent" onmouseout="thumb_hide();"
                               onmouseover="thumb_view(e,'https://via.placeholder.com/50x50');">[[${m.gell_name}]]</a>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="cate_box">
                <div class="section_cate severalcan">
                    <h4 class="cate_tit">게임<span class="list_num"> ([[${cate1cnt[0]}]])</span>
                    <button type="button" class="btn_cate_more">
                        <span class="blind">더보기</span><em class="sp_img icon_listmore"></em>
                    </button></h4>
                <div class="cate">
                    <ul>
                        <li th:each="m:${mgall}" th:if="${m.gell_cate} == '1'">
                            <a class="colortxt" th:href="@{/mgall/board/lists/?id={gell_address}(gell_address=${m.gell_address})}" target="_parent" onmouseout="thumb_hide();"
                               onmouseover="thumb_view(e,'https://via.placeholder.com/50x50')">[[${m.gell_name}]]</a>
                        </li>
                    </ul>
                </div>
                </div>
            </div>
                <div class="cate_box">
                    <div class="section_cate severalcan">
                        <h4 class="cate_tit">정치<span class="list_num">(0)</span>
                        <button type="button" class="btn_cate_more">
                            <span class="blind">더보기</span><em class="sp_img icon_listmore"></em>
                        </button></h4>
                    <div class="cate">
                        <ul>
                            <li>
                                <a class="colortxt" href="#" target="_parent" onmouseout="thumb_hide();"
                                   onmouseover="thumb_view(e,'https://via.placeholder.com/50x50')">정치인</a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
          </div>
        </section>
    </article>
                <div id="gallery_thumb_div" style="border-width:0px; border-style:none; width:0px; height:14px; position:absolute; left:0px; top:0px; z-index:4002;display:none" class="shadow"><img src="" id="gallery_thumb_img" style="width:120px;height:80px"></div>
            </div>
        </main>

        <!-- 푸터 -->
        <footer class="gcfoot">
            <div class="gc_all">
            </div>   
                

            <div class="info_policy">
                <a href="#">회사소개</a>
                <a href="#">제휴안내</a>
                <a href="#">광고안내</a>
                <a href="#">이용약관</a>
                <a href="#"><b>개인정보처리방침</b></a>
                <a href="#">청소년보호정책</a>
            </div>

            <div class="copyright">Copyright ⓒ 2023 gcinside. All rights reserved.</div>
        </footer>

    </div>
</body>
</html>