<!-- 2023/03/07 //라성준 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!-- 헤드 영역 -->
<head>
    <th:block th:replace="~{fragment/head_fragment::termsHead}"></th:block>
</head>

<body>
<!--스킵 내비게이션-->
<div class="skip">
    <!-- <a href="#pagemenu"><span>페이지메뉴 영역 바로가기</span></a>
    <a href="#contbox"><span>본문 영역 바로가기</span></a> -->
</div>

<!-- //스킵 내비게이션-->
<div id="top" class="width868 policy_wrap">

<!-- 헤더영역 -->
  <header th:replace="~{fragment/header_fragment::termsHeader}"></header>
  <main id="container">
    <div class="content">
      <article>
        <h2 class="blind">유료서비스 이용약관</h2>
        <section id="pagemenu">
          <h2 class="blind">페이지 메뉴</h2>
          <ul class="page_menu three clear">
            <li><a href="/GCInside/terms/policy" class="pmenu on">이용약관</a></li>
            <li><a href="/GCInside/terms/privacy" class="pmenu">개인정보처리방침</a></li>
            <li><a href="/GCInside/terms/youth_policy" class="pmenu">청소년보호정책</a></li>
          </ul>
        </section>
        <section>
          <div class="cont_head">
            <h3 class="head_tit">
                <a href="/GCInside/terms/policy" class="headmenu"><span>지시인사이드 이용약관</span></a>
                <a href="/GCInside/terms/pay_policy" class="headmenu on"><span>유료서비스 이용약관</span></a>
            </h3>
          </div>
          <div class="start_date"></div>
          <div id="contbox" class="con_box brd">
            <!-- 지시인사이드 이용약관 -->
              <div class="policy_cont" th:utext="${data.term_content}"></div>

                <!-- 이용약관 -->

            <!-- // 지시인사이드 이용약관 -->
          </div>
        </section>
      </article>
    </div>
  </main>

    <!-- 하단 -->
    <!-- 푸터영역 -->
  <footer th:replace="~{fragment/footer_fragment::termsFooter}"></footer>

</div>
    <!-- //하단 -->
</body>
</html>