<!-- 2023/03/08 //라성준 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>## CONNECTING HEARTS! 지시인사이드입니다. ##</title>
  <link rel="shortcut icon" th:href="@{/img/logo_icon.png}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/member/reset.css}"/>
  <link rel="stylesheet" th:href="@{/css/member/member.css}">
  <link rel="stylesheet" th:href="@{/css/popup.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <!--스킵 내비게이션-->
    <div class="skip">
      <!-- <a href="#pagemenu"><span>페이지메뉴 영역 바로가기</span></a>
      <a href="#contbox"><span>본문 영역 바로가기</span></a> -->
    </div>
    <!-- //스킵 내비게이션-->
    <div id="top" class="width868 policy_wrap">
      <!-- 상단 -->
      <header class="gcheader bg">
        <div class="gchead">
          <!-- 로고영역 -->
          <h1 class="gc_logo">
            <a href="/index.html">
              <img th:src="@{/img/gcin_logo2.png}" alt="지시인사이드">
            </a>
          </h1>
          <!-- //로고영역 -->
          <div class="area_links">
            <ul>
                        <li><a href="https://gall.dcinside.com/">갤러리</a></li>
                        <li><a href="https://gall.dcinside.com/m">마이너갤</a></li>
                        <li><a href="https://gall.dcinside.com/n">미니갤</a></li>
                        <li><a href="https://gallog.dcinside.com">갤로그</a></li>
                        <li><a href="https://dcnewsj.joins.com/">지시뉴스</a></li>
                        <li><a href="https://h5.dcinside.com/game/main">지시게임</a></li>
                        <li><a href="https://wiki.dcinside.com/wiki/대문">지시위키</a></li>

                        <li><a href="https://event.dcinside.com/">이벤트</a></li>
                        <li><a href="https://mall.dcinside.com/?from=A08">지시콘</a></li>
            </ul>
          </div>
        </div>
      </header>
      <main id="container">
        <div class="content">
          <article>
            <h2 class="blind">유료서비스 이용약관</h2>
            <section id="pagemenu">
              <h2 class="blind">페이지 메뉴</h2>
              <ul class="page_menu three clear"> 
                <li><a href="/terms/policy.html" class="pmenu on">이용약관</a></li>
                <li><a href="/terms/privacy.html" class="pmenu">개인정보처리방침</a></li>
                <li><a href="/terms/youth_policy.html" class="pmenu">청소년보호정책</a></li>
              </ul>
            </section>
            <section>
              <div class="cont_head">
                <h3 class="head_tit">
                  <a href="/terms/policy.html" class="headmenu"><span>지시인사이드 이용약관</span></a>
                  <a href="/terms/pay_policy.html" class="headmenu on"><span>유료서비스 이용약관</span></a>
                </h3>
              </div>
              <div class="start_date">
              </div>
              <div id="contbox" class="con_box brd">
                <!-- 지시인사이드 이용약관 -->
                <div class="policy_cont">
                  <p class="navcaption">본 유료서비스 이용약관의 목차는 아래와 같습니다.</p>
                  <div class="navlist">
                    <ol class="list">
                      <li><a href="#1">제1조 (목적)</a></li>
                      <li><a href="#2">제2조 (용어의 정의)</a></li>
                      <li><a href="#3">제3조 (약관의 효력과 변경)</a></li>
                      <li><a href="#4">제4조 (약관의 게시 등)</a></li>
                      <li><a href="#5">제5조 (유료서비스 이용 계약 성립)</a></li>
                      <li><a href="#6">제6조 (사탕 사용)</a></li>
                      <li><a href="#7">제7조 (유효기간)</a></li>
                      <li><a href="#8">제8조 (사용 취소)</a></li>
                      <li><a href="#9">제9조 (사탕 환불)</a></li>
                    </ol>
                    <ol class="list">
                      <li><a href="#10">제10조 (요금 등의 반환)</a></li>
                      <li><a href="#11">제11조 (회사의 의무)</a></li>
                      <li><a href="#12">제12조 (고정닉 이용자의 권리 및 의무)</a></li>
                      <li><a href="#13">제13조 (사탕 이용 제한)</a></li>
                      <li><a href="#14">제14조 (사탕 제공 중단 및 변경)</a></li>
                      <li><a href="#15">제15조 (손해배상)</a></li>
                      <li><a href="#16">제16조 (면책조항)</a></li>
                      <li><a href="#17">제17조 (분쟁의 해결)</a></li>
                      <li><a href="#18">제18조 (개정 전 고지의무)</a></li>
                    </ol>
                  </div>
  
  
                  <strong id="1">제1조 (목적)</strong>
                <p>
                  본 약관은 고정닉 이용자가 ㈜지시인사이드 (이하 '회사')에서 제공하는 온라인 서비스 상의 주요 지불/결제 수단인 '사탕'를 이용함에 있어 회사와 고정닉 이용자 간의 권리/의무 및 기타 책임 사항을 규정함을 그 목적으로 합니다.
                </p>

                <strong id="2">제2조 (용어의 정의)</strong>
                <ol>
                  <li>① 본 약관에서 사용하는 용어의 정의는 다음과 같습니다.
                    <ol>
                      <li>1. '고정닉 이용자'란 이용자가 홈페이지에서 '고정닉 신청'을 클릭하여 회사가 정한 가입 양식을 기입하고 ‘동의’, ‘확인’ 등의 버튼을 누르는 방법으로 '고정닉'이나 '비고정닉'을 생성한 이용자를 말하며, 회사가 제공하는 사탕 서비스를 이용할 수 있습니다.</li>
                      <li>2. '사탕'란 고정닉 이용자가 회사의 인터넷 서비스 상에서 제공되는 콘텐츠 사용, 디지털 아이템 구매, 기부 행위 등 유료서비스의 이용 대금을 결제할 수 있는 인터넷 결제/지불수단을 말합니다.</li>
                      <li>3. '환불'이란 회사가 정하는 결제 수단을 통하여 충전한 사탕에 대해 승인 취소를 하거나 수수료를 공제 후 현금으로 돌려받는 것을 말합니다.</li>
                    </ol>
                  </li>
                  <li>② 제1항에서 정의한 용어 이외의 사항은 관계 법령 및 상관례에서 정하는 바에 따릅니다.</li>
                </ol>


                <strong id="3">제3조 (이용약관의 효력과 변경)</strong>
                <ol>
                  <li>① 본 약관은 인터넷 서비스 화면에 게시하거나 기타의 방법으로 고정닉 이용자에게 통보함으로써 효력이 발생합니다.</li>
                  <li>② 본 약관에 명시되지 않은 사항에 대해서는 상법, 전기통신사업법 등 관계 법령 및 회사의 인터넷 서비스 화면에 게시하여 공지한 유료서비스 세부 이용 지침 등의 규정에 따릅니다.</li>
                  <li>③ 회사는 이 약관을 개정할 경우 그 개정 이유 및 적용일자를 명시하여 현행 약관과 함께 적용일자 7일 전부터 적용일 전일까지 제1항의 방법으로 공지합니다.</li>
                  <li>④ 고정닉 이용자는 변경된 약관에 동의하지 않을 경우 유료서비스의 이용을 중단하고 이용 계약을 해지할 수 있습니다. 이 때, 회사는 고정닉 이용자가 가입한 유료서비스의 이용 기간이 남아 있는 경우 이용 계약 해지 시점을 기준으로 환불을 합니다.</li>
                  <li>⑤ 회사가 제4항에 따라 개정 약관을 공지 또는 통지한 후 고정닉 이용자가 공지일 또는 통지일로부터 14일 이내에 거부 의사를 표하지 않으면 개정 약관에 동의한 것으로 간주합니다.</li>
                  <li>⑥ 고정닉 이용자는 약관의 변경에 대하여 주의 의무를 다하여야 하며, 변경된 약관의 부지로 인한 고정닉 이용자의 피해는 회사가 책임지지 않습니다.</li>
                </ol>

                <strong id="4">제4조 (약관의 게시 등)</strong>
                <ol>
                  <li>① 회사는 고정닉 이용자가 이 약관 전문을 열람 또는 인쇄할 수 있도록 기술적 조치를 취합니다.</li>
                  <li>② 회사는 고정닉 이용자가 약관에 동의하기에 앞서 약관에 기재된 내용 중 청약철회 등과 같은 중요한 내용을 고정닉 이용자가 쉽게 이해할 수 있도록 별도의 연결 화면 또는 팝업 화면 등을 제공합니다.</li>
                </ol>


                <strong id="5">제5조 (유료서비스 이용 계약 성립)</strong>
                <p>유료서비스 이용 계약은 고정닉 이용자가 본 약관에 동의하고, 회사가 정하는 결제수단과 방법을 통해 사탕를 구매함으로써 성립됩니다.</p>

                <strong id="6">제6조 (사탕 사용)</strong>
                <ol>
                  <li>① 서비스 내에서 고정닉 이용자가 보유하고 있는 사탕의 구분은 다음과 같습니다.

                    <ol>
                      <li>1. 고정닉 이용자가 직접 충전한 사탕</li>
                      <li>
                        <p>2. 고정닉 이용자가 직접 충전하지 않은 사탕</p>
                        <p>- 다른 고정닉 이용자로부터 선물 받은 사탕</p>
                        <p>- 이벤트 당첨 또는 참여로 적립 받은 사탕</p>
                        <p>- 회사로부터 적립 받은 사탕</p>
                        <p>- 기타 고정닉 이용자가 직접 충전하지 않은 사탕</p>
                      </li>
                    </ol>

                  </li>
                  <li>② 보유한 사탕는 서비스 종료일 전까지 기프티샵 구매 등에서 사용할 수 있으며, 회사의 정책에 따라 추가, 변경, 삭제될 수 있습니다.</li>
                  <li>③ 회사에 충전 금액이 실제 납부되기 전에 먼저 사탕를 발급받아 사용하는 고정닉 이용자의 경우, 일정 기간 내 납부를 완료하여야 합니다. 그렇지 않으면 회사는 잔여 사탕의 사용을 제한하거나 이용 대금의 청구를 요청할 수 있습니다.</li>
                  <li>④ 회사는 청소년보호법에 따른 이용 등급 및 연령 준수를 위해 사탕 사용에 이용 제한이나 등급별 연령 제한을 할 수 있습니다.</li>
                </ol>


                <strong id="7">제7조 (유효기간)</strong>
                <ol>
                  <li>① 고정닉 이용자가 사탕를 마지막으로 충전한 날로부터 5년 이내에 단 한 번도 사탕를 추가 충전하지 않을 경우 상법상의 상사소멸시효에 따라 충전된 사탕는 자동 소멸됩니다.</li>
                  <li>② 고정닉 이용자가 인터넷 서비스를 자진 탈퇴할 경우 및 5년 이상 로그인을 하지 않은 휴면 고정닉의 자동 탈퇴 시 고정닉 이용자가 보유한 사탕와 사탕를 사용하여 결제한 유료서비스의 사용 기간이 자동으로 소멸되므로, 고정닉 이용자의 자진 탈퇴 및 자동 탈퇴가 진행된 이후에는 사탕의 복구 및 환불이 불가능합니다.</li>

                </ol>

                <strong id="8">제8조 (사용 취소 등)</strong>
                <p>고정닉 이용자가 사탕를 사용하여 사탕가 차감 처리된 이후에는 사탕의 사용 취소를 할 수 없습니다.</p>
                <p>단, 회사의 귀책사유로 인하여 정상적인 유료서비스를 고정닉 이용자에게 제공하지 못하였을 경우, 회사는 차감된 사탕를 환원 처리합니다.</p>




                <strong id="9">제9조 (사탕 환불)</strong>
                <ol>
                  <li>① 고정닉 이용자가 결제하여 충전한 사탕 중 사용하지 않은 잔액은 환불받을 수 있으며, 회사는 환불 시 환불 금액의 10%에 해당하는 환불 수수료, 은행 이체 수수료(최대 현금 500원)를 공제한 나머지 금액을 고정닉 이용자에게 환불합니다.
                    <p style="margin:5px 0">단, 회사는 아래 각 호에 해당하는 경우에는 환불 수수료를 공제하지 않습니다.</p>
                    <ol>
                      <li>
                        1. 고정닉 이용자가 사탕를 충전하고 결제 대금을 입금 완료하였으나 회사가 사탕를 결제 대금 입금일로부터 3일 이내에 고정닉 이용자에게 충전하지 않은 경우
                      </li>
                      <li>
                        2. 기타 고정닉 이용자 보호를 위하여 당사에서 따로 정하는 경우
                      </li>
                    </ol>

                  </li>
                  <li>② 회사는 본 조에 따른 사탕의 환불 절차와 관련하여 사탕 잔액 중 회사로 입금이 확인된 사탕에 대한 환불은 현금으로 지급함을 원칙으로 합니다.
                    <p style="margin:5px 0">단, 결제 후 7일 이내이며, 고정닉 이용자가 사탕를 사용하지 않았을 때, 결제 승인 취소가 가능할 경우 결제 승인 취소로 환불을 대신하고 그렇지 않은 경우 동일 결제수단으로 결제 금액을 환불합니다.</p>
                  </li>
                  <li>
                    ③ 사탕 환불은 다음과 같은 절차를 따릅니다.
                    <ol class="mb5">
                      <li>1. 고정닉 이용자의 환불 요청</li>
                      <li>2. 아이디 및 지시 개인 식별 코드로 잔여 사탕 조회</li>
                      <li>3. 환불 금액 산정</li>
                      <li>4. 환불 입금 처리</li>
                    </ol>
                    <p class="mb5">회사는 제3항 제1호의 요청 발생 시 고정닉 이용자의 환불을 위해 정확한 결제 정보와 본인 확인 및 필요한 요금 완납 증명서, 본인 신분증 사본, 통장 사본 등을 수령합니다. (수령한 문서는 사용 후 즉시 파기합니다.)</p>
                    <p class="mb5">회사는 고정닉 이용자의 입금이 완료된 사실이 확인되면 영업일 기준으로 10일 내에 고정닉 이용자가 지정한 계좌로 수수료를 제외한 환불금액(제1, 6항에 의거)을 입금합니다. </p>
                    <p>신용카드, 휴대폰 등을 이용한 결제 수단의 환불의 경우 입금 확인에 일정 기간이 소요되기 때문에 환불 처리가 지연될 수 있습니다. </p>
                  </li>
                  <li>
                    ④ 환불을 희망하는 고정닉 이용자는 환불 처리 절차(제3항)에 필요한 서류를 아래 기재된 연락처를 통해 회사에 전달해야 합니다. 환불에 필요한 서류를 고정닉 이용자가 제공하지 않을 경우 환불이 제한됩니다.
                      <ol>
                        <li>
                          1. 고정닉 이용자가 회사에 제공할 서류: 아이디 혹은 지시 개인 식별 코드, 사탕 결제에 대한 요금 완납 증명서, 본인 신분증 사본, 본인 통장 사본
                        </li>
                        <li>2. 서류를 제공할 회사의 연락처: 이메일 (#@gcinside.com) 또는 팩스 (02-3448-5839)</li>
                      </ol>
                  </li>
                  <li>⑤ 회사는 환불 요청에 대해 각 호에 해당하는 경우 환불을 하지 않습니다.
                    <ol>
                      <li>1. 힛갤 지급, 이벤트 지급, 선물 등 고정닉 이용자가 직접 유료 충전하지 않은 사탕 (제6조 제1항 제2호에 의거)</li>
                      <li>2. 잔여 사탕가 10개 미만인 경우</li>
					  <li>3. 마지막 충전 일로부터 5년 이내 사탕의 추가 충전 내역이 없는 경우</li>
                      <li>4. 유료 지시콘 구매, 기프티샵 구매 등에 사용된 사탕</li>
                      <li>5. 탈퇴한 고정닉</li>
                    </ol>
                  </li>
                </ol>


                <strong id="10">제10조 (요금 등의 반환)</strong>
                <ol>
                  <li>① 회사는 과오금이 발생한 경우 이용 대금의 결제와 동일한 방법으로 과오금 전액을 환불하여야 합니다. 다만, 동일한 방법으로 환불이 불가능할 때는 이를 사전에 고지하고, 고정닉 이용자가 선택한 방법으로 환급합니다.</li>
                  <li>② 회사는 요금 등을 반환하여야 할 고정닉 이용자가 요금 등을 미납하고 있을 경우에는 반환하여야 할 요금 등에서 이를 우선 변제충당하고 반환할 수 있습니다.</li>
                  <li>③ 본 약관 제13조에 의거, 이용 제한을 받은 고정닉 이용자의 경우 이와 관련하여 선입금한 요금 등은 반환하지 않습니다.</li>
                  <li>④ 제1항의 반환은 반환 의무가 있음이 확정된 날로부터 10영업일 이내에 이용 대금의 결제와 동일한 방법으로 과오금 전액을 환불하는 것으로 합니다. 다만, 요금에 대한 이자 지급은 하지 않으며, 회사는 고정닉 이용자의 귀책사유에 의하여 반환 의무가 발생하는 경우에 한하여 결제 수수료 등 입금에 따라 발생한 비용을 공제하고 반환할 수 있습니다.</li>
                </ol>


                <strong id="11">제11조 (회사의 의무)</strong>
                <ol>
                  <li>① 회사는 본 약관이 정하는 바에 따라 지속적이고 안정된 서비스를 제공하기 위하여 노력합니다.</li>
                  <li>② 회사는 사탕와 관련하여 고정닉 이용자가 제기하는 불만 사항 등이 정당하다고 판단하는 경우 그 문제를 신속하게 해결하도록 노력하며, 신속한 처리가 곤란한 경우 그 사유와 처리 일정을 고정닉 이용자에게 통지합니다.</li>
                  <li>③ 회사는 사탕 이용과 관련한 설비에 장애가 발생한 경우 최대한 신속하게 그 설비를 수리하거나 복구합니다.</li>
                </ol>


                <strong id="12">제12조 (고정닉 이용자의 권리 및 의무)</strong>
                <ol>
                  <li>① 고정닉 이용자는 회사가 제공하는 사탕 서비스 이용 시 본 약관, 세부 이용 지침 및 관련 법령을 준수하여야 하며, 기타 회사의 명예를 훼손하거나 사탕 서비스 운영 기타 업무 수행에 지장을 초래하는 행위를 해서는 안 됩니다.</li>
                  <li>② 고정닉 이용자는 타인의 명의, '지시 개인 식별 코드'(이하 식별 코드), 비밀번호, 휴대폰 번호, 계좌번호, 신용카드번호 등 개인정보나 금융 정보를 도용하거나 부정 사용하여서는 안 됩니다.</li>
                  <li>③ 고정닉 이용자는 회사가 사전에 동의한 경우를 제외하고는 사탕 서비스를 이용하여 영업활동을 하거나 타인에게 서비스를 제공하여서는 안 됩니다.</li>
                  <li>④ 고정닉 이용자는 사탕 서비스 이용과정에서 선량한 풍속 기타 사회질서에 반하는 행위를 하여서는 안 됩니다.</li>
                  <li>⑤ 고정닉 이용자는 사탕 서비스를 이용하여 얻은 정보를 회사의 사전 승낙 없이 서비스 이용 이외의 목적으로 사용하여서는 안 됩니다</li>
                  <li>⑥ 고정닉 이용자의 식별 코드 및 비밀번호, 휴대폰 번호, 계좌번호, 신용카드번호 등 개인정보나 금융 정보는 고정닉 이용자 본인이 직접 관리하여야 하며, 본인이 아닌 타인이 사용하게 하여서는 안 됩니다. 고정닉 이용자의 개인정보를 타인이 사용하여 만두 서비스를 이용함으로써 발생한 결과에 대한 책임은 고정닉 이용자 본인에게 있습니다.</li>
                </ol>


                <strong id="13">제13조 (사탕 이용 제한)</strong>
                <ol>
                  <li>① 고정닉 이용자는 다음 각 호에 해당하는 행위를 하여서는 안 되며, 이를 위반할 경우 회사는 당해 고정닉 이용자에 대하여 사탕 이용을 정지시킬 수 있습니다.
                      <ol>
                        <li>1. 타인의 식별 코드 및 비밀번호를 부정하게 사용하는 경우</li>
                        <li>2. 타인의 명의나 개인정보를 도용하여 서비스를 이용하는 경우</li>
                        <li>3. 타인의 결제정보 등을 도용하거나 부정한 행위로 거래를 하는 경우</li>
                        <li>4. 고정닉 이용자의 사탕를 매매하거나 회사가 허용하지 않은 곳에서 양도하는 경우</li>
                        <li>5. 고정닉 이용자가 결제수단을 제공하는 사업자가 지정한 방식으로 이용요금을 납부하지 않고 장기 연체하는 경우</li>
                        <li>6. 다른 고정닉 이용자의 사탕 사용을 저해하거나, 사탕 서비스 제공에 지장을 초래하는 경우</li>
                        <li>7. 본 약관에 위배되는 방법으로 사탕 서비스를 이용하는 경우</li>
                        <li>8. 사탕가 사용되는 회사의 인터넷 서비스 이용약관에 위반하는 방법으로 서비스를 이용하는 경우</li>
                        <li>9. 기타 법령에 위배되는 행위를 하는 경우</li>
                      </ol>
                  </li>
                  <li>② 회사는 사탕 이용을 제한할 경우 이용 제한 내용과 소명 절차를 고정닉 이용자의 갤로그 방명록을 통해 통지하여 고정닉 이용자가 소명할 수 있는 기회를 부여합니다.</li>

                </ol>


                <strong id="14">제14조 (사탕 제공 중단 및 변경)</strong>
                <ol>
                  <li>① 회사는 다음 각 호에 해당하는 사유가 발생한 경우 또는 사업 종목의 전환, 사업의 포기 등 경영상의 이유로 사탕 서비스의 전부 또는 일부의 제공을 중단할 수 있습니다. 이 경우 회사는 본 약관에서 정한 방법으로 그 중단 사유, 중단 기간 등을 고정닉 이용자에게 사전 공지합니다.
                    <ol>
                      <li>1. 회사가 긴급한 시스템 점검, 증설, 교체, 시설의 보수 또는 공사를 하기 위하여 부득이한 경우</li>
                      <li>2. 새로운 서비스 시스템으로의 교체 등을 위하여 회사가 필요하다고 판단하는 경우</li>
                      <li>3. 시스템 또는 기타 서비스 설비의 장애, 유무선 Network 장애 또는 사탕 서비스 이용의 폭주 등으로 정상적인 사탕 서비스 제공이 불가능할 경우</li>
                      <li>4. 천재지변, 국가비상사태, 정전 등 회사가 통제할 수 없는 불가항력적 사유로 인한 경우</li>
                    </ol>
                  </li>
                  <li>② 회사는 전 항 각 호의 사유 발생 시 부득이할 경우 예고 없이 사탕 서비스의 전부 또는 일부의 제공을 일시 중지할 수 있습니다. 이 경우 그 사유 및 중지 기간 등을 고정닉 이용자에게 지체 없이 사후 공지합니다.</li>
                </ol>


                <strong id="15">제15조 (손해배상)</strong>
                <ol>
                  <li>① 회사의 사탕 서비스와 관련하여 회사의 귀책사유로 고정닉 이용자에게 손해가 발생한 경우, 고정닉 이용자에게 발생한 손해를 배상합니다. </li>
                  <li>② 고정닉 이용자가 본 약관상의 의무를 위반함으로 인하여 회사에 손해가 발생한 경우 또는 고정닉 이용자가 사탕 서비스를 이용함에 있어 회사에 손해를 입힌 경우, 고정닉 이용자는 회사에 그 손해를 배상하여야 합니다.</li>
                </ol>


                <strong id="16">제16조 (면책조항)</strong>
                <ol>
                  <li>① 회사는 다음 각 호에 해당하는 사유로 인하여 고정닉 이용자 또는 제3자에게 발생한 손해에 대하여는 그 책임을 지지 않습니다.
                    <ol>
                      <li>1. 관계법령의 변경, 천재지변 또는 이에 준하는 불가항력으로 인하여 ‘유료서비스’를 제공할 수 없는 경우</li>
                      <li>2. 고정닉 이용자가 자신의 식별 코드 또는 비밀번호 등의 관리를 소홀히 하는 등 타인의 부정 사용을 방치한 경우</li>
                      <li>3. 고정닉 이용자가 제3자의 식별 코드, 비밀번호, 휴대폰 번호, 계좌번호, 신용카드번호 등 개인정보를 도용하여 제3자에게 손해를 발생시킨 경우</li>
                      <li>4. 회사의 관리 영역이 아닌 공중 통신선로의 장애로 서비스 이용이 불가능한 경우</li>
                      <li>5. 기타 회사의 귀책사유가 없는 통신서비스 등의 장애로 인한 경우</li>
                    </ol>
                  </li>

                  <li>② 회사는 고정닉 이용자가 사탕 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않습니다.</li>
                  <li>③ 회사는 '고정닉 이용자' 상호 간 또는 '고정닉 이용자'와 제3자 간에 '유료서비스'를 매개로 하여 발생한 분쟁 등에 대해서는 책임지지 않습니다.</li>
                </ol>


                <strong id="17">제17조 (분쟁의 해결)</strong>
                <ol>
                  <li>① 유료서비스 이용과 관련하여 회사와 고정닉 이용자 간에 분쟁이 발생한 경우 본 약관, 유료서비스 세부 이용 지침, 관계 법령 및 상관례에 의거하여 상호 합의하에 분쟁을 해결합니다.</li>
                  <li>② 전 항에 따라 쌍방 간에 합의가 이루어지지 않는 경우 대한민국의 민사소송법에 따른 법원을 관할법원으로 하여 해결합니다.</li>
                </ol>

                <strong id="18">제18조 (개정 전 고지의무)</strong>
                <p>본 유료서비스 이용약관의 내용 추가, 삭제 및 수정이 있을 경우 개정 최소 7일 전에 회사 서비스 내의 공지사항을 통하여 사전 공지를 할 것입니다.</p>
                <ul>
                  <li>- 공고일자: 2023년 03월 01일</li>
                  <li>- 시행일자: 2023년 03월 01일</li>
                </ul>


              </div>
                <!-- // 지시인사이드 이용약관 -->
              </div>
  
  
            </section>
  
          </article>
        </div>
      </main>
      <!-- 하단 -->
      <footer class="gcfoot">
       <div class="info_policy">
         <a href="/company/index.html">회사소개</a>
         
         <a href="/company/index.html#alliance">제휴안내</a>
         <a href="/ad/index.html">광고안내</a>
         <a href="/terms/policy.html">이용약관</a>
         <a href="/terms/privacy.html"><b>개인정보처리방침</b></a>
         <a href="/terms/youth_policy.html">청소년보호정책</a>
       </div>
       <div class="copyright">Copyright ⓒ 2023 - 2023 gcinside. All rights reserved.</div>
      </footer>
      <!-- //하단 -->
    </div>
  
  </body>
  </html>