<!DOCTYPE html>
<html lang="ko" class="darkmode">
<head> 
	<meta charset="UTF-8">
	<title>개인 프로젝트 참고용  미니 갤러리</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="imagetoolbar" content="no">
	<meta name="content-language" content="kr">
		<meta name="google-site-verification" content="8_SyZg2Wg3LNnCmFXzETp7ld4yjZB8ny17m8QsYsLwk">
	<meta name="author" content="디시인사이드">
	<meta name="title" content="개인 프로젝트 참고용  미니 갤러리">
	<meta name="description" content="개인 프로젝트에 참고하기 위한 갤러리 - 개인 프로젝트 참고용  갤러리에 다양한 이야기를 남겨주세요.">
	<meta property="og:type" content="website">
	<meta property="og:title" content="개인 프로젝트 참고용  미니 갤러리">
	<meta property="og:description" content="개인 프로젝트에 참고하기 위한 갤러리 - 개인 프로젝트 참고용  갤러리에 다양한 이야기를 남겨주세요.">
	<meta property="og:image" content="https://nstatic.dcinside.com/dc/w/images/descrip_img.png">
	<meta property="og:url" content="https://gall.dcinside.com/mini/management/submanager?id=qivreg">
	<meta property="og:site_name" content="디시인사이드">
	<meta property="og:updated_time" content="2023-03-14 15:07:54">
	<meta property="og:locale" content="ko_KR">
		<meta name="referrer" content="unsafe-url">	
		<link rel="shortcut icon" href="//nstatic.dcinside.com/dc/w/images/logo_icon.ico" />
	<link rel="apple-touch-icon" href="//nstatic.dcinside.com/dc/m/img/dcinside_icon.png">
	<link rel="apple-touch-icon-precomposed" href="//nstatic.dcinside.com/dc/m/img/dcinside_icon.png">
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/reset.css?v=3"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/common.css?v=220722"/>
	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/contents.css?v=221013_2"/>
  	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/minor.css?v=220722"/>
  	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/popup.css?v=221012"/>
  	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/research.css?v=220722" />
  	<link rel="stylesheet" type="text/css" href="https://nstatic.dcinside.com/dc/w/css/og.css?v=221107" />
  		<link rel="stylesheet" href="https://nstatic.dcinside.com/dc/w/css/minor.css?v=220106" type="text/css" charset="utf-8"/>
		<link rel="manifest" href="/manifest.json">
	<script type="text/javascript" src="/_js/html5shiv.min.js"></script>
	<script type="text/javascript" src="/_js/ctr_cookie.min.js"></script>
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="//nstatic.dcinside.com/dc/w/css/ie7.css"/>
	<![endif]-->
		<script type="text/javascript" src="/_js/cross_domain.js"></script>
	<!--[if lt IE 9]>
	<script src="/_js/jquery/jquery-1.7.2.min.js"></script>
	<![endif]-->
	<!--[if gte IE 9]>
	<script src="/_js/jquery/jquery-3.2.1.min.js"></script>
	<![endif]-->
	<!--[if !IE]> -->
	<script src="/_js/jquery/jquery-3.2.1.min.js"></script>
	<!-- <![endif]-->
	<script type="text/javascript" src="/_js/jquery/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.matchHeight.js"></script>
	<script type="text/javascript" src="/_js/crossDomainStorage.js?1"></script>
	<script type="text/javascript" src="/_js/lately_visit_new.js?2103"></script>
	<script type="text/javascript" src="/_js/common.js?v=230103"></script> 
	<script type="text/javascript" src="/_js/favorite.js?v=220811"></script>
	<script type="text/javascript" src="/_js/gallery_top.js?2211"></script>
	<script type="text/javascript" src="/_js/user_block.js?201224"></script>
	<script type="text/javascript" src="/_js/globalSearch.js?220331"></script>	
	<script type="text/javascript" src="/_js/fcm/app.js?2"></script>
	<script type="text/javascript" src="/_js/navigation.js?v=6"></script>
	<script type="text/javascript" src="/_js/jquery/jquery.iframetracker.js"></script>
	<script type="text/javascript">
		document.domain = "dcinside.com";
		var k_cnt = 0;
		var _GALLERY_TYPE_ = "MI";
		var conn_n = 0;
	</script>
	
	<script src="/_js/minor_gallery.js?v=210614" type="text/javascript" charset="utf-8"></script>
<script src="/_js/minor_notify.js" type="text/javascript" charset="utf-8"></script>
<script src="/_js/managements.js?v=210614" type="text/javascript" charset="utf-8"></script>
	
	<!-- Taboola -->
	<script type="text/javascript">
      window._taboola = window._taboola || [];
      _taboola.push({category:'auto'});
      !function (e, f, u, i) {
        if (!document.getElementById(i)){
          e.async = 1;
          e.src = u;
          e.id = i;
          f.parentNode.insertBefore(e, f);
        }
      }(document.createElement('script'),
      document.getElementsByTagName('script')[0],
      '//cdn.taboola.com/libtrc/dcinside/loader.js',
      'tb_loader_script');
      if(window.performance && typeof window.performance.mark == 'function')
      {window.performance.mark('tbl_ic');}
	</script>
    <!-- Taboola -->
        
        </head>
<body>
  <!--스킵 내비게이션-->
  <div class="skip">
    <a href="#search_wrap"><span>통합검색 바로가기</span></a>
	<a href="#container"><span>본문영역 바로가기</span></a>
    <a href="#bottom_listwrap"><span>페이지 하단 게시물 리스트 바로가기</span></a>
    <a href="#login"><span>페이지 하단 로그인영역 바로가기</span></a>
  </div>
  <!-- //스킵 내비게이션-->
  <div id="top" class="dcwrap width1160 miniwrap">
    
    <!-- 상단 -->
	<header class="dcheader typea">
  <div class="dchead">
	<!-- 로고영역 -->
	<h1 class="dc_logo">
		<script type="text/javascript">
    		logo_img = "https://nstatic.dcinside.com/dc/w/images/dcin_logo.png";
    		logo_prefix = "n";
    	</script>
	  <a href="https://www.dcinside.com/">
		<img src="https://nstatic.dcinside.com/dc/w/images/dcin_logo.png" alt="디시인사이드" class="logo_img">
	  </a>
	  <a href="https://gall.dcinside.com/n">
	  	<img src="https://nstatic.dcinside.com/dc/w/images/tit_ngallery.png" alt="갤러리" class="logo_img2">
	  </a>
	</h1>
	<!-- //로고영역 -->

	<div id="search_wrap" class="wrap_search">
	  <h2 class="blind">갤러리 검색</h2> 
	   <!-- 갤러리 통합검색 -->
	  <form id="searchform" name="search_process" class="sch_smit" method="get" accept-charset="utf-8" action="" role="search" onSubmit="return globalSearch(this);" >
		<fieldset>
		  <legend class="blind">통합검색</legend>
		  <div  class="top_search clear">
			<div class="inner_search">
			  <input class="in_keyword" type="text" name="search" id="preSWord" title="검색어 입력" value="" placeholder="갤러리 & 통합검색" accesskey="f" type="search" autocomplete="off" onfocus="show_search_keywords(this)">
			</div>
			<button type="submit" class="sp_img bnt_search" id="searchSubmit"><span class="blind">검색</span></button>
		  </div>
		</fieldset>
	  </form>
	  <!-- //갤러리 통합검색 -->
                
             <!-- 검색 자동완성 레이어-->
	  <div class="auto_wordwrap" style="left:0;top:45px;display:none"><!--자동완성 레어이 : display:block -->
	  </div>
	  <!-- //검색 자동완성 레이어 -->

	</div>
    <div class="area_links clear">
      <ul class="fl clear">
	  		<li><a href="https://gall.dcinside.com/">갤러리</a></li> 	  		<li><a href="https://gall.dcinside.com/m">마이너갤</a></li> 	  			<li><a href="https://gallog.dcinside.com">갤로그</a></li>
		<li><a href="https://dcnewsj.joins.com/">디시뉴스</a></li>
		<li><a href="//h5.dcinside.com/game/main">디시게임</a></li>
		<li><a href="//wiki.dcinside.com">디시위키</a></li>
				<li><a href="https://event.dcinside.com">이벤트</a></li>
		<li><a href="https://mall.dcinside.com/?from=A08">디시콘</a></li>
				<li class="area_nickname"><a href="javascript:;" id="btn_user_lyr" class="btn_user_data">다스마스터님</a><!-- li와 a태그 사이 여백 없이 요청드립니다. / 레이어 펼침 시 on 클래스 삽입 -->
            <!-- #user_data_lyr.user_data -->
            <div id="user_data_lyr" class="user_data" style="right:0;top:25px;display:none;">
              <ul class="user_data_list">
                <li>
                  <a href="https://gallog.dcinside.com/gofyd889">MY갤로그<em class="sp_img icon_go"></em></a>
                </li>
                <li>
                  <a href="https://sign.dcinside.com/myinfo/modify">고정닉정보<em class="sp_img icon_go"></em></a>
                </li>
                <li><a href="javascript:;" onclick="myFavorite('50%')">즐겨찾기</a></li>
                <li><a href="javascript:;" id="my_minor_btn_h" onclick="toggle_my_minor_pop(this)">운영/가입</a></li>
                <li><a href="javascript:;" onclick="alarmList($('.icon_noti', this), 'new','H')">알림 리스트</a></li>
              </ul>

            </div>
            <!-- //#user_data_lyr.user_data -->
          </li> 
		<li><a class="btn_top_loginout" href="https://sign.dcinside.com/logout?s_url=https%3A%2F%2Fgall.dcinside.com%2Fmini%2Fmanagement%2Fsubmanager%3Fid%3Dqivreg">로그아웃</a></li>
				
	  </ul>
	  <div class="fl darkmodebox">
		  <a href="javascript:;" class="darkonoff" onclick="darkmode()"><em class="sp_img icon_tdark"></em>야간모드</a>
		  <div class="pop_tipbox join_tip dark" onclick="$(this).hide();used_darkmode();" style="cursor:pointer;top:25px;left:-35px;display:none">
			<div class="inner">
			  <p class="join_txt">야간 모드를 이용해 보세요</p>
			</div>
		  </div>
	  </div>
	</div>
	  </div>
</header> 
    <!-- GNB -->
    <div class="gnb_bar">
      <nav class="gnb clear">
        <h2 class="blind">GNB</h2>
        <ul class="gnb_list clear">
          <li>
            <a class="hover_gnb link_gnb " href="https://gall.dcinside.com" url_code="gallery">갤러리</a>
			<span class="gnb_area" style="display:block;width:77px;height:12px;position:absolute;left:0;bottom:0;"></span>
            <!-- 2차메뉴 -->
            <div class="depth2" style="left:0;display:none"><!--2차메뉴 열림 : display:block -->
              <span class="sp_img depth_bg"></span>
              <ul class="depth2_list">
                <li><a href="https://game.dcinside.com">게임</a></li>
                <li><a href="https://enter.dcinside.com">연예/방송</a></li>
                <li><a href="https://sports.dcinside.com">스포츠</a></li>
                <li><a href="https://edu.dcinside.com">교육/금융/IT</a></li>
                <li><a href="https://travel.dcinside.com">여행/음식/생물</a></li>
                <li><a href="https://hobby.dcinside.com">취미/생활</a></li>
              </ul>
            </div>
            <!-- //2차메뉴 -->
          </li>
          <li><a href="//gall.dcinside.com/m" class="link_gnb " url_code="mgallery">마이너갤</a></li>
          <li><a href="//gall.dcinside.com/n" class="link_gnb on" url_code="migallery">미니갤</a></li>
          <li><a href="https://gallog.dcinside.com" class="link_gnb" url_code="gallog">갤로그</a></li>
          <li><a href="https://dcnewsj.joins.com/" class="link_gnb" url_code="dcnews">디시뉴스</a></li>
          <li><a href="https://h5.dcinside.com" class="link_gnb" url_code="dcgame">디시게임</a></li>
          <li><a href="https://wiki.dcinside.com" class="link_gnb" url_code="dcwiki">디시위키</a></li>
                  <li><a href="https://event.dcinside.com" class="link_gnb" url_code="event">이벤트</a></li>
        <li><a href="https://mall.dcinside.com/?from=A08" class="link_gnb" url_code="dccon">디시콘</a></li>
                </ul>

        <!-- 어제 게시글,댓글 등록 -->
        <div class="gall_exposure">
          <div class="posts"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">어제 <em class="num" id="total_content_count">846,868개</em> 게시글 등록</a></div>
          <div class="reply"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">어제 <em class="num" id="total_reple_count">2,346,582개</em> 댓글 등록</a></div>
          <div class="ltr"><a href="https://gall.dcinside.com/board/lists/?id=dclottery">디시 로터리 응모</a></div>
        </div>
        <!-- /어제 게시글,댓글 등록 -->
      </nav>
    </div>
    <!-- //GNB -->
    
	<!-- 최근방문 갤러리 -->
	<script type="text/javascript" src="/_js/lately_visit_gallery.js?v=220408"></script>
<script type="text/javascript">
var f_u_no = '0721c5cc5bd880';
lately_gall_init('qivreg', '개인 프로젝트 참고용 ', 'MI');
</script>

<script id="lately_galls-tmpl" type="text/x-jquery-tmpl">
	<li class="lately_gall_${id}"><a href="https://${link}" class="lately_log" section="${id}">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{else type == 'M'}}<em class="icon_minor">ⓜ</em>{{/if}}<button type="button" class="btn_visit_del" data-id="${id}" data-gtype="${type}"><span class="blind">삭제</span><em class="icon_visit_del"></em></button></li>
</script>
<script id="lately_gallsall-tmpl" type="text/x-jquery-tmpl">						
	<li class="lately_gall_${id}{{if type == 'MI'}} mi{{else type == 'M'}} m{{/if}}"><a href="https://${link}" class="lately_log" section="${id}">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{else type == 'M'}}<em class="icon_minor">ⓜ</em>{{else}}{{/if}}<button type="button" class="btn_visit_del" data-id="${id}" data-gtype="${type}"><span class="blind">삭제</span><em class="icon_visit_del"></em></button></li>
</script>
<script id="favorite_galls-tmpl" type="text/x-jquery-tmpl">
	<li><a href="https://gall.dcinside.com/{{if type == 'MI'}}mini/{{/if}}${code_id}">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{else type == 'M'}}<em class="icon_minor">ⓜ</em>{{/if}}</li>
</script>
<!-- 즐겨찾기 갤러리 리스트-->
<script id="favorite_gallsall-tmpl" type="text/x-jquery-tmpl">	
	<li {{if type == 'MI'}}class="mi" {{else type == 'M'}} class="m" {{/if}} style ='display:none;'><a href="http://gall.dcinside.com/{{if type == 'MI'}}mini/{{/if}}${code_id}">${name}</a>{{if type == 'MI'}}<em class="icon_mini">미니갤러리</em>{{else type == 'M'}}<em class="icon_minor">ⓜ</em>{{/if}}</li>
</script>

<div class="visit_bookmark" id ="visit_history">
      <!-- newvisit_history.vst 최근 방문 -->
      <div class="newvisit_history vst"><!-- 최근 방문 클래스 .newvisit_history.vst /  즐겨찾기 클래스 .newvisit_history.bookmark -->
        <h3 class="tit vst_title l_div_style" style="display:none">최근 방문</h3>
        <h3 class="tit bookmark_title f_div_style" style="display:none">즐겨찾기</h3>
        <button type="button" class="btn_open" onclick="openLately()"><span class="blind">레이어 열기</span><em class="sp_img icon_listmore"></em></button>
        <button type="button" class="bnt_visit_prev" style="display:none"><span class="blind">이전</span><em class="sp_img icon_prev"></em></button>
        <div class="newvisit_box">
          <!-- 최근방문 갤러리 리스트-->
          <ul class="newvisit_list vst_listbox l_div_style" style="display:none"></ul>
          
          <ul class="newvisit_list  bkmark_listbox f_div_style" style="display:none"></ul>
           
          <!-- //즐겨찾기 갤러리 리스트-->

        </div>

        <button type="button" class="bnt_visit_next"  style="display:none"><span class="blind">다음</span><em class="sp_img icon_next"></em></button>
        <button type="button" class="bnt_newvisit_more" style="display:none" onclick="openLately()">전체</button>

        <!-- 최근방문 / 즐겨찾기 레이어 -->
        <div class="pop_wrap gray1px" style="left:0;top:37px;display:none" id ="visit_history_lyr">
          <div class="pop_content under_catelist newvisit_layer">
            <div class="tabs">
              <ul class="tabslist clear">
                <li class="tab_l"><button type="button" onclick="tabLately('lately')">최근 방문</button></li>
                <li class="tab_f"><button type="button" onclick="tabLately('favorite')">즐겨찾기</button></li>
              </ul>
            </div>

            <div class="toptab_content">
              <div class ="visit_div l_div_style">
              <!-- 최근 방문 리스트  -->
              <div class="visit_tablist" style="display:block">
                <!-- .under_listbox.vst_list -->
                <ul class="under_listbox vst_list"></ul>
                <div class="tabcon_bottom">
                  <button type="button" class="list_modi">전체 삭제</button>
                </div>

                <!-- .under_listbox.vst_list -->
              </div>
              <!-- //최근 방문 리스트 -->
              
              </div>
              
			<div class ="favorite_div f_div_style">
				<!-- 즐겨찾기 리스트  -->              
              <div class="bkmark_tablist">
                <!-- .under_listbox.bkmark -->
                <ul class="under_listbox bkmark"></ul>
                <!-- //.under_listbox.bkmark -->
                <div class="tabcon_bottom">
                  <div class="bottom_paging_wrap">
                    <div class="bottom_paging_box iconpaging"></div>
                  </div>
                  <button type="button" class="list_modi" onclick="myFavorite('240')">편집</button>
                  <!-- .pop_wrap.type3 즐겨찾기 레이어 -->
                  <div class="pop_wrap type3" style="right:-9px;top:35px;display:none">
                    <div class="pop_content favorite_list">
                      <div class="pop_head"><h3>즐겨찾기 갤러리</h3></div><!-- 220419 텍스트 수정-->
                      <div class="inner">
                        <div class="pop_info">
                          <p>즐겨찾는 갤러리 리스트입니다.</p>
                          <p>갤러리명 클릭 시 해당 갤러리로 이동합니다.</p>
                        </div>
                        <!-- 즐겨찾기 삭제시 button 태그에 클래스 off -->
                        <ul class="list_box" style="">
                          <li>
                            <button type="button" class="btn_sfavorite"><span class="blind">추가</span><em class="sp_img icon_sfavorite"></em></button>
                            <a href="">기타 국내 드라마</a>
                          </li>
                          <li>
                            <button type="button" class="btn_sfavorite off"><span class="blind">추가</span><em class="sp_img icon_sfavorite"></em></button>
                            <a href="">멍멍이</a>
                          </li>
                          
                        </ul>
                      </div>
                      <div class="btn_box">
                        <button type="button" class="btn_cancle">취소</button>
                        <button type="button" class="btn_apply">저장</button>
                      </div>
                    </div>
                    <button type="button" class="poply_bgblueclose"><span class="blind">즐겨찾기 레이어 닫기</span><em class="sp_img icon_bgblueclose"></em></button>
                  </div>
                  <!-- //.pop_wrap.type3 즐겨찾기 레이어 -->
                </div>

              </div>
              <!-- //즐겨찾기 리스트  -->
			</div>
            </div>
          </div>
        </div>
        <!-- // 최근방문 / 즐겨찾기 레이어 -->
        <div id="my_favorite" class="pop_wrap type3" style="right:-1px;top:79px;display:none"></div>
      </div>
      <!-- //newvisit_history.visit 최근 방문 -->
    </div>
  <!-- //220419 visit_bookmark 최근방문 / 즐겨찾기-->
  <!-- //최근방문 갤러리 리스트-->
	 
    
    
    <script
	src="https://nstatic.dcinside.com/dgn/gallery/js/jquery.validate.min.js"
	type="text/javascript" charset="utf-8"></script>
<main id="container" class="minor_admin">
	<!-- 갤리명 타이틀바 ~ 이용안내 -->
	
<header>
  <div class="page_head clear">
	<div class="fl clear">
      
            <div class="lock"><em class="sp_img icon_minilock"></em><span class="blind">비공개</span></div>
      
	  <h2><a href="https://gall.dcinside.com/mini/board/lists?id=qivreg">개인 프로젝트 참고용  갤러리<div class="pagehead_titicon ngall sp_img"><span class="blind">미니</span></div></a></h2>
	  
	  	  	  
	  	  <div class="useradmin_go">
	  	<button type="button" class="sp_img btn_useradmin_go" onclick="location.href='/mini/management?id=qivreg';"><span class="blind">관리</span></button>
	  </div>
	   
	</div>
			  </div>
</header>	
	<div class="minor_uadmin_wrap clear mngsecurity">

		<!-- left_content -->
		<script type="text/javascript">
var mgall_id = 'qivreg';
var mgall_block = 'N';
</script>

<section id="left_cont_wrap"  class="left_content">
  <h2 class="blind">왼쪽 컨텐츠 영역</h2>
  <ul class="minor_uadmin_menu">
  		<li><a href="/mini/management?id=qivreg" class="">기본 설정</a></li>
				<li><a href="/mini/management/gallery?id=qivreg" class="">갤러리 설정</a></li>
								<li><a href="/mini/management/block?id=qivreg" class="">차단 목록 </a></li>
			<li><a href="/mini/management/delete?id=qivreg" class="">삭제 목록 </a></li>
			<li><a href="/mini/management/submanager?id=qivreg" class="on">부매니저</a></li>
		<li><a href="#" onclick="alert('매니저 위임은 개설일 기준으로 7일 이후 가능합니다.');return false;" class=>매니저 위임</a></li>
				<li><a href="/mini/management/report?id=qivreg" class="">관리 기록</a></li>
		  </ul>
  
	  
</section>
		<!-- right_content -->
		<section id="right_cont_wrap" class="right_content">
			<h2 class="blind">오른쪽 컨텐츠 영역</h2>

			<div class="guide_cont mng">
            <h3 class="gcont_head txt">
              <form name="security_code_confirm" id="security_code_confirm" method="post">
               <input type="hidden" id="gall_id" name="gall_id" value="qivreg">
               <input type="hidden" name="passKey" id=passKey value="" />
               <input type="hidden" name="ci_t" id=ci_t value="" />
              </form>
              <p class="tit">매니저 인증을 위한 보안 코드 확인</p>
              <p class="subtxt">
                <span class="deco_redround">보안 강화</span>
                <span>로그인 시 2단계 인증을 사용하지 않은 매니저는 보안 코드를 확인합니다.</span>
              </p>
            </h3>
            <div class="gcont_box">
			  <p class="ctxt"><b>보안 코드 확인 후에 부매니저 등록/해임, 매니저 위임이 가능합니다.</b></p>
              <div class="codein">
                <div class="code_inputbox clear">
                  <input type="text" class="code_input" title="보안 코드" placeholder="보안 코드 입력" id="code" maxlength="15" style="text-transform:uppercase;">
                  <button type="button" class="btn_codeok code_auth">확인</button>
                </div>
                </p>
              </div>
            </div>
          </div>
		</section>
		<!-- right_content -->
	</div>
</main>
<script>


$(function() {
	$('.code_auth').click(function(){
		var security_code = jQuery.trim($('#code').val());	//인증 코드
		var gall_id = jQuery.trim($('#gall_id').val());
		
		var info_email = 1;
		if(!security_code){
			alert('입력하신 코드가 정확하지 않습니다. 다시 입력해주세요.');
			$('#code').focus();
			return false;
		}

		if(!gall_id){
			alert('잘못된 접근입니다.');
			$('#code').focus();
			return false;
		}

		console.log(security_code);
		
		$.post('/ajax/managements_ajax/chk_security_code',{'security_code' : security_code, 'gallery_id' : gall_id, '_GALLTYPE_' : _GALLERY_TYPE_},function(data){
			var obj = jQuery.parseJSON(data);
			if(obj.resultCode == '1'){
				//alert(obj.resultMsg);
				location.reload(true);	
			} else {
				alert('입력하신 코드가 정확하지 않습니다. 다시 입력해주세요.');
			}
		});
	});
});
</script>
    <!-- 하단 -->
    <footer class="dcfoot">
    
		
     <div class="info_policy">
       <a href="https://www.dcinside.com/company">회사소개</a>
       <a href="https://www.dcinside.com/company#alliance">제휴안내</a>
       <a href="https://nstatic.dcinside.com/dc/dcad/w/index.html">광고안내</a>
       <a href="https://nstatic.dcinside.com/dc/w/policy/policy_index.html">이용약관</a>
       <a href="https://nstatic.dcinside.com/dc/w/policy/privacy_index.html"><b>개인정보처리방침</b></a>
       <a href="https://nstatic.dcinside.com/dc/w/policy/youth_policy.html">청소년보호정책</a>
       
                     <a href="javascript:;" onclick="open_mini_guide()">미니 갤러리 운영원칙</a>
                     
     </div>
     <div class="copyright">Copyright ⓒ 1999 - 2023 dcinside. All rights reserved.</div>
    </footer>
    <!-- //하단 -->
      </div>
	  
  <!-- 한줄 알림 -->
  <script id="alarm-popup-tmpl" type="text/x-jquery-tmpl">
	<div class="alarmPopup pop_wrap type1 fixed" style="right:30px;bottom:30px;display:none">
	  <div class="pop_content one_noticewrap">
		<a href="${link}" class="one_notice_txt" onclick="alarmReadOk(${idx})">
		  <span class="new"><em class="blind">NEW</em><em class="sp_img icon_new"></em></span>${prefix}{{if type == 'manager'}}]{{/if}} ${content}
		</a>
		<button type="button" class="poply_close" onclick="alarmReadOk(${idx});$('.alarmPopup').remove()"><span class="blind">알림 레이어 닫기</span><em class="sp_img icon_blueclose"></em></button>
	  </div>
	</div>
  </script>
  <!-- //한줄 알림 -->
  
   		
      <!-- Taboola -->
  <script type="text/javascript">
  window._taboola = window._taboola || [];
  _taboola.push({flush: true});
  </script>
  <!-- Taboola -->
      
<!-- 기본 애널리틱스 -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-5149721-11']);
	  _gaq.push(['_setDomainName', 'dcinside.com']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
<!-- //기본 애널리틱스 -->

<!-- 추가 애널리틱스 -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-5149721-39']);
	  _gaq.push(['_setDomainName', 'dcinside.com']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
<!--
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-5149721-64']);
	  _gaq.push(['_setDomainName', 'dcinside.com']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

-->
<!-- 추가 애널리틱스 -->




<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-10723182-19"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-10723182-19');
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8LH47K4LPZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8LH47K4LPZ');
</script>
  <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
<script type="text/javascript">
if(!wcs_add) var wcs_add = {};
wcs_add["wa"] = "f92eaecbc22aac";
try { wcs_do();} catch(err) {}
</script>  </body>
</html>

