/* 헤더 */
/* 23-03-08 로컬로 실행시 백그라운드 이미지적용안되서 경로수정 (../../img/) */
.gcheader.bg{background:#29367c}
.gcheader.bg .gc_logo{top:30px}
.gcheader.bg .area_links{top:47px}
.gcheader.bg a{color:#fff}
.gcheader.bg .gchead{height:85px}
.width868 .gchead{width: 868px;}
.gchead{position: relative; margin: 0 auto;}
.gcheader.bg .gc_logo {top: 30px;}
.gc_logo {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 40px;
    text-align: center;
}
.gc_logo a {
    display: block;
    float: left;
}
/* 로그인 */
.login_wrap .idsearch .con.innerbox {
    width: 552px;
}
.login_wrap .con.innerbox {
    width: 605px;
}
.con.innerbox {
    width: 660px;
}
.login_wrap #container{margin-top: 37px;}
.content.login{margin: 205px auto 233px;}
.login_wrap.login_page.kap_codewrap{height: 348px;}
.login_wrap .login_page{
    width: 700px; height: 300px; margin: 0 auto; 
    border: 2px #29367c solid; border-radius: 3px;
}
.login_inputbox{float: left; background: #fff;}
.login_inputbox .inner{width: 290px; padding: 25px 0px 0 56px;}
.login_inputbox .inner input:first-of-type, .bg_box .form_box input:first-of-type {
    margin-top: 0px;
}
.login_inputbox .inner input, .bg_box .form_box input {
    margin-top: 7px;
}
.login_inputbox .inner input.id:first-of-type {
    margin-top: 20px;
}
.login_inputbox .int.bg {
    height: 41px;
    border: none;
    line-height: 41px;
}
.idip_checkbox {
    margin-top: 10px;
}
.idip_checkbox .checkbox {
    float: left;
}
.idip_checkbox .checkbox.type1 label {
    vertical-align: -2px;
}
.chk_ip {
    float: right;
    margin: 0px 0 0 3px;
    color: #555;
}
.chk_ip .ip.on {
    background-position: 0px -73px;
}
.chk_ip .ip {
    display: inline-block;
    width: 17px;
    height: 13px;
    margin-right: 6px;
    line-height: 11px;
    vertical-align: -2px;
    background-position: -27px -73px;
}
.logon_option {
    border-top: 1px #aaa dashed;
    margin-top: 16px;
    padding-top: 15px;
    text-align: center;
}.logon_option a {
    font-size: 14px;
    color: #000;
}
.ban_box {
    float: right;
    width: 298px;
    background: #f3f3f3;
}
.kap_codewrap .ban_box .inner {
    height: 252px;
    margin: 48px auto 48px;
}
.ban_box .inner {
    width: 250px;
    height: 250px;
    margin: 25px auto 25px;
}
.login_wrap .login_page.kap_codewrap {
    height: 348px;
}
.logon_option a::before {
    content: "|";
    display: inline-block;
    font-size: 13px;
    color: #d7d7d7;
    padding: 0 4px 0 1px;
    vertical-align: top;
}
.logon_option a:first-child::before {
    display: none;
}
.page_menu {
    margin: 0 0 32px -8px;
}
.page_menu li {
    float: left;
    width: 50%;
}
.pmenu.on {
    border-color: #3a4892;
    background: #fff;
    color: #29367c;
    font-weight: bold;
    text-shadow: none;
}
.pmenu {
    display: block;
    height: 56px;
    line-height: 56px;
    margin-left: 8px;
    border: 2px #aaabab solid;
    border-radius: 10px;
    background: #aaabab;
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-shadow: 0px -1px #909292;
}
.con_box.brd {
    position: relative;
}
.tcenter.btn_box {
    margin-top: 20px;
}
.login_wrap .btn_box {
    margin-top: 30px;
}
.tcenter {
    text-align: center;
}

/* 메인 */
.width868 #container{width: 868px;}
.blind {
    position: absolute;
    overflow: hidden;
    visibility: hidden;
    margin: -1px;
    width: 0px;
    height: 0px;
    top: -9999px;
    font-size: 0;
}
.int.bg {
    background: #f3f3f3;
}
.int {
    width: 100%;
    height: 35px;
    padding: 0px 9px 0 9px;
    line-height: 35px;
    border: 1px #dedcde solid;
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
}
.btn_blue.small.btn_wfull {
    border-radius: 0;
    width: 100%;
    height: 41px;
    line-height: 39px;
    margin: 7px 0 0 0;
    font-size: 14px;
    overflow: hidden;
}
.btn_lightgreen.small, .btn_yeongrey.small, .btn_lightpurple.small, .btn_blue.small, .btn_lightblue.small, .btn_grey.small, .btn_jeangrey.small, .btn_white.small, .btn_red.small, .btn_lightgrey.small, .btn_red.small, .btn_green.small, .btn_yeonpurple.small, .btn_mediumblue.small, .btn_yeongreen.small, .btn_yeonblue.small, .btn_tyeonblue.small {
    height: 31px;
    line-height: 29px;
    margin-left: 3px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
}
button.smaller, button.small {
    overflow: hidden;
}
.btn_blue {
    background: #3b4890;
    border-color: #29367c;
    text-shadow: 0px -1px #1d2761;
    color: #fff;
}
.btn_whitepurple, .btn_lightpurple, .btn_lightgreen, .btn_yeongrey, .btn_white_ccc, .btn_yeongrey, .btn_blue, .btn_lightblue, .btn_grey, .btn_lightgrey, .btn_white, .btn_red, .btn_jeangrey, .btn_mediumgrey {
    width: 85px;
    height: 40px;
    padding-right: 2px;
    line-height: 36px;
    margin-left: 3px;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
}
.checkbox.type1 {
    padding-left: 23px;
}
.checkbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 13px;
    line-height: 14px;
}
.checkbox.type1 input[type="checkbox"] {
    width: 17px;
    height: 17px;
}
.checkbox input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}
.checkbox.type1 input + .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 17px;
    height: 17px;
    background-position: -197px -294px;
}
.checkmark {
    background-image: url("../../img/sp_img.png");
    background-repeat: no-repeat;
}
.ip {
    font-family: tahoma,sans-serif;
    font-size: 11px;
    color: #999;
}
.sp_loginout {
    background-image: url("../../img/sp_img.png");
    background-repeat: no-repeat;
}

.clear:after {
    clear: both;
    display: block;
    visibility: hidden;
    content: "";
}
.gc_logo:after {
    clear: both;
    display: block;
    visibility: hidden;
    content: "";
}
.join_wrap .gcfoot, .login_wrap .gcfoot, .policy_wrap .gcfoot, .adult_wrap .gcfoot, .noaccess_wrap .gcfoot, .delet_wrap .gcfoot, .report_wrap .gcfoot, .woman_wrap .gcfoot, .pwcam_wrap .gcfoot {
    margin-top: 80px;
    border-top: 1px #29367c solid;
}
.gcfoot {
    clear: both;
    position: relative;
    padding-bottom: 50px;
    background: #fff;
    /* z-index: 15; */
}
.width868 .gchead, .width868 #container, .width868 .info_policy, .width868 .copyright {
    width: 868px;
}
.info_policy {
    width: 1050px;
    margin: 0px auto 0;
    padding-top: 28px;
    text-align: center;
}
.info_policy a {
    color: #333;
}
.info_policy a:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 0 10px;
    vertical-align: -1px;
    background: #d7d7d7;
}
.copyright {
    width: 1050px;
    margin: 10px auto 0;
    text-align: center;
    letter-spacing: 0;
    font-size: 12px;
    font-family: tahoma,sans-serif;
    color: #333;
}
.info_policy a:first-child:before {
    display: none;
}
.checkbox input + .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 14px;
    height: 14px;
    background-position: -264px -184px;
}
.checkmark{background-image:url("../../img/sp_img.png");background-repeat:no-repeat}
/*체크박스 디자인*/
.checkbox{position:relative;display:inline-block;vertical-align:top;padding-left:13px;line-height:14px}/*폰트 버그 line-height:14px 추가 */
.checkbox input[type="checkbox"]{position:absolute;left:0;top:0;margin:0;opacity:0;z-index:2;cursor:pointer}
.checkbox input + .checkmark{position:absolute;top:0;left:0;display:block;width:14px;height:14px;background-position:-264px -184px}
.checkbox input:checked + .checkmark{top:0;left:0px;width:14px;height:14px;background-position:-248px -184px;z-index:1}
.checkbox.type1{padding-left:23px}
.checkbox.type1 input[type="checkbox"]{width:17px;height:17px}
.checkbox.type1 input + .checkmark{position:absolute;top:0;left:0;display:block;width:17px;height:17px;background-position:-197px -294px}
.checkbox.type1 input:checked + .checkmark{top:0;left:0px;width:17px;height:17px;background-position:-197px -275px;z-index:1}
.area_links {
    position: absolute;
    top: 9px;
    right: 0;
}
.area_links ul {
    overflow: hidden;
    line-height: 17px;
}
.area_links li {
    float: left;
}
.policy_cont ol > li, ul > li {
    margin-bottom: 5px;
}
.area_links a {
    font-size: 11px;
    color: #555;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.area_links li:first-child:before {
    display: none;
}
.area_links li::before {
    content: "|";
    color: #ccc;
    font-size: 10px;
    line-height: 10px;
    padding: 0px 5px 0 4px;
    vertical-align: 1px;
}
.join_wrap #container {
    margin: 37px auto 0;
}
#container {
    width: 1050px;
    margin: 20px auto 0;
}
.cont_head {
    height: 32px;
    vertical-align: top;
    border-bottom: 2px solid #29367c;
}
.head_tit a, .head_tit {
    color: #29367c;
    font-size: 14px;
    vertical-align: -3px;
}
.con_box {
    margin: 25px 0 7px;
}
.con.ser_policy {
    padding: 0;
}
.con_box.brd.nomin {
    min-height: auto;
}
.con {
    padding: 58px 0 58px;
    margin: 0 auto;
}
.con .tit {
    font-size: 14px;
}
.font_red {
    color: #d31900;
}
.join_wrap .dotred.tit::before, .login_wrap .dotred.tit::before, .login_wrap .dot333::before, .join_wrap .dot333::before {
    margin-right: 7px;
}
.dotred::before {
    content: " ";
    display: inline-block;
    width: 3px;
    height: 3px;
    background: #d31900;
    vertical-align: 4px;
}
.policy_box .scroll {
    overflow-y: scroll;
    height: 180px;
    margin-top: 18px;
    border: 1px #bbb solid;
}
.join_wrap .policy_cont {
    padding: 24px;
}
.policy_cont {
    padding: 25px;
    line-height: 20px;
    color: #555;
}
.navcaption + .navlist {
    margin: 5px 0 25px;
}
.policy_cont .navlist {
    overflow: hidden;
    background: #f9f9f9;
    padding: 22px 23px;
    margin: 25px 0;
    line-height: 24px;
}
.policy_cont .navlist::after {
    clear: both;
    display: block;
    visibility: hidden;
    content: "";
}
.policy_cont .navlist .list {
    float: left;
    width: 50%;
}
.policy_cont .navlist {
    overflow: hidden;
    background: #f9f9f9;
    padding: 22px 23px;
    margin: 25px 0;
    line-height: 24px;
}
.policy_cont .navlist .list > li {
    margin-bottom: 0;
}
.policy_cont ol > li, ul > li {
    margin-bottom: 5px;
}
.policy_cont strong {
    display: block;
    margin-top: 7px;
}
.mb5 {
    margin-bottom: 5px;
}
.bprev_ver::before {
    content: "";
    width: 5px;
    height: 11px;
    display: inline-block;
    background: url("../../img/sp_img.png")no-repeat -124px -57px;
}
.bprev_ver a {
    color: #29367c;
}
.policy_cont a {
    color: #29367c;
    text-decoration: underline;
}
.policy_check {
    float: right;
    margin-top: 17px;
    font-size: 11.65px;
    color: #333;
}
.policy_check label {
    margin-left: 4px;
    line-height: 13px;
}
.con.pri_policy {
    margin-top: 23px;
    padding-top: 25px;
    padding-bottom: 0;
    border-top: 1px #aaa dashed;
}
.fl {
    float: left;
}
.btn_white_round.young_go {
    font-size: 12px;
    height: 21px;
    line-height: 19px;
    margin-top: -5px;
}
.btn_white_round {
    display: inline-block;
    height: 19px;
    line-height: 16px;
    padding: 0 8px;
    border: 1px solid #d5d5d5;
    border-radius: 50px;
    background: #fff;
    color: #3b4890;
    font-size: 11px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: text-top;
}
.fr {
    float: right;
}
p + .navcaption {
    margin-top: 25px;
}
.join_wrap .policy_box .btn_box {
    margin-top: 33px;
}
.join_wrap .btn_box {
    margin-top: 30px;
}
.join_wrap .btn_grey.small.bnt_next {
    width: 100px;
    height: 38px;
    line-height: 37px;
    font-size: 14px;
}
.btn_box button[class*="prev"], .btn_box button[class*="next"], .pageing_box button[class*="prev"], .pageing_box button[class*="next"] {
    outline: none;
}
.btn_lightgreen.small, .btn_yeongrey.small, .btn_lightpurple.small, .btn_blue.small, .btn_lightblue.small, .btn_grey.small, .btn_jeangrey.small, .btn_white.small, .btn_red.small, .btn_lightgrey.small, .btn_red.small, .btn_green.small, .btn_yeonpurple.small, .btn_mediumblue.small, .btn_yeongreen.small, .btn_yeonblue.small, .btn_tyeonblue.small {
    height: 31px;
    line-height: 29px;
    margin-left: 3px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
}
button.smaller, button.small {
    overflow: hidden;
}
.btn_grey {
    background: #666;
    border-color: #444;
    text-shadow: 0px -1px #474747;
    color: #fff;
}
.btn_whitepurple, .btn_lightpurple, .btn_lightgreen, .btn_yeongrey, .btn_white_ccc, .btn_yeongrey, .btn_blue, .btn_lightblue, .btn_grey, .btn_lightgrey, .btn_white, .btn_red, .btn_jeangrey, .btn_mediumgrey {
    width: 85px;
    height: 40px;
    padding-right: 2px;
    line-height: 36px;
    margin-left: 3px;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
}
.btn_lyopen {
    height: 29px;
    line-height: 27px;
    padding: 0 13px;
    color: #333;
    font-weight: bold;
    border: 1px solid #c4c4c4;
    background: #f9f9f9;
    box-sizing: border-box;
    border-radius: 2px;
}
.btn_lyopen::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 9px;
    margin-left: 7px;
    background-image: url("../../img/sp_img.png");
    background-repeat: no-repeat;
    background-position: -27px -44px;
}
.lyprivacy {
    position: absolute;
    width: 465px;
    line-height: 1.5;
    z-index: 1;
}
.lyprivacy .inner {
    position: relative;
    padding: 10px 13px 14px;
    background: #fff;
    border: 1px solid #ccc;
}
.policy_table.ly {
    margin: 11px 0 0;
}
.policy_table {
    width: 100%;
    text-align: center;
    margin: 10px 0 17px 0;
}
.policy_table.ly th {
    height: 30px;
}
.policy_table th {
    height: 40px;
    background: #f3f3f3;
}
.policy_table th, .policy_table td {
    border: 1px #ddd solid;
    vertical-align: middle;
    color: #555;
}
.policy_table tr:first-child td {
    border-top: none;
}
.sp_img {
    background-image: url("../../img/sp_img.png");
    background-repeat: no-repeat;
}
.policy_cont .navlist .list li a {
    color: #d31900;
}
.policy_cont .navlist a {
    text-decoration: none;
}
.joinpath1, .joinpath2, .joinpath3, .joinpath4 {
    width: 868px;
    height: 60px;
}
.join_wrap .cont_head {
    height: 30px;
    padding-top: 37px;
}
.policy_cont .navlist a:hover {
    text-decoration: underline;
}
.form_group:first-of-type {
    margin-top: 0;
}
.form_group {
    margin-top: 25px;
}
.form_group::after {
    clear: both;
    display: block;
    visibility: hidden;
    content: "";
}
.tip_msgbox {
    clear: both;
    margin-top: 11px;
    font-size: 12px;
    color: #999;
    text-align: left;
}
.font_red {
    color: #d31900;
}
.mt6 {
    margin-top: 6px;
}
.tip_msgbox {
    clear: both;
    margin-top: 11px;
    font-size: 12px;
    color: #999;
    text-align: left;
}
.tip_msg.error {
    color: #d31900;
}
.tip_msg.ok, .tip_msg.txt {
    color: #555;
}
.form_group {
    margin-top: 25px;
}
.login_wrap .form_tit, .join_wrap .form_tit {
    width: 193px;
}
.form_tit {
    width: 177px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.form_tit, .form_txt {
    float: left;
}
.form_txt {
    width: 500px;
}
.form_tit, .form_txt {
    float: left;
}
.pw_check.int {
    margin-top: 7px;
}
.pw_rule {
    font-size: 12px;
    text-align: left;
    position: relative;
}
.pw_rule .pw_tip {
    margin-top: 11px;
}
.pw_rule .step_tit, .pw_rule .tip_tit {
    color: #333;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 0;
}
.pw_rule .checkbox {
    padding-left: 0;
    color: #666;
    display: block;
    line-height: 20px;
}
.pw_rule .chklbl {
    position: relative;
    display: inline-block;
    padding-left: 20px;
}
.pw_rule .chklbl::before {
    position: absolute;
    top: 3px;
    left: 0;
    content: "";
    width: 14px;
    height: 14px;
    background-color: #ccc;
    border-radius: 50%;
}
.pw_rule .chklbl::after {
    content: "";
    width: 10px;
    height: 9px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 7px 0 0 2px;
    background: url('../../img/checkbox.png') no-repeat 0 0;
    background-size: 10px 8px;
}
.pw_rule .pw_step {
    margin-top: 7px;
}
.form_group.pw + .form_group.nick {
    margin-top: 22px;
}
.join_wrap .form_txt {
    width: 506px;
}
.nick .form_txt .int {
    float: left;
    width: 386px;
}
.select_box.subject_select.nick_sel, .select_box.subject_select.email_sel {
    float: left;
    margin: 0 0 0 7px;
    clear: none;
}
.subject_select.select_box {
    clear: both;
    margin: 10px 10px 0 0;
}
.select_box {
    position: relative;
    float: left;
}
.join_wrap .subject_select.nick_sel .select_area, .login_wrap .subject_select.nick_sel .select_area {
    position: absolute;
}
.subject_select.nick_sel .select_area {
    width: 86px;
}
.subject_select .select_area {
    width: 102px;
    height: 33px;
    padding: 0 8px 0 11px;
    line-height: 33px;
    border: 1px solid #cecdce;
    background: #f3f3f3;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.select_area {
    position: relative;
    cursor: pointer;
}
.subject_select .icon_option_more {
    position: absolute;
    right: 12px;
    top: 13px;
    width: 13px;
    height: 7px;
    background-position: -92px -43px;
}
.icon_option_more {
    display: inline-block;
    position: absolute;
}
.join_wrap .subject_select.nick_sel .option_box, .login_wrap .subject_select.nick_sel .option_box {
    width: 107px;
}
.subject_select.nick_sel .option_box {
    padding: 7px 8px 7px 11px;
}
.option_box.white {
    background: #fff;
}
.subject_select .option_box {
    width: 100%;
    padding: 10px 8px 10px 11px;
    background: #fff;
    border: 1px solid #ccc;
}
.option_box {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    background: #f3f3f3;
    border: 1px #ccc solid;
    padding: 6px 5px 4px;
    z-index: 20;
}
.subject_select.nick_sel li {
    font-weight: bold;
}
.subject_select .option_box li {
    line-height: 24px;
    font-size: 14px;
    color: #333;
}
.email .form_txt .int {
    float: left;
    width: 155px;
}
.select_box.subject_select.nick_sel, .select_box.subject_select.email_sel {
    float: left;
    margin: 0 0 0 7px;
    clear: none;
}
.form_group.email .tip_msgbox {
    line-height: 20px;
    margin-left: 1px;
}
.tip_deco_bar {
    position: relative;
    padding-left: 10px;
}
.tip_deco_bar::before {
    content: "-";
    position: absolute;
    left: 0;
    top: -1px;
    display: inline-block;
}
.email_agree .bg_box {
    margin: 13px 0 0;
    padding: 16px 17px 13px;
    text-align: left;
    color: #555;
    font-size: 12px;
}
.bg_box {
    padding: 43px 0 47px;
    margin: 26px 0 35px;
    background: #f3f3f3;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.email_agree .bg_box b {
    color: #333;
}
.email_agree .agree_check {
    padding-top: 8px;
}
.email_agree .checkbox {
    padding-left: 19px;
    line-height: 20px;
}
.email_agree .checkbox label {
    display: block;
    margin-top: -4px;
}
.incode_wrap {
    margin-top: 14px;
}
.incode_wrap .tip_msg {
    margin-top: 7px;
    font-size: 12px;
    color: #555;
    line-height: 22px;
}
.tip_msg + .email_agreemsg {
    margin-top: 8px;
}
.email_agreemsg {
    margin-top: 14px;
    color: #333;
    font-weight: bold;
    letter-spacing: -0.025em;
    text-indent: -2px;
}
.incode_wrap .tip_msg b {
    padding: 0 4px 0 6px;
}
.font_red {
    color: #d31900;
}
.kaebcha_box {
    position: relative;
    display: inline-block;
    height: 33px;
    border: 1px #cecdce solid;
    font-size: 0;
}
.kaebcha_box .kap_codeimg {
    display: inline-block;
    width: 125px;
    margin: 0;
    line-height: 0;
}
.kaebcha_box .kap_codeimg img {
    width: 125px;
    height: 33px;
}
.kap_codeimg img {
    width: 100%;
    height: 31px;
}
.kaebcha_box .input_kapcode {
    display: inline-block;
    width: 95px;
    height: 33px;
    line-height: 33px;
    padding: 0 13px;
    vertical-align: top;
    border: none;
    font-size: 14px;
    color: #555;
}

/* 2023/03/07 /라성준 //이용약관 */
/* 페이지 메뉴 */
.page_menu{
    margin:0 0 32px -8px
}
.page_menu li{
    float:left;width:50%
}
.page_menu.three li{
    width:33.3%
}
.page_menu.four li{
    width:25%
}
.pmenu{
    display:block;
    height:56px;
    line-height:56px;
    margin-left:8px;
    border:2px #aaabab solid;
    border-radius:10px;
    background:#aaabab;
    font-size:16px;color:#fff;
    text-align:center;
    text-shadow: 0px -1px #909292
}
.pmenu.on{
    border-color:#3a4892;
    background:#fff;
    color:#29367c;
    font-weight:bold;
    text-shadow:none
}

/* 약관 */
.policy_wrap .bottom_btn_box{
    padding-top:5px
}
.policy_wrap .cont_head{
    position:relative
}
.policy_wrap .head_tit a, .policy_wrap .head_tit{
    vertical-align:top
}
.head_tit .headmenu{
    color:#999
}
.head_tit .headmenu:hover{
    text-decoration:none
}
.head_tit .headmenu > span:hover{
    text-decoration:underline
}
.head_tit .headmenu.on{
    color:#29367c
}
.headmenu::before{
    content:"|";
    font-size:14px;
    color:#ccc;
    font-weight:normal;
    margin:0 10px 0 8px
}
.headmenu:first-child::before{
    display:none
}
.btn_blue.smallest.btn_prev_go{
    display:inline-block;
    height:16px;
    padding:0 12px;
    line-height:16px;
    text-align:center;
    margin-left:4px
}
.btn_blue.smallest.btn_prev_go:hover{
    text-decoration:none
}
.start_date{
    position:relative;
    height:18px;
    color:#555
}
.start_date .inner{
    position:absolute;
    top:12px;
    right:0
}
.policy_cont{
    padding:26px 23px;
    color:#555;
    line-height:18px
}
.policy_cont strong{
    display:block;
    margin-top:13px
}
.policy_cont strong:first-child{
    margin-top:0
}
.policy_cont.privacy strong:first-child{
    margin-top:13px
}
.policy_cont.privacy li:first-child strong{
    margin-top:0
}

.policy_cont strong.stit{
    margin-top:7px
}
.policy_cont ol > li > ol{
    margin-left:5px
}

.navlist{
    overflow:hidden;
    background:#f9f9f9;
    padding:22px 23px;
    margin:25px 0;
    line-height:24px
}
.navlist::after{
    clear:both;
    display:block;
    visibility:hidden;
    content:""
}
.policy_cont .navlist a{
    text-decoration:none
}
.policy_cont .navlist a:hover{
    text-decoration:underline
}
ol > li,ul > li{
    margin-bottom:5px
}
.privacy ol>li>ol>li,.privacy ol>li>ul>li{
    margin-bottom:5px
}
ol>li>ul>li, ol>li>ol>li,.privacy ol>li>ul>li>ol>li{
    margin-bottom:0px
}

.privacy .list{
    float:left;
    width:50%
}
.privacy .list > li{
    margin-bottom:0
}
.privacy .list li a{
    color:#d31900
}
.policy_table{
    width:100%;
    text-align:center;
    margin:10px 0 35px 0
}
.policy_table th,.policy_table td{
    border:1px #ddd solid;
    vertical-align:middle;
    color:#555
}
.policy_table th{
    height:40px;
    background:#f3f3f3
}
.policy_table tr:first-child td{
    border-top:none
}
.policy_table td{
    padding:15px
}
.manager_info{
    overflow:hidden;
    padding:19px 24px 18px;
    margin:20px 0;
    background:#f3f3f3
}
.manager_cont{
    float:left;
    width:50%;
    line-height:24px
}
.policy_cont.privacy .manager_info strong{
    margin-top:0
}
.policy_cont a{
    color:#29367c;
    text-decoration:underline
}

/* 개인정보처리방침 레이어 버튼 */
.btn_lyopen{
    height:29px;
    line-height:27px;
    padding:0 13px;color:#333;
    font-weight:bold;border:1px solid #c4c4c4;
    background:#f9f9f9;box-sizing:border-box;
    border-radius:2px
}
.btn_lyopen::after{
    content:"";
    display:inline-block;
    width:6px;height:9px;
    margin-left:7px;
    background-image:url('../../img/sp_img.png');background-repeat:no-repeat;
    background-position:-27px -44px
 }

/*회원가입 로그인*/
.con_box{
    margin:25px 0 7px
}
.con_box.brd{
    min-height:398px;
    border:1px #cecdce solid;
    border-radius:5px
}
.con_box.brd.nomin{
    min-height:auto
}
.con_box.bluebrd{
    border:2px #29367c solid;
    border-radius:5px
}
.con{
    padding:58px 0 58px;
    margin:0 auto
}
.con.changform_box{
    padding:78px 0 73px;
    position:relative
}
.con.innerbox{
    width:660px
}
.login_wrap .con.innerbox{
    width:605px
}
.login_wrap .member_out .con.innerbox {
    width:650px
}
.con.innerbox .info_txt{
    padding-left:5px
}
.login_wrap .con.innerbox .info_txt{
    padding-left:13px;
    word-break:keep-all
}
.con .tit{
    font-size:14px
}
.con.innerbox .tit{
    padding-left:4px
}
.con.center{
    padding-top:134px;
    text-align:center;
    line-height:25px;
    font-size:14px;
    color:#555
}
.con.center .tit{
    display:block;
    font-size:16px;
    color:#d31900
}
.con.center .txt{
    margin-top:1px
}
.con.center .btn_box{
    margin-top:11px
}
.con.center .btn_box{
    margin-top:11px
}
.con.center .int[type="password"]{
    width:290px;
    margin-top:9px
}
.bg_box{
    padding:43px 0 47px;
    margin:26px 0 35px;
    background:#f3f3f3;
    border-radius:2px;
    text-align:center;
    font-size:14px;
    color:#333
}
.form_box{
    width:290px;
    margin:0 auto
}
.login_wrap .con.innerbox.w552, .w552{
    width:552px
}

/* //이용약관*/
.form_txt .deco_mail {
    float: left;
    padding: 0 8px 0 8px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    line-height: 35px;
}
.con_box.brd {
    min-height: 398px;
    border: 1px #cecdce solid;
    border-radius: 5px;
}
.con_box {
    margin: 25px 0 7px;
}
.con.joinform_box {
    width: 703px;
    padding: 49px 0 48px;
}
.con {
    padding: 58px 0 58px;
    margin: 0 auto;
}
.incode_wrap .code_inputbox {
    float: left;
    width: 216px;
    border: 1px #29367c solid;
}
.incode_wrap .code_input {
    float: left;
    width: 145px;
    height: 33px;
    line-height: 33px;
    padding: 0 9px;
    border: none;
    background: #fff;
    font-size: 14px;
    color: #555;
}
.incode_wrap .btn_codeok {
    float: right;
    width: 53px;
    height: 33px;
    border-left: 1px #29367c solid;
    background: #3b4890;
    color: #fff;
    font-weight: bold;
    text-shadow: 0px -1px #1d2761;
    line-height: 33px;
}
.incode_wrap .btn_white.small.btn_recode {
    float: left;
    width: 120px;
    height: 35px;
    line-height: 33px;
    border-radius: 0;
    margin-left: 5px;
}
.btn_white {
    background: #fff;
    border-color: #29367c;
    color: #29367c;
    margin-left: 0;
}
.icon_pwinfo_open {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-position: -242px -229px;
    vertical-align: top;
}
.step_box .btm_box {
    width: 100%;
    height: 10px;
    overflow: hidden;
    background: #cfcfcf;
    font-size: 0;
    margin-top: 5px;
    position: relative;
}
.step_box .btm_box::before {
    left: 33.333%;
}
.step_box .btm_box::before, .step_box .btm_box::after {
    content: "";
    width: 1px;
    height: 100%;
    background: #fff;
    display: inline-block;
    position: absolute;
    z-index: 2;
}
.step_box .btm_box::after {
    right: 33.333%;
}
.step_box .btm_box::before, .step_box .btm_box::after {
    content: "";
    width: 1px;
    height: 100%;
    background: #fff;
    display: inline-block;
    position: absolute;
    z-index: 2;
}
.step_box .btm_box .bar {
    width: 33.333%;
    height: 100%;
    position: absolute;
    top: 0;
}
.pw_step .impsb_txt {
    color: #d31900;
    line-height: 18px;
    margin-top: 8px;
    padding: 0;
    min-width: 300px;
}
.subject_select .select_area {
    width: 102px;
    height: 33px;
    padding: 0 8px 0 11px;
    line-height: 33px;
    border: 1px solid #cecdce;
    background: #f3f3f3;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.select_area {
    position: relative;
    cursor: pointer;
}
.subject_select .option_box li {
    line-height: 24px;
    font-size: 14px;
    color: #333;
}
.option_box li:hover {
    text-decoration: underline;
}
.option_box li:hover {
    text-decoration: underline;
    cursor: pointer;
}
.cont_head {
    height: 32px;
    vertical-align: top;
    border-bottom: 2px solid #29367c;
}
.head_tit a, .head_tit {
    color: #29367c;
    font-size: 14px;
    vertical-align: -3px;
}
.another_go {
    position: absolute;
    text-align: right;
    box-sizing: border-box;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
}
.another_go::before {
    content: "";
    width: 5px;
    height: 11px;
    display: inline-block;
    background: url("../../img/sp_img.png")no-repeat -124px -57px;
}
.another_go {
    position: absolute;
    text-align: right;
    box-sizing: border-box;
    bottom: 20px;
    right: 20px;
    font-size: 12px;
}
.another_go a {
    color: #29367c;
}
.login_wrap .con.innerbox .info_txt {
    padding-left: 13px;
    word-break: keep-all;
}
.con.innerbox .info_txt {
    padding-left: 5px;
}
.login_wrap .info_txt {
    padding-top: 0;
    margin-top: 8px;
    color: #333;
    line-height: 22px;
}
.login_wrap .tip_deco_dot {
    margin-left: -8px;
}
.tip_deco_dot {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    background: #333;
    font-size: 0;
    vertical-align: 4px;
    margin-right: 6px;
}
.login_wrap .con.innerbox .bg_box {
    margin-bottom: 0;
    padding: 46px 0 46px;
}
.bg_box {
    padding: 43px 0 47px;
    margin: 26px 0 35px;
    background: #f3f3f3;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    color: #333;
}
.form_box {
    width: 290px;
    margin: 0 auto;
}
.btn_blue.small.btn_wrfull, .btn_lightpurple.small.btn_wrfull, .btn_grey.small.btn_wrfull {
    width: 100%;
    height: 35px;
    line-height: 33px;
    margin: 10px 0 0 0;
}
.mt45 {
    margin-top: 45px;
}
.certify_ch .btn_box a.angular, .certify_ch .btn_box a.btn_ipin.angular, .certify_ch .btn_box a.btn_phone.angular, .login_wrap .btn_box .btn_ipin.angular, .login_wrap .btn_box .btn_phone.angular, .btn_ipin.angular, .btn_phone.angular, .btn_toss {
    width: auto;
    min-width: 160px;
    height: 31px;
    line-height: 29px;
    padding: 0 20px;
    vertical-align: top;
    border-radius: 2px;
    box-sizing: border-box;
}
.btn_tyeonblue {
    background: #0064FF;
    border: 1px solid #0033cc;
    text-shadow: 0px -1px #1d2761;
    color: #fff;
}
.btn_toss {
    min-width: 180px!important;
    display: inline-block;
    font-size: 14px;
    margin-left: 6px;
}


