<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="content-language" content="kr">
    <title>GCInside 입니다.</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/member/member.css}"/>
    <link rel="stylesheet" th:href="@{/css/popup.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script th:src="@{/js/member/validation.js}"></script>
    <script th:src="@{/js/ctr_cookie.js}"></script>
</head>
<body>
<div id="top" class="width868 login_wrap">
    <header class="gcheader bg">
        <div class="gchead">
            <!-- 로고영역 -->
            <h1 class="gc_logo login">
                <a th:href="@{/index}"><img th:src="@{/img/gcinside_logo.png}" alt="GCInside"></a>
            </h1>
            <!-- //로고영역 -->
            <div class="area_links">
                <ul>
                    <li><a href="#">갤러리</a></li>
                    <li><a href="#">마이너갤</a></li>
                    <li><a href="#">미니갤</a></li>
                    <li><a href="#">갤로그</a></li>
                    <li><a href="#">지시뉴스</a></li>
                    <li><a href="#">지시게임</a></li>
                    <li><a href="#">지시위키</a></li>
                    <li><a href="#">이벤트</a></li>
                    <li><a href="#">지시콘</a></li>
                </ul>
            </div>
        </div>
    </header>