<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="content-language" content="kr">
  <title>GCInside 입니다.</title>
  <link rel="stylesheet" type="text/css" href="../css/member/reset.css"/>
  <link rel="stylesheet" href="../css/member/member.css">
  <link rel="stylesheet" href="../css/popup.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://www.google.com/recaptcha/api.js"></script>
  <script src="/js/member/member.js"></script>
</head>
<body>
    <div id="top" class="width868 login_wrap">
        <header class="gcheader bg">
            <div class="gchead">
                <!-- 로고영역 -->
                <h1 class="gc_logo">
                  <a href="../index.html"><img src="../img/dcin_logo2.png" alt="GCInside"></a>
                </h1>
                <!-- //로고영역 -->
                <div class="area_links">
                    <ul>
                      <li><a href="#">갤러리</a></li>
                      <li><a href="#">마이너갤</a></li>
                      <li><a href="#">미니갤</a></li>
                      <li><a href="#">갤로그</a></li>
                      <li><a href="#">지시뉴스</a></li>
                      <li><a href="#">지시게임</a></li>
                      <li><a href="#">지시위키</a></li>
                      <li><a href="#">이벤트</a></li>
                      <li><a href="#">지시콘</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main id="container">
            <div class="content idsearch">
              <article>
                <h2 class="blind">아이디 찾기</h2>
                <section id="pagemenu">
                  <h2 class="blind">페이지 메뉴</h2>
                  <ul class="page_menu clear">
                    <li><a href="./find_id.html" class="pmenu on">아이디 찾기</a></li>
                    <li><a href="./reset_pwd.html" class="pmenu">비밀번호 재설정</a></li>
                  </ul>
                </section>
                <section>
                  <div class="cont_head">
                    <h3 class="head_tit">아이디 찾기</h3>
                  </div>
                  <div id="contbox" class="con_box brd nomin">
                    <!-- 정보 입력 -->
                    <form action="#" name='findid' method="post" accept-charset="utf-8">
                        <input type="hidden" name="ci_t" value="b3c90d7b4c58b2f0f23e8c13006e4f0c" />
                    <input type="hidden" id="encData" name="encData" value="">
                    <input type="hidden" id="vendor" name="vendor" value="">
                    <input type="hidden" id="find_id_fail" name="find_id_fail" value="0">
                    <div class="con innerbox">
                      <h4 class="tit font_red">이메일을 입력해서 찾기</h4>
                      <div class="info_txt">
                        <p><em class="tip_deco_dot"></em>회원가입때 인증하신 이메일 정보를 입력해 주세요.</p>
                        <p><em class="tip_deco_dot"></em>입력하신 이메일로 아이디를 발송해드립니다.</p>
                      </div>
                      <div class="bg_box">
                        <div class="form_box">
                            <input type="text" id="security_code" name="security_code" class="int" title="이메일 입력" placeholder="이메일" maxlength="30">
                            <button type="button" class="btn_blue small btn_wrfull" onclick="find_id()">확인</button>
                        </div>
                      </div>
                      </form>
                      <div class="mt45">
                        <h4 class="tit font_red">본인인증으로 찾기</h4>
                        <div class="info_txt">
                          <p><em class="tip_deco_dot"></em>이메일을 잊으신 경우 본인인증을 통해 아이디를 찾을 수 있습니다.</p>
                          <p>단, 해당 아이디가 토스 인증으로 이미 인증이 되어있어야 하며 인증이 안 되어있으면 아이디를 찾을 수 없습니다.</p>
                        </div>
                        <div class="btn_box tcenter">
                          <!--<a href="javascript:;" onclick="open_mobile()"  class="btn_phone angular">휴대폰 인증으로 찾기</a>-->
                          <a href="#" onclick="open_toss()" class="btn_tyeonblue btn_toss">토스 인증으로 찾기</a>
                        </div>
                      </div>
                    </div>
                    <!-- //정보 입력 -->
                    <div id="other_auth_pop" class="pop_wrap type3" style="left:50%;top:50%;margin-left:-159px;margin-top:-100px;display:none;">
                        <div class="pop_content another_certify">
                            <div class="pop_head bg"><h3>인증하기</h3></div>
                            <div class="inr">
                              <strong class="stit">휴대폰 인증</strong>
                              <div class="txtbox">
                                <p>본인 명의의 휴대폰을 통한 본인인증 서비스입니다.</p>
                              </div>
                              <div class="btn_box">
                                <button type="button" class="btn_green small auto" onclick="open_mobile()">휴대폰 인증하기</button>
                              </div>
                            </div>
                          </div>
                          <button type="button" class="poply_whiteclose" onclick="open_other_auth('close')"><span class="blind">레이어 닫기</span><em class="sp_img icon_whiteclose"></em></button>
                        </div>
                    </div>
                </section>
              </article>
            </div>
          </main>
          <footer class="gcfoot">
            <div class="info_policy">
              <a href="#">회사소개</a>
              <a href="#">제휴안내</a>
              <a href="#">광고안내</a>
              <a href="#">이용약관</a>
              <a href="#"><b>개인정보처리방침</b></a>
              <a href="#">청소년보호정책</a>
            </div>
            <div class="copyright">Copyright ⓒ 2023 - 2023 gcinside. All rights reserved.</div>
          </footer>
          </div>
  </body>
</html>