<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<th:block th:replace="~{member/_header_login}"></th:block>
<script>
	//디시인사이드 로그인페이지엔 (갤러리,마이너갤,미니갤..등)없어서 숨김처리
	$(".area_links").hide();
</script>
    <main>
<div class="content login">
  <article>
    <h2 class="blind">로그인</h2>
    <section>
	    <h3 class="blind">로그인 정보 입력</h3>
	    <div class="con_box login_page kap_codewrap">
	      <div class="login_inputbox">
		      <div class="inner">
			      <form action="#" name='login'>
			      <fieldset>
			      <legend class="blind">로그인</legend>
				    <div>
				      <input type="text" id="id"name="id" title="아이디 입력" class="int id bg" placeholder="아이디" maxlength="20">
				      <input type="password" id="pw" name="pw" title="비밀번호 입력" class="int pw bg" placeholder="비밀번호" maxlength="40">
				    </div>
				    	<button type="submit" class="btn_blue small btn_wfull">로그인</button>
				    <div class="idip_checkbox clear">
				        <span class="checkbox type1"><input type="checkbox" id="checksaveid" name="checksaveid"><em class="checkmark"></em><label for="checksaveid">아이디 저장</label></span>
				    </div>
				    <div class="logon_option" style="margin-right: 20px;">
				      <a th:href="@{/member/find_id}">아이디 찾기</a>
				      <a th:href="@{/member/reset_pwd}">비밀번호 찾기</a>
				      <a th:href="@{/member/terms}">회원가입</a>
				    </div>
			      </fieldset>
			      </form>
			    </div>
            </div>
		    <!-- 광고 -->
		    <div class="ban_box">
		      <div class="inner"></div>
		  </div>
		  <!-- //광고 -->
		</div>
		</section>
	</article>
</div>
</main>
<th:block th:replace="~{member/_footer}"></th:block>
  </div>
</body>
</html>