<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<th:block th:replace="~{member/_header_join}"></th:block>
        <main class="container">
            <div class="content">
                <article>
                    <form action="policyForm" id="policyForm" method="post" style="width: 865px; margin: 0 auto;">
                        <section id="joinpath">
                            <h2 class="blind">페이지경로</h2>
                            <div class="sp_joinpath joinpath1">
                                <p class="blind">약관동의</p>
                            </div>
                        </section>
                        <section>
                            <div class="cont_head">
                                <h3 class="head_tit">약관 동의</h3>
                            </div>
                            <div class="con_box policy_box">
                    <!-- 서비스 이용약관 -->
                    <div id="service_policy" class="con ser_policy clear">
                        <h4 class="tit font_red dotred">서비스 이용약관</h4>
                        <div class="scroll" id="scroll1">
                            <div class="policy_cont">
                            <p class="navcaption">본 이용약관의 목차는 아래와 같습니다.</p>
                            <div class="navlist">
                                <ol class="list">
                                    <li><a href="#1">제1조 (목적)</a></li>
                                    <li><a href="#2">제2조 (이용자의 정의)</a></li>
                                    <li><a href="#3">제3조 (서비스의 제공)</a></li>
                                    <li><a href="#4">제4조 (서비스의 중단 및 변경)</a></li>
                                    <li><a href="#5">제5조 (탈퇴 및 자격 상실 등)</a></li>
                                    <li><a href="#6">제6조 (이용자에 대한 통지)</a></li>
                                    <li><a href="#7">제7조 (이용자의 개인정보)</a></li>
                                    <li><a href="#8">제8조 (회사의 의무)</a></li>
                                </ol>
                                <ol class="list">
                                    <li><a href="#9">제9조 (이용자의 지시 개인 아이디 및 비밀번호에 대한 의무)</a></li>
                                    <li><a href="#10">제10조 (이용자의 의무)</a></li>
                                    <li><a href="#11">제11조 (공개 게시물의 삭제 또는 이용 제한)</a></li>
                                    <li><a href="#12">제12조 (저작권의 귀속 및 게시물의 이용)</a></li>
                                    <li><a href="#13">제13조 (광고 게재 및 광고주와의 거래)</a></li>
                                    <li><a href="#14">제14조 (약관의 개정)</a></li>
                                    <li><a href="#15">제15조 (재판관할)</a></li>
                                    <li><a href="#16">제16조 (개정 전 고지의무)</a></li>
                                </ol>
                            </div>
                            <strong id="1">제1조 (목적)</strong>
                            <p>본 약관은 ㈜지시인사이드(이하 '회사')가 제공하는 지시인사이드 및 지시인사이드 관련 제반 서비스(이하 '서비스')의 이용과 관련하여 회사와 이용자의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.</p>
        
                            <strong id="2">제2조 (이용자의 정의)</strong>
                            <ol>
                              <li>① '이용자'란 본 약관에 동의하고 회사가 제공하는 서비스를 이용하는(이하 ' 이용자')와 '비회원 이용자'(일명 '유동닉')를 통칭합니다.</li>
                              <li>② ' 이용자'란 이용자가 홈페이지에서 ' 신청'을 클릭하여 회사가 정한 가입 양식을 기입하고 '동의', '확인' 등의 버튼을 누르는 방법으로  또는 '비'을 생성한 이용자를 말합니다.</li>
                              <li>③ 이란 이용자가 기재한 문자 숫자 조합이 다른 ' 이용자' 간에 중복되지 않도록 하는 것을 말하고, '비'은 이용자가 기재한 문자 숫자 조합이 다른 '비 이용자' 간에 중복이 가능하도록 하는 것을 말합니다.  이용자는 과 '비'간의 전환 및 변경을 할 수 있습니다.</li>
                              <li>④ '비회원 이용자'란  혹은 '비'을 신청하지 않은 상태로 회사가 제공하는 서비스를 이용하는 이용자를 말합니다. '비회원 이용자'는 이용자가 작성한 닉네임 뒤에 IP의 일부가 '(000.000)' 형태로 표기됩니다.</li>
                            </ol>
                            <strong id="3">제3조 (서비스의 제공)</strong>
                            <ol>
                              <li>① 회사는 이용자에게 아래와 같은 서비스를 제공합니다.
                                  <ol>
                                    <li>1. 커뮤니티 서비스 (갤러리 등)</li>
                                    <li>2. 검색, 지시콘, 지시위키 서비스</li>
                                    <li>3. 기타 회사가 자체 개발하거나 다른 회사와의 협력 계약 등을 통해 이용자들에게 제공할 일체의 서비스</li>
                                  </ol>
                              </li>
                              <li>② 회사는  이용자에게 아래와 같은 서비스를 제공합니다
                                  <ol>
                                    <li>1. 개인화 서비스 (갤로그 등)</li>
        
                                  </ol>
                              </li>
                            </ol>
        
                            <strong id="4">제4조 (서비스의 중단 및 변경)</strong>
                            <ol>
                              <li>① 회사는 365일, 24시간 원활한 서비스 제공을 위해 최선을 다하고 있습니다. 다만, 컴퓨터 등 정보통신 설비의 보수 점검, 교체 및 고장, 통신 두절 등의 사유가 발생한 경우 일부 또는 전체 서비스의 제공을 제한하거나 중단할 수 있습니다.</li>
                              <li>또는, 제4조에서 제공하는 서비스를 운영 및 개선의 목적으로, 혹은 회사가 적절하다고 판단하는 사유에 기해 변경하거나 종료할 수 있습니다.</li>
                              <li>② 회사는 제1항에 의한 일부 서비스 제한 및 중단에 대해 예측 가능한 경우 상당 기간 전에 이를 안내하며, 예측 불가능한 경우라면 지체 없이 상세히 설명하고 안내드리겠습니다.</li>
                              <li>또한, 서비스 종료의 경우에 회사는 제7조에서 정한 방법으로 이용자에게 통지합니다. 단, 회사가 통제할 수 없는 사유로 인한 서비스의 중단(시스템 관리자의 고의, 과실이 없는 디스크 장애, 시스템 다운 등)으로 인하여 사전 통지가 불가능한 경우에는 예외로 합니다. 이러한 경우에도 회사가 상황을 파악하는 즉시 최대한 빠른 시일 내에 서비스를 복구하도록 노력하겠습니다.</li>
                            </ol>
        
                            <strong id="5">제5조 ( 탈퇴 및 자격 상실 등)</strong>
                            <ol>
                              <li>①  이용자는 회사에 언제든지 자신이 보유한 의 탈퇴를 요청할 수 있으며 회사는 위 요청을 받은 즉시 해당  탈퇴를 위한 절차를 밟습니다.</li>
                              <li>②  탈퇴가 이루어진 경우  이용자의 게시물 중 개인 영역(갤로그 서비스 중 방명록)에 등록된 게시물 일체는 삭제됩니다. 다만, 커뮤니티 서비스, 기타 공용 게시판 등에 등록된 게시물은 삭제되지 않습니다.</li>
                              <li id="5-1">③  이용자가 다음 각 호의 사유에 해당하는 경우, 회사는  이용자의 자격을 적절한 방법으로 제한 및 정지, 상실시킬 수 있습니다.
                                  <ol>
                                    <li>1.  신청 시에 허위 내용을 등록한 경우</li>
                                    <li>2. 다른 사람의 서비스 이용을 방해하거나 그 정보를 도용하는 등 전자거래질서를 위협하는 경우</li>
                                    <li>3. 서비스를 이용하여 법령과 본 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우</li>
                                  </ol>
                              </li>
                              <li>④ 회사가  이용자의 자격을 상실시키기로 결정한 경우에는 등록된 을 말소합니다.</li>
                              <li>⑤ 11개월 동안 로그인 기록이 없는 은 자동 탈퇴됩니다. 자동 탈퇴 전 로그인 기록이 갱신될 경우 자동 탈퇴되지 않습니다.</li>
                              <li>자동으로 탈퇴 시 커뮤니티 서비스, 기타 공용 게시판 등에 등록된 게시물은 자동 삭제되지 않으므로 삭제를 원하는 경우에는 반드시 자동 탈퇴 전에 로그인 후 삭제하시기 바랍니다.</li>
                            </ol>
        
                            <strong id="6">제6조 (이용자에 대한 통지)</strong>
                            <p>회사가 전체 이용자에 대한 통지를 하는 경우 7일 이상 공지사항 게시판에 게시함으로써 개별 통지에 갈음할 수 있습니다.</p>
        
                            <strong id="7">제7조 ( 이용자의 개인정보)</strong>
                            <p>회사는 서비스를 제공하기 위하여 관련 법령의 규정에 따라  이용자로부터 최소한의 개인정보만 수집합니다. (개인정보에 대한 개별 항목은 개인정보처리방침에서 고지)</p>
        
                            <strong id="8">제8조 (회사의 의무)</strong>
                            <ol>
                              <li>① 회사는 법령과 본 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 본 약관이 정하는 바에 따라 지속적이고, 안정적으로 서비스를 제공하기 위해서 노력합니다.</li>
                              <li>② 회사는 이용자가 안전하고 편리하게 서비스를 이용할 수 있도록 시스템을 구축합니다.</li>
                              <li>③ 회사는 이용자가 원하지 않는 영리목적의 광고성 이메일을 발송하지 않습니다.</li>
                              <li>④ 회사는 이용자가 서비스를 이용함에 있어 회사의 고의 또는 과실로 인하여 손해를 입게 될 경우 관련 법령에 따라 이용자의 손해를 배상할 책임이 있습니다.</li>
                              <li>다만, 회사의 과실 없이 천재지변 또는 이에 준하는 불가항력으로 인하여 회사가 서비스를 제공할 수 없거나 이용자의 고의 또는 과실로 인하여 서비스를 이용할 수 없어 발생한 손해에 대해서는 책임을 부담하지 않습니다.</li>
                              <li>또한, 회사의 서비스를 매개로 한 이용자 상호 간의 의견 교환, 거래 등에서 발생한 손해나 이용자가 서비스 상에 게재된 타인의 게시물 등의 콘텐츠를 신뢰함으로써 발생한 손해에 대해서도 회사는 특별한 사정이 없는 한 이에 대해 책임을 부담하지 않습니다.</li>
                            </ol>
        
                            <strong id="9">제9조 ( 이용자의 지시 개인 아이디 및 비밀번호에 대한 의무)</strong>
                            <ol>
                              <li>① 회사가 관계법령, ‘개인정보보호 정책’에 의해서 그 책임을 지는 경우를 제외하고,  신청 시 기입한 자신의 '지시 개인 아이디'(이하 '아이디')와 비밀번호에 관한 관리 책임은 각  이용자에게 있습니다.</li>
                              <li>②  이용자는 자신의 아이디 및 비밀번호를 제3자에게 이용하게 해서는 안 됩니다.</li>
                              <li>③  이용자는 자신의 아이디 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 회사에 통보하고 회사의 안내가 있는 경우에는 그에 따라야 합니다.</li>
                            </ol>
        
                            <strong id="10">제10조 (이용자의 의무)</strong>
                            <ol>
                              <li>① 이용자는 다음 각 호의 행위를 하여서는 안 됩니다.
                                  <ol>
                                    <li>1.  신청 또는 변경 시 허위 내용을 등록하는 행위</li>
                                    <li>2. 회사 및 제3자의 지적재산권, 저작권을 침해하거나 회사의 권리와 업무 또는 제3자의 권리와 활동을 방해하는 행위</li>
                                    <li>3. 다른 이용자의 아이디를 도용하는 행위</li>
                                    <li>4. 관련 법령에 의하여 전송 또는 게시가 금지되는 정보(컴퓨터 프로그램, 불법 유해 정보 등)의 게시 또는 전송하는 행위</li>
                                    <li>5. 회사의 직원 또는 서비스의 관리자를 가장하거나 타인의 명의를 도용하여 정보를 게시, 전송하는 행위</li>
                                    <li>6. 컴퓨터 소프트웨어, 하드웨어, 전기통신 장비의 정상적인 가동을 방해, 파괴할 목적으로 고안된 소프트웨어 바이러스, 기타 다른 컴퓨터 코드, 파일, 프로그램을 포함하고 있는 자료를 게시하거나 전송하는 행위</li>
                                    <li>7. 스토킹(stalking) 등 다른 이용자를 괴롭히는 행위</li>
                                    <li>8. 다른 이용자 및 제3자에 대한 개인정보를 그 동의 없이 수집, 저장, 공개하는 등의 개인정보 침해 행위 및 명예훼손을 하는 행위</li>
                                    <li>9. 불특정 다수의 자를 대상으로 하여 광고 또는 선전을 게시하거나 음란물, 청소년 유해매체물, 불법 촬영물 등을 게시하는 행위</li>
                                    <li>10. 회사가 제공하는 갤로그 및 관련 서비스에 게시된 공지사항 규정을 위반하는 행위</li>
                                  </ol>
                              </li>
                              <li id="10-2">② 제1항에 해당하는 행위를 한 이용자가 있을 경우 회사는 본 약관 제6조 제3항에서 정한 바에 따라 이용자의 서비스 이용 자격을 적절한 방법으로 제한 및 정지, 상실시킬 수 있습니다.</li>
                              <li>③ 이용자는 그 귀책사유로 인하여 회사나 다른 이용자가 입은 손해를 배상할 책임이 있습니다.</li>
                            </ol>
        
                            <strong id="11">제11조 (공개 게시물의 삭제 또는 이용 제한)</strong>
                            <ol>
                              <li>① 이용자의 공개 게시물의 내용이 다음 각 호에 해당하는 경우 회사는 해당 공개 게시물에 대한 접근을 임시적으로 차단하는 조치를 취할 수 있고, 7일 이내에 각 호의 동일 사례가 2회 이상 반복되는 경우 해당 게시물을 삭제 또는 해당 이용자의 이용 자격을 제한, 정지 또는 상실시킬 수 있습니다.
                                  <ol>
                                    <li>1. 다른 이용자 또는 제3자를 비방하거나 중상모략으로 명예를 손상시키는 내용</li>
                                    <li>2. 음란물, 청소년 유해매체물, 불법 촬영물, 욕설 등 공서양속에 위반되는 내용의 정보, 문장, 도형 등을 유포하는 내용</li>
                                    <li>3. 범죄행위, 불법 유해 정보와 관련이 있다고 판단되는 내용</li>
                                    <li>4. 다른 이용자 또는 제3자의 저작권 등 기타 권리를 침해하는 내용</li>
                                    <li>5. 종교적, 정치적 분쟁을 야기하는 내용으로서, 이러한 분쟁으로 인하여 회사의 업무가 방해되거나 방해되리라고 판단되는 경우</li>
                                    <li>6. 타인의 개인정보, 사생활을 침해하거나 명예훼손을 시키는 경우</li>
                                    <li>7. 동일한 내용을 중복하여 다수 게시하는 등 게시의 목적에 어긋나는 경우</li>
                                    <li>8. 불필요하거나 승인되지 않은 광고, 판촉물을 게재하는 경우</li>
                                  </ol>
                              </li>
                              <li>② 이용자의 공개 게시물로 인한 법률상 이익 침해를 근거로, 다른 이용자 또는 제3자가 이용자 또는 회사를 대상으로 하여 민형사상의 법적 조치(예: 고소, 가처분 신청, 손해배상청구소송)를 취하는 동시에 법적 조치와 관련된 게시물의 삭제를 요청해오는 경우, 회사는 동 법적 조치의 결과(예: 검찰의 기소, 법원의 가처분 결정, 손해배상 판결)가 있을 때까지 관련 게시물에 대한 접근을 잠정적으로 제한할 수 있습니다.</li>
                            </ol>
        
                            <strong id="12">제12조 (저작권의 귀속 및 게시물의 이용)</strong>
                            <ol>
                              <li>① 회사가 작성한 저작물에 대한 저작권, 기타 지적재산권은 회사에 귀속합니다.</li>
                              <li>② 이용자는 회사가 제공하는 서비스를 이용함으로써 얻은 정보를 회사의 사전 승낙 없이 복제, 전송, 출판, 배포, 방송, 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안 됩니다.</li>
                              <li>③ 이용자가 서비스 내에 게시한 게시물의 저작권은 게시한 이용자에게 귀속됩니다. 단, 회사는 서비스의 운영, 전시, 전송, 배포, 홍보의 목적으로 이용자의 별도의 허락 없이 무상으로 '저작권법'에 규정하는 공정한 관행에 합치되게 합리적인 범위 내에서 다음과 같이 이용자가 등록한 게시물을 사용할 수 있습니다.
                                <li>1. 서비스 내에서 이용자 게시물의 복제, 수정, 개조, 전시, 전송, 배포 및 저작물성을 해치지 않는 범위 내에서의 편집 저작물 작성</li>
                                <li>2. 미디어, 통신사 등 서비스 제휴 파트너에게 이용자의 게시물 내용을 제공, 전시 혹은 홍보하게 하는 것. 단, 이 경우 회사는 별도의 동의 없이 이용자의 개인정보를 제공하지 않습니다.</li>
                              </li>
                              <li>3. 회사는 전 항 이외의 방법으로 이용자의 게시물을 이용하고자 하는 경우, 전화, 팩스, 이메일 등의 방법을 통해 사전에 이용자의 동의를 얻어야 합니다.</li>
                            </ol>
        
                            <strong id="13">제13조 (광고 게재 및 광고주와의 거래)</strong>
                            <ol>
                              <li>① 회사가 이용자에게 서비스를 제공할 수 있는 서비스 투자기반의 일부는 광고 게재를 통한 수익으로부터 나옵니다. 이용자는 이용자가 등록한 게시물의 내용을 활용한 광고 게재 및 기타 서비스상에 노출되는 광고 게재에 대해 동의합니다.</li>
                              <li>② 회사는 서비스상에 게재되어 있거나 서비스를 통한 광고주의 판촉활동에 이용자가 참여하거나 교신 또는 거래를 함으로써 발생하는 손실과 손해에 대해 책임을 지지 않습니다.</li>
                            </ol>
        
                            <strong id="14">제14조 (약관의 개정)</strong>
                            <ol>
                              <li>① 회사는 '정보통신망 이용촉진 및 정보보호 등에 관한 법률', '약관의 규제에 관한 법률' 등 관련 법령을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.</li>
                              <li>② 다만, 개정 내용이 이용자에게 불리할 경우에는 적용일자 14일 이전부터 적용일자 전일까지 공지합니다.</li>
                              <li>③ 이용자는 변경된 약관에 대해 거부할 권리가 있습니다. 이용자는 변경된 약관이 공지된 후 14일 이내에 거부 의사를 표명할 수 있습니다. 이용자가 거부하는 경우 회사는 당해 이용자와의 이용계약을 해지할 수 있습니다. 만약 이용자가 변경된 약관이 공지된 후 14일 이내에 거부 의사를 표하지 않는 경우에는 동의하는 것으로 간주합니다.</li>
                            </ol>
        
                            <strong id="15">제15조 (재판관할)</strong>
                            <p>회사와 이용자 간에 발생한 서비스 이용에 관한 분쟁에 대하여는 대한민국 법을 적용하며, 본 분쟁으로 인한 소는 민사소송법상의 관할을 가지는 대한민국의 법원에 제기합니다.</p>
        
                            <strong id="16">제16조 (개정 전 고지의무)</strong>
                            <p class="mb5">본 이용약관의 내용 추가, 삭제 및 수정이 있을 경우 개정 최소 7일 전에 회사 서비스 내의 공지사항을 통하여 사전 공지를 할 것입니다.</p>
                            <ul>
                              <li>- 공고일자: 2021년 12월 13일</li>
                              <li>- 시행일자: 2021년 12월 27일</li>
                            </ul>
        
                          </div>
                        </div>
                        <div class="policy_check">
                          <span class="checkbox">
                            <input type="checkbox" id="service_agree" disabled>
                            <em class="checkmark"></em>
                            <label for="service_agree">내용을 확인하였으며, 동의합니다.</label>
                          </span>
                        </div>
                            <span style="float: right; padding: 15px; color: blue;">• 스크롤을 내리면 동의체크가 가능합니다.</span>
                      </div>
                      <!-- //서비스 이용약관 -->
                      <!-- 개인정보 수집 및 이용 약관 -->
                          <div id="privacy_policy" class="con pri_policy clear">
                            <div class="clear">
                              <h4 class="tit font_red dotred fl">개인정보처리방침</h4>
                            </div>
                            <!--scroll-->
                            <div class="scroll" id="scroll2">
                              <!--211209 policy_cont -->
                              <!-- 지시인사이드 개인정보처리방침 -->
                              <div class="policy_cont privacy">
                               <p>
                        ㈜지시인사이드(이하 '회사')는 이용자의 개인정보보호를 매우 중요시하며, 이용자가 회사의  관련 서비스(이하 '서비스')를 이용함과 동시에 온라인상에서 회사에 제공한 개인정보가 보호받을 수 있도록 최선을 다하고 있습니다. 이에 회사는 정보통신서비스 제공자가 준수하여야 하는 개인정보보호법 등 국내의 개인정보보호 법령을 철저히 준수합니다. 회사는 개인정보처리방침을 통하여 이용자들이 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.
                      </p>
                      <p class="navcaption">본 개인정보처리방침의 목차는 아래와 같습니다.</p>
                      <div class="navlist">
                        <ol class="list">
                          <li><a href="#21">1. 개인정보의 수집 목적 및 이용 목적</a></li>
                          <li><a href="#22">2. 개인정보 수집 항목 및 수집 방법</a></li>
                          <li><a href="#23">3. 개인정보 수집에 대한 동의</a></li>
                          <li><a href="#24">4. 개인정보의 제공 및 위탁</a></li>
                          <li><a href="#25">5. 개인정보 열람, 정정</a></li>
                          <li><a href="#26">6. 개인정보의 보유 및 이용기간</a></li>
                          <li><a href="#27">7. 개인정보의 파기절차 및 방법</a></li>
        
                        </ol>
                        <ol class="list">
                          <li><a href="#28">8. 개인정보 보관 및 보호를 위한 기술적, 관리적 대책</a></li>
                          <li><a href="#29">9.  이용자 및 법정대리인의 권리와 행사방법</a></li>
                          <li><a href="#30">10. 개인정보 자동 수집 장치의 설치와 운영 및 거부에 관한 사항</a></li>
                          <li><a href="#31">11. 개인정보보호 책임자에 관한 사항</a></li>
                          <li><a href="#32">12. 권익침해 구제방법</a></li>
                          <li><a href="#33">13. 개정 전 고지의무</a></li>
                        </ol>
                      </div>
        
                      <ol>
                        <li id="21">
                          <strong>1. 개인정보의 수집 목적 및 이용 목적</strong>
                          <p>
                            개인정보란 생존하는 개인에 관한 정보로서 해당 이용자 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함함)를 말합니다.
                          </p>
        
                          <strong class="stit" style="margin-top:7px">개인정보 수집 목적</strong>
                          <p>회사가 이용자 개인의 정보를 수집하는 목적은 이용자에게 최적의 서비스를 제공하기 위한 것입니다.</p>
                          <p>회사는 각종의 콘텐츠를 무료로 서비스하고 있습니다. 이 때 이용자가 제공한 개인정보를 바탕으로 이용자에게 보다 더 유용한 정보를 선택적으로 제공하는 것이 가능하게 됩니다. 회사는 보다 나은 서비스를 제공하기 위해서 광고를 게재합니다. 이 때에도 이용자 개인에 대한 정보를 바탕으로 좀더 유용한 정보로써 가치가 있는 광고를 선별적으로 전달할 수 있게 됩니다.</p>
                          <strong style="margin-top:7px">개인정보 이용 목적</strong>
                          <p>서비스 이용에 따른 본인확인, 개인 식별, 불량  이용자의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인,  아동 개인정보 수집 시 법정대리인 정보 및 동의 여부 확인, 불만 처리, 민원처리, 고지사항 전달, 기타 의사소통을 위한 절차 및 이벤트, 개인 맞춤 서비스, 연령별 서비스, 인구통계학적 분석 등 정보의 전달을 위한 절차에 이용될 수 있습니다.</p>
        
                        </li>
        
        
        
                        <li id="22">
                          <strong>2. 개인정보 수집 항목 및 수집 방법</strong>
                          <p>회사는 원활한 서비스 제공을 위해 다음과 같은 최소한의 개인정보를 수집하고 있습니다.</p>
        
                          <strong class="stit">&lt; 신청 시&gt;</strong>
                          <p>- 지시 개인 아이디, 비밀번호, 닉네임, 의 경우 법정대리인 정보(개인식별용 키값)</p>
        
                          <strong>&lt;서비스 이용 시&gt;</strong>
                          <p>- 서비스 이용 기록, 쿠키, IP 주소, 기기 정보, 결제 내역, 불량 이용 기록, 성인 인증 값 등</p>
        
                          <strong>&lt;서비스 이용 시 기기 정보 상세&gt;</strong>
                          <p>- PC웹: Window, Mac 등 OS 버전 및 웹 브라우저(Chrome, Safari 등) 버전 정보</p>
                          <p>- 모바일웹: 단말기 OS 버전 및 웹 브라우저(Chrome, Safari 등) 버전 정보</p>
                          <p>- 앱: 댓글 알림 등 푸시 알림 전송(구글 FCM: Firebase Cloud Message 서비스 사용)을 위한 기기별 고유 식별자</p>
        
                          <div style="position:relative;margin:15px 0 20px">
                            <button type="button" class="btn_lyopen" onclick="$('#privacy_add_coll').toggle()">개인정보를 추가 수집하는 경우</button>
        
                            <div id="privacy_add_coll" class="lyprivacy" style="left:0;top:40px;display:none">
                              <div class="inner">
                                <p class="lyprivacy_txt">서비스 이용에 따라 필요한 개인정보가 추가로 수집될 수 있습니다.</p>
                                <table class="policy_table ly">
                                  <caption class="blind">서비스 제공 수탁업체 테이블 </caption>
                                  <colgroup>
                                    <col style="width:105px">
                                    <col>
        
                                  </colgroup>
                                  <thead>
                                    <tr>
                                      <th scope="col">서비스 내용 </th>
                                      <th scope="col">개인정보 수집 항목</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        게시물 신고
                                      </td>
                                      <td class="alignleft">
                                        이용자의 문의/답변 내용에 포함된 개인정보, 저작권/개인정보 침해 신고 시 사업자등록증 사본/개인 신분증 사본/위임장 정보(대리인 정보) 등
                                      </td>
        
                                    </tr>
                                    <tr>
                                      <td>불법촬영물 등 신고</td>
                                      <td class="alignleft">
                                      이메일, 이름(기관, 단체명)
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>자기 게시물<br> 접근배제 신고</td>
                                      <td class="alignleft">이메일(조치 결과 안내 후 파기), 첨부파일에 작성한 이름</td>
                                    </tr>
                                    <tr>
                                      <td>이벤트 응모 및 경품 배송</td>
                                      <td class="alignleft">지시 개인 아이디, 닉네임, 이메일, 이름, 휴대폰 번호, 주소<br>
                                      <span style="font-family:dotum;font-size:12px;line-height:12px">※</span> 이벤트 종료 및 경품 배송 후 즉시 파기</td><!-- 220609-->
                                    </tr>
                                    <tr>
                                      <td>OTP 로그인<br /> 이용</td>
                                      <td class="alignleft">개인식별용 키값(아이핀 또는 휴대폰 인증 시)</td>
                                    </tr>
        
                                                      <tr>
                                                            <td>지시 로터리<br> 당첨</td>
                                                            <td class="alignleft">
                                                              <!-- 220822 수정-->
                                        <p>상금: 통장 사본, 신분증(주민등록증 또는 운전면허증) 사본</p>
                                        <p>상품권: 신분증(주민등록증 또는 운전면허증) 사본</p>
                                        <p><span style="font-family:dotum;font-size:12px;line-height:12px">※</span> 경품 제공 및 세금 신고 후 즉시 파기</p>
                                                            </td>
                                                      </tr>
                                    <tr>
                                      <td>지시콘샵에서<br>지시콘을 등록</td>
                                      <td class="alignleft">제작자 닉네임, IP 주소<br><span style="font-family:dotum;font-size:12px;line-height:12px">※</span>  탈퇴 시 즉시 파기</td>
                                    </tr>
                                  </tbody>
                                </table>
                                <button type="button" class="poply_close" onclick="$('#privacy_add_coll').hide()"><em class="sp_img icon_tipclose"></em></button>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li id="23">
                          <strong>3. 개인정보 수집에 대한 동의</strong>
                          <p>회사는 이용자가  신청을 할 경우(이하 ' 이용자') 최소한의 개인정보 수집 항목에 대하여 동의를 받고 있습니다.</p>
                          <p> 신청 절차 중 이용약관 및 개인정보처리방침에 개인정보 수집 동의절차에서 해당 이용약관 동의란에 체크하게 되면 개인정보 수집에 대해 동의한 것으로 간주합니다.</p>
                        </li>
                        <li id="24">
                          <strong>4. 개인정보의 제공 및 위탁</strong>
                          <p class="mb5">
                            회사는 이용자의 사전 동의 없이 개인정보를 외부에 제공하지 않습니다. 단, 이용자가 외부 제휴사의 서비스를 이용하기 위하여 개인정보 제공에 직접 동의를 한 경우에 한하여 개인정보를 제공하고 있습니다. 그리고 다음의 경우에는 예외적으로 동의 없이 개인정보를 제공할 수 있습니다.
                          </p>
                          <ul>
                            <li>- 법령의 규정에 의거하거나, 수사상 목적으로 법령에 정해진 절차와 방법에 따라 관련 기관의 요구가 있는 경우</li>
                            <li>- 이용자의 생명이나 안전에 급박한 위험이 확인되어 이를 해소하기 위한 경우</li>
                          </ul>
                          <strong class="stit">개인정보의 처리 위탁</strong>
                          <p>회사는 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.</p>
                          <p>회사가 수탁업체에 위탁하는 업무와 관련된 서비스를 이용하지 않는 경우, 이용자의 개인정보는 수탁업체에 제공되지 않습니다.</p>
        
                          <table class="policy_table" style="margin:10px 0 12px 0">
                            <caption class="blind">서비스 제공 수탁업체 테이블 </caption>
                            <colgroup>
                              <col style="width:33%">
                              <col style="width:33%">
                              <col style="width:34%">
                            </colgroup>
                            <thead>
                              <tr>
                                <th scope="col">수탁업체</th>
                                <th scope="col">위탁업무</th>
                                <th scope="col">개인정보 보유 및 이용 기간</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  NICE평가정보㈜, 비바리퍼블리카㈜<!-- 220808 비바리퍼블리카㈜ 추가-->
                                </td>
                                <td>
                                  <p>본인확인</p>
                                </td>
                                <td>
                                   탈퇴 시 혹은 위탁계약 종료 시까지
                                </td>
                              </tr>
        
                            </tbody>
                          </table>
                          <p class="mb5">- 회사는 위탁계약 체결 시 『개인정보보호법』 제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적·관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리·감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</p>
                          <p>- 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보처리방침을 통하여 공개하도록 하겠습니다.</p>
                          <strong>개인정보의 제3자 제공</strong>
                          <p class="mb5">회사는 이용자의 사전 동의 없이 개인정보를 외부에 제공하지 않으며, 이용자의 개인정보를 제1조(개인정보의 수집 목적 및 이용 목적)에서 명시한 범위 내에서만 처리합니다.</p>
                          <p>이용자의 동의, 법률의 특별한 규정 등 『개인정보보호법』 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.</p>
                          <table class="policy_table">
                            <colgroup>
                              <col style="width:24%">
                              <col style="width:25%">
                              <col style="width:25%">
                              <col style="width:25%">
                              <col style="width:26%">
                            </colgroup>
                            <thead>
                              <tr>
                                <th scope="col">서비스명</th>
                                <th scope="col">개인정보를 제공받는 자</th>
                                <th scope="col">개인정보 이용 목적</th>
                                <th scope="col">개인정보 항목</th>
                                <th scope="col" class="tline_two">제공받는 자의 <br />보유·이용 기간</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>지시게임</td>
                                <td>㈜스폰서</td>
                                <td>서비스 및 <br>성인 콘텐츠 제공 목적</td>
                                <td>
                                  <p>아이디,</p>
                                  <p>성인 인증 값</p>
                                </td>
                                <td> 탈퇴 시 혹은<br> 위탁계약 종료 시까지</td>
                              </tr>
                            </tbody>
                          </table>
        
                        </li>
        
                        <li id="25">
                          <strong>5. 개인정보 열람, 정정</strong>
                          <p  class="mb5"> 이용자는 언제든지 등록되어 있는 본인의 개인정보를 열람하거나 정정을 요청할 수 있습니다.  이용자 개인정보의 열람 및 정정은 회사 서비스 로그인 후 ' 정보' 메뉴를 통하여 직접 열람 또는 정정할 수 있습니다. </p>
                          <p>회사는 개인정보의 오류에 대한 정정을 요청할 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 조치하겠습니다.</p>
                        </li>
        
                        <li id="26">
                          <strong>6. 개인정보의 보유 및 이용기간</strong>
                          <p class="mb5">회사는  신청일로부터  탈퇴와 같은 개인정보 수집, 이용, 제공에 대한 동의 철회 시까지  이용자의 개인정보를 보관 및 이용하게 됩니다. 동의 철회는 회사 서비스에 로그인 후 ' 정보' 메뉴 내의 '탈퇴'를 클릭한 다음 정해진 순서에 따라 동의 철회 시  탈퇴가 완료되며 회사는  이용자의 개인정보를 파기하는 등 필요한 조치를 취합니다.</p>
                          <p class="mb5">단, 다음의 정보에 대해서는 내부 방침 및 관계법령에 따라 명시한 기간 동안 보관 후 파기합니다.</p>
                          <ol class="mb5">
                            <li>
                              <p>1) 불법적 이용자에 대한 관련 기관 수사 협조 및 부정이용 관련하여 최대 3개월간 보관 후 파기합니다.</p>
                              <p class="mb5">- 지시 개인 아이디, 닉네임, 개인식별용 키값(본인인증한 경우)</p>
                              <p>- 서비스를 불법적/부정한 형태로 이용한 기록</p>
                            </li>
                            <li>
                              <p>2) 광고, 도배, 음란물, 욕설, 개인정보 침해, 저작권 침해, 불법 등의 게시물은 통보 없이 삭제될 수 있으며, 게시물 기록에 대해서 3개월간 보관 후 파기합니다.</p>
        
                            <li>
                              <p >3) 관계법령의 규정에 의하여 보관할 필요가 있는 경우 회사는 아래와 같이 관계법령에서 정한 일정한 기간 동안  정보를 보관 후 파기합니다.</p>
                              <p class="mb5">-  이용자 접속 정보( 신청 시 IP, 최종 접속 시간): 3개월 (통신비밀보호법)</p>
                              <p class="mb5">- 표시/광고에 관한 기록: 6개월 (전자상거래 등에서의 소비자보호에 관한 법률)</p>
                              <p class="mb5">- 계약 또는 청약철회 등에 관한 기록: 5년 (전자상거래 등에서의 소비자보호에 관한 법률)</p>
                              <p class="mb5">- 대금 결제 및 재화 등의 공급에 관한 기록: 5년 (전자상거래 등에서의 소비자보호에 관한 법률)</p>
                              <p>- 소비자의 불만 또는 분쟁처리에 관한 기록: 3년 (전자상거래 등에서의 소비자보호에 관한 법률)</p>
                            </li>
        
                          </ol>
                        </li>
        
                        <li id="27">
                          <strong>7. 개인정보의 파기절차 및 방법</strong>
                          회사의 개인정보 파기절차 및 방법은 다음과 같습니다.
                          <strong class="stit">파기절차</strong>
                          <ul>
                            <li>
                              - 회사는 이용자가  신청 등을 위해 입력한 정보를 목적이 달성된 후 별도의 DB로 옮겨서(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(개인정보의 보유 및 이용기간 참조) 일정 기간 저장된 후 파기합니다.
                            </li>
                            <li>- 별도 DB로 옮겨진 개인정보는 법률에 의한 경우 외의 다른 목적으로 이용되지 않습니다.</li>
                          </ul>
        
                          <strong class="stit">파기방법</strong>
                          <ul>
                            <li>- 전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</li>
                            <li>- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</li>
                          </ul>
        
                        </li>
        
                        <li id="28">
                          <strong>8. 개인정보 보관 및 보호를 위한 기술적, 관리적 대책</strong>
                          <p class="mb5"> 이용자의 개인정보 중 개인식별용 키값과 '2. 개인정보 수집 항목 및 수집 방법'에서 고지한 정보 이외의 개인정보는 '4. 개인정보의 제공 및 위탁'에 고지한 내용에 따라 해당 업체에서 관리합니다.</p>
                          <p  class="mb5"> 이용자의 개인정보는 비밀번호에 의해 보호되고 있습니다.  아이디의 비밀번호는 오직 본인만이 알 수 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다. 따라서  아이디의 비밀번호는 누구에게도 알려주면 안 됩니다. 또한 작업을 완료한 후 로그아웃(log-out)을 하고 해당 서비스를 사용한 프로그램(웹 브라우저, 앱, 관련 프로그램 등)을 종료하는 것이 바람직합니다. 특히 본인이 사용하는 기기(PC, 스마트폰, 태블릿 등 서비스 사용이 가능한 기기)를 다른 사람과 공유하여 사용하거나 공공장소에서 이용한 경우 개인정보가 다른 사람에게 알려지는 것을 막기 위해서 이와 같은 절차가 더욱 필요합니다.</p>
                          <p class="mb5">회사는 개인정보처리 직원을 최소한으로 제한하고 담당 직원에 대한 수시 교육을 통하여 본 정책의 준수를 강조하고 있으며, 내부적인 점검을 통해 본 정책의 이행사항 및 담당직원의 준수여부를 확인하여 문제가 발견될 경우 바로 시정 조치하고 있습니다. 회사의 개인정보보호를 위한 기술적, 관리적 대책은 다음과 같습니다.</p>
        
                          <ol>
                            <li>1) 컴퓨터 바이러스에 의한 개인정보의 침해를 방지하기 위하여 백신 프로그램을 이용하며 주기적인 업데이트를 통해 새로운 바이러스에 대비하고 있습니다.</li>
                            <li>2) 개인정보에 대한 직접적인 접근을 방지하기 위하여 데이터베이스의 보안 기능을 이용하여 일부 정보는 열람할 수 없도록 하고 있습니다.</li>
                            <li>3) 인터넷망을 통한 해커의 불법적 침입에 대비하여 방화벽과 침입탐지 시스템을 사용하여 보안에 만전을 기하고 있습니다.</li>
                            <li>4) 개인정보에 대한 접근 권한을 개인정보보호 책임자 등 개인정보관리 업무를 수행하는 자, 기타 업무상 개인정보의 처리가 불가피한 자로 제한하며, 그 이외의 인원이 개인정보에 접근하는 것을 허용하지 않습니다.</li>
                            <li>5) 개인정보와 일반 데이터를 혼합하여 탑재하지 않으며, 별도의 계정을 통하여 관리하고 있습니다</li>
                            <li>6) 시스템적으로 보안성을 확보하기 위해 가능한 모든 기술적 장치를 갖추려 노력하고 있습니다.</li>
                          </ol>
                        </li>
                        <li id="29">
                          <strong>9.  이용자 및 법정대리인의 권리와 행사방법</strong>
                          <p class="mb5"> 이용자 및 법정대리인은 언제든지 등록되어 있는 자신 혹은 당해  아동의 개인정보를 조회하거나 수정할 수 있으며  탈퇴를 요청할 수도 있습니다. </p>
                          <p class="mb5"> 이용자 혹은  아동의 개인정보 조회, 수정 또는  탈퇴를 원하실 경우, 로그인 후 사이트 첫 페이지의 ‘ 정보’를 클릭하여 본인 확인 절차를 거치신 후 이용 가능합니다. 또는 개인정보보호 책임자에게 이메일이나 팩스를 통해 연락주시면 지체 없이 조치하겠습니다.</p>
                          <p class="mb5"> 이용자가 개인정보의 오류에 대한 정정을 요청할 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. </p>
                          <p class="mb5">또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다. </p>
                          <p>회사는  이용자 혹은 법정대리인의 요청에 의해 해지 또는 삭제된 개인정보는 '7. 개인정보의 파기절차 및 방법'에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.</p>
                        </li>
                        <li id="30">
                          <strong>10. 개인정보 자동 수집 장치의 설치와 운영 및 거부에 관한 사항</strong>
                          <p>회사는 이용자들에게 특화된 맞춤 서비스를 제공하기 위해서 이용자들의 정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다. 쿠키란 웹사이트를 운영하는데 이용되는 서버가 이용자의 웹 브라우저에게 보내는 소량의 텍스트 정보로 이용자들이 사용하는 기기(PC, 스마트폰, 태블릿 등 서비스 사용이 가능한 기기 중 쿠키 설정이 가능한 기기)에 저장되기도 합니다.</p>
                          <strong>1) 쿠키를 통한 맞춤화 서비스 제공</strong>
                          <strong style="margin-top:0">쿠키의 사용 목적</strong>
                          <p>
                            - 이용자들의 접속 빈도나 방문 시간 등 이용 형태와 자취 등을 추적해 이용자들의 취향과 관심분야를 파악하여 이용자에게 최적화된 맞춤형 정보를 제공하기 위함
                          </p>
                          <strong class="stit">쿠키 설치, 운영 및 거부</strong>
                          <ul>
                            <li>
                              - 이용자들은 쿠키 사용에 대한 선택권을 가지고 있으며, 웹 브라우저의 설정에 따라 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.
                            </li>
                            <li>
                              - 쿠키 설정을 거부하는 방법으로는 이용자가 사용하는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다.
                            </li>
                            <li>단, 쿠키 설치를 거부하였을 경우 일부 서비스 이용에 어려움이 있을 수 있습니다.</li>
                          </ul>
                          <strong class="stit">쿠키 설정 방법 예</strong>
                          <ol>
                            <li>1) Internet Explorer - 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보</li>
                            <li>2) Chrome - 웹 브라우저 우측의 설정 메뉴 > 화면 하단의 고급 설정 > 개인정보 및 보안 > 사이트 설정 > 쿠키</li>
                          </ol>
        
                          <strong>2) 구글 애널리틱스를 통한 로그 분석</strong>
                          <p>회사는 구글 애널리틱스(Google Analytics)를 이용하여 로그 분석을 하고 있습니다. 이용자를 식별할 수 없으며 전체적인 로그 분석에만 이용합니다. 이용자는 구글 애널리틱스 수집을 거부할 수 있습니다. ('쿠키 설정 차단' 혹은 '구글 애널리틱스 차단 브라우저 부가 기능' 사용)</p>
        
                          <strong>3) 앱 사용 시 서비스 이용 기록 분석</strong>
        
                            <p>- 앱 사용 시 원활하고 정상적인 서비스를 위해 앱스토어 또는 광고사 등에서 다음과 같은 정보가 수집될 수 있습니다.</p>
                            <p>- 구글 광고 ID, Android ID(안드로이드 OS만 해당), 단말기 정보(모델명, OS버전, 고유식별번호)</p>
                            <p>- 광고 식별자에 대해서는 아래와 같은 방법으로 수집을 거부할 수 있습니다.</p>
                            <p>- Android인 경우 [설정 > Google > 광고] 또는 [설정 > 일반 > 계정 및 동기화 > Google > 개인정보 및 개인정보보호 > 광고 설정]</p>
                            <p>- iOS인 경우 [설정 > 개인정보보호 > 광고]</p>
                        </li>
        
                        <li id="31">
                          <strong>11. 개인정보보호 책임자에 관한 사항</strong>
                          <p>이용자의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 회사는 개인정보보호 책임자를 두고 있습니다. 이용자의 개인정보와 관련한 문의사항이 있으시면 아래의 개인정보보호 책임자 또는 개인정보보호 담당자의 이메일이나 팩스를 통해 연락 바랍니다. 회사는 '개인정보보호 담당부서'에서만 개인정보 열람 청구 업무를 담당합니다.</p>
                          <div class="manager_info">
                            <div class="manager_cont">
                              <strong>개인정보보호 책임자</strong>
                              <p>이 름: 홍길동</p>
                              <p>소 속: 경영진</p>
                              <p>직 위: 부사장</p>
                              <p>이메일: <a href="aaa:login@gcinside.com">bbb@gcinside.com</a></p>
                              <p>팩 스: 02-3448-5839</p>
                            </div>
                            <div class="manager_cont">
                              <strong>개인정보보호 담당자</strong>
                              <p>이 름: 홍길동</p>
                              <p>소 속: 웹관리팀</p>
                              <p>직 위: 팀장</p>
                              <p>이메일: <a href="aaa:login@gcinside.com">bbb@gcinside.com</a></p>
                              <p>팩 스: 02-3448-5839</p>
                            </div>
                          </div>
                        </li>
        
                        <li id="32">
                          <strong>12. 권익침해 구제방법</strong>
                          <p class="mb5">이용자는 개인정보 침해로 인한 구제를 받기 위하여 개인정보분쟁조정위원회, 한국인터넷진흥원 개인정보침해신고센터 등에 분쟁 해결이나 상담 등을 신청할 수 있습니다. 이 밖에 기타 개인정보 침해에 대한 신고, 상담에 대해서는 아래의 기관에 문의하시기 바랍니다.</p>
                          <ul>
                            <li>- 개인정보분쟁조정위원회  (<a href="https://www.kopico.go.kr" target="_blank">https://www.kopico.go.kr</a> / 국번 없이 1833-6972)</li>
                            <li>- 개인정보침해신고센터 (<a href="https://privacy.kisa.or.kr" target="_blank">https://privacy.kisa.or.kr</a> / 국번 없이 118)</li>
                            <li>- 대검찰청 사이버수사과 (<a href="https://www.spo.go.kr" target="_blank">https://www.spo.go.kr</a> / 국번 없이 1301)</li>
                            <li>- 경찰청 사이버안전국 (<a href="https://cyberbureau.police.go.kr" target="_blank">https://cyberbureau.police.go.kr</a> / 국번 없이 182)</li>
                          </ul>
        
                        </li>
        
                        <li id="33">
                          <strong>13. 개정 전 고지의무</strong>
                          <p class="mb5">본 개인정보처리방침의 내용 추가, 삭제 및 수정이 있을 경우 개정 최소 7일 전에 회사 서비스 내의 공지사항을 통하여 사전 공지를 할 것입니다. 다만, 수집하는 개인정보의 항목, 이용 목적의 변경 등과 같이 이용자 권리의 중대한 변경이 발생할 때에는 최소 14일 전에 공지하며, 필요 시 이용자 동의를 다시 받을 수도 있습니다.</p>
                          <ul>
                            <li>- 공고일자: 2023년 01월 1일</li>
                            <li>- 시행일자: 2023년 01월 1일</li>
                          </ul>
                        </li>
                      </ol>
        
                              </div>
                              <!-- //지시인사이드 개인정보처리방침 -->
                              <!--//policy_cont-->
                            </div>
                            <!--//scroll-->
        
                            <div class="policy_check">
                              <span class="checkbox">
                                <input type="checkbox" id="personal_agree" disabled>
                                <em class="checkmark"></em>
                                <label for="personal_agree">내용을 확인하였으며, 동의합니다.</label>
                              </span>
                            </div>
                              <span style="float: right; padding: 15px; color: blue;">• 스크롤을 내리면 동의체크가 가능합니다.</span>
                          </div>
                          <!-- //개인정보 수집 및 이용 약관 -->
                      <div class="btn_box clear">
                        <div class="fr">
                          <a th:href="@{/member/register}"><button type="button" id="policy_agree" class="btn_grey small bnt_next">다음</button></a>
                        </div>
                      </div>
                            </div>
                        </section>
                    </form>
                </article>
            </div>
        </main>
<script>
    $(function(){
        agreeInit();
    });
</script>
<script>
const scroll1 = document.querySelectorAll('#scroll1'); <!--이용약관 스크롤-->
const scroll2 = document.querySelectorAll('#scroll2'); <!--개인정보처리방침 스크롤-->
const serviceAgreeCheckbox = document.getElementById('service_agree');
const personalAgreeCheckbox = document.getElementById('personal_agree');
scroll1.forEach((scroll) => {
  scroll.addEventListener('scroll', () => {
    // 스크롤바 위치가 맨 아래인 경우에만 체크박스를 클릭할 수 있도록 처리
    if (scroll.scrollTop + scroll.clientHeight >= scroll.scrollHeight) {
      serviceAgreeCheckbox.disabled = false; // 체크박스 활성화
    } else {
      serviceAgreeCheckbox.disabled = true; // 체크박스 비활성화
    }
  });
});
scroll2.forEach((scroll) => {
  scroll.addEventListener('scroll', () => {
    // 스크롤바 위치가 맨 아래인 경우에만 체크박스를 클릭할 수 있도록 처리
    if (scroll.scrollTop + scroll.clientHeight >= scroll.scrollHeight) {
      personalAgreeCheckbox.disabled = false; // 체크박스 활성화
    } else {
      personalAgreeCheckbox.disabled = true; // 체크박스 비활성화
    }
  });
});
</script>
<th:block th:replace="~{member/_footer}"></th:block>
</div>
</body>
</html>