.btn_hotall_list{width:112px;height:21px;background-position:-175px -244px}
.list_array_option{display:table;width:840px;height:32px;margin:15px 0 5px}

.array_tab {display:table-cell;width:1%;white-space:nowrap;vertical-align:top}
.array_tab.left_box{font-size:0 }
.array_tab button,
.btn_estimatego
{width:82px;height:32px;border:1px solid #ccc;border-radius:2px;font-size:14px;font-weight:bold;color:#333;margin-left:2px;background:#fff;padding-bottom:2px}
.array_tab button:first-child{margin-left:0}
.array_tab button:hover, .btn_estimatego:hover{border:1px solid #3b4890}
.array_tab button.on,
.btn_estimatego.on
{border:1px solid #29367c;background:#3b4890;color:#fff;text-shadow: 0px -1px #1d2761}

.center_box{position:relative;display:table-cell;line-height:0px}
.center_box .inner {position:relative;display:inline-block;height:32px}
.center_box .inner > ul{float:left;overflow:hidden;height:26px;padding-top:6px;padding-right:10px;margin-left:7px;line-height:32px;}
.center_box .inner > ul li{display:inline-block;padding-left:14px}
.center_box ul li a{color:#444}
.center_box ul li a.on{font-weight:bold}

.list_array_option .right_box{position:relative;z-index:1}
.right_box{float:right;display:-ms-grid;min-width:90px;height:21px;width:max-content;width:-moz-max-content;-ms-grid-columns:max-content;vertical-align:top;padding-top:11px}
.right_box .output_array{display:table;margin-left:40px}
.array_num,.array_sel{display:table-cell}
.array_num a{display:inline-block;width:41px;padding:0 5px}
.array_num .select_area{padding:0;width:51px}
.right_box .output_array{padding-top:0}

.switch_btnbox{width: 1%; display: table-cell; white-space: nowrap;font-size:0;vertical-align:top}
.btn_write{width:21px;height:21px;display:inline-block;background-position:-196px -337px;line-height:0}
.btn_write.txt{width:66px;box-sizing:border-box;padding:0px 6px;border:1px solid #29367c;background:#fff;font-weight:bold;font-size:12px;color:#29367c;line-height:19px;vertical-align:top;letter-spacing:-0.025em;text-align:center}
.btn_write.txt::before{content:'';display:inline-block;width:15px;height:15px;margin-right:3px;margin-top:2px;background:url(https://nstatic.dcinside.com/dc/w/images/sp/sp_img.png)no-repeat -133px -1023px;;vertical-align:top}
.btn_write.txt:hover{text-decoration:none}

/* 리스트 */
.gall_listwrap{position:relative}
.gall_list{width:100%;border-bottom:1px solid #29367c;font-family:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif}
th{height:37px;border-width:2px 0 1px;border-style:solid;border-color:#29367c;vertical-align:middle;text-align:center;color:#333;font-family:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,Dotum,돋움,sans-serif}
td{padding:2px 4px;border-top:1px solid #eee;vertical-align:middle;text-align:center;color:#333}
tr:first-child td{border-top:none}
tbody tr:hover{background:#f3f3f3}

.gall_list td{padding:0px 4px}
.list .gall_list td{height:25px}
.gall_list .gall_num,.gall_list .gall_date,.gall_list .gall_count,.gall_list .gall_recommend{font-family:tahoma,sans-serif;font-size:11px;padding-top:1px}
.gall_subject{position:relative}
.list .gall_subject{padding:2px 0px 0 0}
.gall_tit{position:relative;text-align:left;font-size:13px}
.gall_tit a{display:inline-block;max-width:82%;vertical-align:middle;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.gall_tit.voice_tit a, .gall_tit.adult_tit a, .miniwrap .gall_tit.voice_tit a, .miniwrap .gall_tit.adult_tit a{max-width:81%}/*보이스 글, 성인 게시글*/
.list .gall_tit a{padding-top:1px;line-height:100%}
.list .gall_tit a:visited{color:#770088}

.icon_go{display:inline-block;width:5px;height:9px;margin-left:6px;background-position:-36px -45px}
.user_data .icon_go{margin-left:10px}
.icon_img{display:inline-block;width:15px;height:15px;vertical-align:-3px;margin-right:7px;background-image:url(/GCInside/img/icon_img.png);background-repeat:no-repeat}
.icon_notic{background-position:0px 0}/*공지*/
.icon_toprecomimg{background-position:0px -25px}/*초개념*/
.icon_recomimg{background-position:0px -50px}/*이미지개념*/
.icon_recomtxt{background-position:0px -75px}/*텍스트 개념*/
.icon_pic{background-position:0 -100px}/*이미지*/
.icon_txt{background-position:0px -123px}/*텍스트*/
.icon_movie{background-position:0px -147px}/*동영상*/
.icon_recomovie{background-position:-3px -362px}/*210330 개념 동영상*/
.icon_survey{background-position:0px -170px}/*설문*/
.icon_issue{background-position:0px -193px}/*이슈*/
.icon_ad{background-position:0px -193px}/*광고*/
.icon_voice_tit{display:inline-block;width:9px;height:13px;background-position:-241px -214px;vertical-align:-3px}/*보이스글 아이콘*/
.icon_slow{background-position:0px -216px}/*mini 느린글*/
.icon_secret, .icon_secret2{background-position:0px -284px} /*201020 아이콘변경*/
.icon_vote_tit{display:inline-block;width:11px;height:11px;background-position:-285px -438px;vertical-align:-2px}/*201110 mini 투표 아이콘*/
.icon_fnews{background-position:0px -261px}/*공지뉴스*/
.icon_autodel_tit{display:inline-block;width:13px;height:13px;background-position:-247px -818px;vertical-align:-3px}/*201207 mini 자동삭제 아이콘*/
.icon_rtimebest{display:inline-block;width:15px;height:18px;background-position:-3px -309px;vertical-align:-5px}/*210303 운영자 선택 실시간 베스트 탑고정 아이콘*/ /*220530 width값 포지션값 수정*/
.icon_btimebest{display:inline-block;width:15px;height:15px;background-position:-3px -337px;vertical-align:-3px}/*210303 운영자 선택 실시간 베스트 아이콘*/
.icon_lrtimebest{display:inline-block;width:15px;height:18px;background-position:-3px -437px}/*220530 실베 라이트 탑고정 아이콘*/
.icon_lbtimebest{display:inline-block;width:15px;height:15px;background-position:-3px -465px;vertical-align:-3px}/*220530 실베 라이트 아이콘*/

.icon_hit{background-position:-3px -387px}/*210524 힛갤러리*/
.icon_lottery{background-position:-3px -412px}/*220221 디시로터리*/

.icon_ai{background-position: -3px -818px}/*230214 ai*/

/* 하단 버튼 */
.list_bottom_btnbox button:first-child{margin-left:0}
.list_bottom_btnbox, .view_bottom_btnbox{margin-top:12px}
.list_bottom_btnbox > div >button:first-child{margin-left:0}
.list_bottom_btnbox > div >button{margin-left:3px}

.listwrap .bottom_paging_wrap .bottom_paging_box > a, .listwrap .bottom_paging_wrap .bottom_paging_box > em, .listwrap .bottom_paging_wrap .bottom_paging_box{padding-top:6px}



/* 글쓰기 */
#write_wrap{padding:33px 68px 40px;margin-top:15px;border:2px solid #d5d5d5;}
.visit_bookmark + #container #write_wrap{/* border-width:0 2px 2px; */margin-top:0}
.input_box{position:relative}
.input_infotxt{float:left;width:230px;margin:10px 10px 0 0}
.input_write_tit{float:left;width:728px;margin:10px 0 0 0PX}
.txt_placeholder{position:absolute;left:13px;top:9px}
.put_inquiry,.input_box label{font-family:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif;color:#999;font-size:13px;font-weight:bold}
.put_inquiry{width:204px;height:33px;padding:0 12px;line-height:35px;border:1px solid #cecdce;color:#333}

/*크롬 로그인,비밀번호를 기억하면 배경색이 노란색으로 변하는 문제 해결*/
input.put_inquiry:-webkit-autofill,
input.put_inquiry:-webkit-autofill:hover,
input.put_inquiry:-webkit-autofill:focus,
input.put_inquiry:-webkit-autofill:active {-webkit-box-shadow: 0 0 0 100px #fff inset !important;
-webkit-text-fill-color:#999 !important;
}
.input_write_tit .put_inquiry{width:702px}
.input_kcapcode .put_inquiry{width:97px;border-width:1px 1px 1px 0 }
#write_wrap .kap_codeimg{float: left;width:125px;height:33px;margin-top:10px;border:1px #cecdce solid;border-width:1px 0px 1px 1px}
#write_wrap .kap_codeimg img{height:33px}
.input_infotxt.input_kcapcode{width:122px;margin-top:10px}
.write_infobox{position:relative;margin:16px 0 14px;font-size:12px;color:#666}
.write_infobox p{line-height:20px}
.write_infobox p > button{font-size:12px;color:#666;vertical-align:0}
.write_infobox p > button:hover{text-decoration:underline}
.write_infobox p::before{content:"";display:inline-block;width:9px;height:9px;margin-right:4px;background:url(/GCInside/img/sp_img.png) no-repeat -86px -63px}/*churl*/
.write_infobox .hitchek{margin-left:10px;line-height:20px}
.write_infobox .hitchek label{margin-left:3px}
.write_infobox .hitchek .checkbox input[type="checkbox"]{top:3px}
.write_infobox .hitchek .checkbox input + .checkmark{top:3px}

.temporary_save_box{position:relative;text-align:right;z-index:5}
.btn_temporary_save{position:absolute;right:0;top:4px;font-size:14px;color:#29367c;font-weight:bold}
.editor_wrap{border-top:2px solid #29367c;margin-top:25px; width:923px;}
.btn_box.write{position:relative;margin-top:6px}
.btn_cancle,.btn_up{width:85px;height:40px;border-width:1px 1px 3px 1px;border-style:solid;border-radius:2px;font-size:14px;color:#fff;font-weight:bold}
.btn_cancle{background:#666;border-color:#444;text-shadow: 0px -1px #474747}
.btn_up{margin-left:4px;background:#3b4890;border-color:#29367c;text-shadow: 0px -1px #1d2761}

/*말머리*/
.write_subject{clear:both;display:inline-block;min-width:715px;border:1px solid #cecdce;padding-right:11px;margin-top:10px}
.write_subject > .tit{display:block;float:left;width:66px;height:33px;background:#eee;vertical-align:top;line-height:33px;text-align:center;font-family:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif;font-size:13px}
.subject_list{float:left;margin:5px 0 0 11px;max-width:930px}
.write_subject .subject_list li{max-width:105px;width:auto}
.subject_list li{float:left;height:23px;line-height:22px;font-size:13px;color:#666;font-weight:bold;margin-left:21px;cursor:pointer;font-family:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif}/*211118 폰트 버그 line-height:24px*/
.subject_list li:first-child{margin-left:0}
.subject_list .sel{background:#29367c;border-radius:50px;color:#fff;padding:0 10px 0 9px;text-shadow: 0px -1px #2a326e;cursor:default}
.subject_list .sel > em{display:inline-block;width:11px;height:11px;background-position:-236px -321px;margin-right:2px}
.subject_list .not{color:#c5c5c5;cursor:default}
.btn_fixnotice{width:auto;padding:0 20px;margin-left:0}

.write_subject .subject_list {margin-left:-15px}
.write_subject .subject_list li:first-child{margin-left:26px}
.write_subject > .tit{height:100%}
.write_subject .subject_list li{margin-bottom:5px}
.write_subject{position:relative;z-index:1}
.write_subject::before{content:'';display:inline-block;line-height:100%;width:66px;height:100%;background:#eee;position:absolute;left:0;top:0;z-index:-1}


.write_type_box{position:relative;font-size:0}
.write_type_box .inner{position:relative;display:inline-block;margin-right:17px}
.write_type_box .pop_content .inner{margin-right:0}
.write_type_box .pop_tipbox .inner{display:block;min-width:378px;height:25px;line-height:25px;font-size:12px;color:#555;margin-right:0;white-space:nowrap}
.btn_write_type{height:21px;font-size:14px;color:#555;line-height:21px}
.icon_slowrite_info{display:inline-block;width:14px;height:13px;background-position:-252px -201px;margin-top:3px}
.on .icon_slowrite{width:20px;height:20px;background-position:-235px -522px}

.listwrap .bottom_paging_wrap{display:inline-block;width:100%;margin-top:5px;position:relative;padding:0 121px;box-sizing: border-box}
.bottom_movebox{display:inline-block;position: absolute;top:11px;right:0}
.btn_schmove{padding:0 9px 0 10px;height:26px;line-height:24px;font-size:14px;color:#333;margin-left:7px;vertical-align:0}
.icon_schmove{display:inline-block;width:16px;height:16px;background-position:-262px -909px;vertical-align:-3px;}
.bottom_paging_wrap span.icon_schmove{margin-left:4px;font-size:0}

/*리스트,뷰,통합 검색 오른쪽 영역*/
.content_box{position:relative;margin-top:15px;padding:0 13px 16px;border:1px solid #ccc;background:#fff}
.content_box header{overflow:hidden;border-bottom:1px dashed #aaa}
.content_box .tit{height:44px;padding-left:2px;line-height:48px;font-size:14px}
.right_content  .content_box .tit{line-height:47px}/*220302 추가*/
.content_box .tit a{position:relative;display:inline-block;height:44px}
.content_box a.inner{display:block}
.content_box .new{position:absolute;right:-9px;top:-3px}
.content_box .img_box{display:block;overflow:hidden;height:182px;box-sizing:border-box;border:1px solid #ccc;
  background:url(https://nstatic.dcinside.com/dc/w/images/img_none1.jpg) no-repeat center center
}
.content_box .secimg_box .img_box{background-size:auto 100px;background-position:center -7px}
.content_box .img_box img{display:block;width:100%;min-height:182px;}/*180424 max-width:100% 수정*/
.r_news .txt_box strong,.rcont_issue .txt_box strong{display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.right_content .box_menu{position:absolute;right:16px;top:18px}
.right_content .box_menu a{font-size:11px;letter-spacing:-1px}
.right_content .box_menu a:before{content:"";display:inline-block;width:1px;height:10px;margin:0 8px 0 3px;vertical-align:-1px;background:#d7d7d7}
.right_content .box_menu a:first-child:before{display:none}
.right_content .rank_gall{color:#29367c}
.right_content .rank_gall:hover{text-decoration:underline}
.right_content .rank_mgall{color:#ee3c24}
.right_content .rank_mgall:hover{text-decoration:underline}
.right_content .rank_gall.on,.right_content .rank_mgall.on,.right_content .rank_mini.on{text-decoration:underline}/*mini 추가*/

/* 실시간 베스트*/
.rightbanner + .content_box.r_timebest{margin-top:12px}
.rcont_imgtxt_box .img{overflow:hidden;margin-top:12px;margin-left:-7px}
.rcont_imgtxt_box .txt_box{margin:8px 0 0;height:35px}
.rcont_imgtxt_box .txt_box strong{font-weight:normal}
.rcontimg_box{float:left;width:132px;margin-left:7px}

.content_box .rcontimg_box .img_box{position:relative;display:block;overflow:hidden;height:88px;border:none;background-size:cover}
.content_box .rcontimg_box .img_box::after{content:"";display:block;position:absolute;left:0;top:0 ;width:130px;height:86px;border:1px solid #ccc }
.content_box .rcontimg_box .img_box img{display:block;min-height:88px;width:100%;}
.rcont_imgtxt_box .txt{margin:12px 0 0;padding-top:13px;border-top:1px solid #eee;line-height:22px}
.rcont_imgtxt_box .txt a{display:block;width:272px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}

/* 뉴스,디시미디어*/
.r_dcmedia{overflow:hidden}
.r_dcmedia .tit{float:left}
.r_dcmedia .tit.on a{text-decoration: underline}
.r_dcmedia .tit::before{content:"|";display:inline-block;width:2px;height:13px;padding:0 10px 0 5px;color:#d7d7d7;font-size:13px;line-height:45px;vertical-align:top}/*220302*/
.r_dcmedia .tit:first-child::before{display:none }/*220302*/
.r_dcmedia .txt_box{
  height:37px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;
}
.r_dcmedia .txt_box strong{white-space:normal;text-overflow:inherit}

.r_dcmedia .rcontimg_box:nth-child(even), .r_timebest .rcontimg_box:nth-child(even){float:right;margin-left:0}/*220331 화면 배율 조절시 떨어짐 대응*/

/* 디시이슈*/
.r_dcmedia .dcissue .rcontimg_box a, .r_dcmedia .dcissue .txt li a{position:relative}
.r_dcmedia .dcissue .txt_box{padding-left:13px}
.r_dcmedia .dcissue .txt_box, .r_dcmedia .dcissue .txt li a{box-sizing:border-box}
.r_dcmedia .dcissue .ranking{color:#3b4890;font-weight:bold}
.r_dcmedia .dcissue .txt_box .ranking{position:absolute;left:0px}
.r_dcmedia .dcissue .txt li .ranking{padding-right:2px}
.r_dcmedia .dcissue .ranking.grey{color:#999}

/*초개념*/
.content_box.r_recommend .tit{float:left}/*ipad*/
.content_box .tit .sub{font-weight:normal;font-size:12px;color:#555;letter-spacing:-0.05em;display:inline-block;vertical-align:top;line-height:48px}
.r_recommend .tit .sub em{
  display:inline-block;max-width:140px;vertical-align:top;padding-top:1px;line-height:46px;
  text-overflow:ellipsis;overflow:hidden;white-space:nowrap;
}
.r_sec_recommend .btn_more{position:absolute;right:15px;top:18px}
.rcont_sec{margin-top:12px}
.rcont_sec .img{overflow:hidden}
.rcont_sec .txt_box{margin:8px 0 0;height:35px}
.secimg_box{float:right;width:132px;margin-left:7px}
.secimg_box:first-child{float:left;margin-left:0}
.content_box .secimg_box .img_box{display:block;overflow:hidden;height:88px;box-sizing:border-box;border:1px solid #ccc}
.content_box .secimg_box .img_box img{display:block;min-height:88px;width:100%}
.rcont_sec .txt{margin:12px 0 1px;padding-top:13px;border-top:1px solid #eee;line-height:22px}
.rcont_sec .txt a{display:block;width:272px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}

/*개념글*/
.rcont_list{padding-left:4px;margin-top:10px}
.rcont_list li{line-height:22px}
.rcont_list li a{display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.rcont_list li a::before{content:"";display:inline-block;width:2px;height:2px;margin-right:5px;background:#333;vertical-align:4px}

/*힛 ,그때그힛*/
.r_hit{overflow:hidden}
.r_hit .tit{float:left}
.content_box.r_hit{padding:0 13px 17px}
.r_hit .tit:last-of-type:before{content:"|";display:inline-block;width:2px;height:13px;padding:0 15px;color:#d7d7d7;font-size:13px;line-height:45px;vertical-align:top}/*211118 폰트 버그 font-size:13px;line-height:45px;vertical-align:top 추가 */
.r_hit .tit.on a{text-decoration:underline}
.r_hit .txt_box{height:37px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.hit_day{margin-top:3px;color:#999}
.rcont_hit,.rcont_old_hit{margin-top:13px}
.rcont_old_hit a.inner{position:relative}
.content_box .rcont_old_hit .img_box{background:url(/img/sp_bgimg.png) no-repeat 0 -314px}

/*디시위키*/
.wiki_random_go{position:absolute;right:14px;top:18px}
.wiki_random_go .icon_go{margin-left:4px}
.rcont_wiki{margin:14px 0 0}
.wk_box{background:#fff;border:1px #e8e8e8 solid;box-sizing:border-box;height:125px}
.wk_content .tit{position:relative;display:block;height:54px;text-align:center;padding-left:0}
.wk_content .tit > span{display:block;height:44px;line-height:44px;padding:0 13px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-weight:normal;;font-size:24px;background:#f3f3f3}
.wk_content .tit:after{content:'';position:absolute;bottom:1px;left:50%;border-style:solid;border-width:9px 7px 0px 7px;border-color:#f3f3f3 transparent;display:block;margin-left:-7px}
.wk_txt{overflow:hidden;height:50px;line-height:17px;margin:4px 20px 15px;font-size:12px;letter-spacing:-0.05em}

/* 게시판 글작성 */
textarea#content {
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #b5b5b5;
    border-right-color: #cdcdcd;
    border-left-color: #cdcdcd;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    resize: vertical;
  }


  /*뷰*/
#bottom_listwrap{position:relative;margin-top:20px}
.view_content_wrap{font-family:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif;font-size:13px;color:#333}
.gallview_head{margin:16px 0 29px;padding-bottom:11px;border-bottom:1px solid #eee}
.gallview_head .title{padding:0 2px;margin-bottom:7px;font-size:14px}
.gallview_head .title.autodel{margin-bottom:9px}

.gallview_head .gall_writer{padding:0 2px}
.gallview_head .gall_date::before{content:"";display:inline-block;width:1px;height:12px;background:#ccc;margin:0 10px 0 6px;vertical-align:-2px}
.gallview_head .gall_writer > .fr{padding-right:7px}
.gallview_head .gall_writer .fr > span::before, .album_head .gall_writer .fr > span::before{content:"";display:inline-block;width:1px;height:12px;background:#ccc;margin:0 10px 0 6px;vertical-align:-1px}/*201217*/
.gallview_head .gall_writer .fr > span:first-child::before,.album_head .gall_writer .fr > span:first-child::before{display:none}
.gallview_head .gall_date,.gallview_head  .gall_count,.gallview_head .gall_reply_num, .gallview_head .gall_comment {cursor:default}
.gallview_head .gall_comment a{display:inline-block;height:20px;line-height:20px;padding:0 10px;background:#eee;border:1px #ccc solid;border-radius:50px}

.txt_plusminus{font-family:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif;font-weight:bold;font-size:13px;cursor:pointer}
.txt_plusminus.plus{font-size:16px;vertical-align:-1px}
.txt_plusminus.minus{color:#999;vertical-align:0}

.view_content_wrap .comment_dccon,.album_cont .comment_dccon{margin-bottom:0}
.icon_write_mbl,.icon_write_app{display:inline-block;width:11px;height:14px;margin-left:9px;vertical-align:-1px}
.icon_write_mbl{background-position:-263px 0}
.icon_write_app{background-position:-278px 0}
.gallview_contents{line-height:22px}
.gallview_contents > .inner{margin-bottom:50px}
.view_content_wrap .writing_view_box td{text-align:left;font-size:13px;font-family:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif}
.writing_view_box{float:left;max-width:900px;word-break:break-all;line-height:1.5}
.writing_view_box img{max-width:100%;vertical-align:top}
.writing_view_box ul,.writing_view_box ol{padding-left:15px}
.writing_banbox{float:right;max-width:160px}
.bottom_btnbox{overflow:hidden}

/* 221012 실베라이트 아이콘 추가 */
.title_headicon .tip_box3{margin: -30px 0 0 -9px}
.title_headicon .tip_box3:after{left: 5%}
.title_headicon .icon_lbtimebest{vertical-align: -2px;margin: 0;background-position: -1px -484px}


/*추천 비추천*/
.btn_recommend_box{width:288px;height:auto;margin:0 auto 36px;padding-top:19px;border:1px solid #c4c4c4;border-radius:2px;background:#fff;font-family:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,Dotum,돋움,sans-serif;clear:both;}/*201202 앨범형 일부글 영역관련 대응 clear 추가*/
.btn_recommend_box .inner{overflow:hidden;width:139px;margin-bottom:13px;padding:0}
.up_num_box,.down_num_box{text-align:center;font-size:16px;font-weight:bold;color:#555}
.up_num_box{float:left;width:67px;padding:10px 0 0 11px}
.down_num_box{float:right;width:64px;padding:17px 12px 0 0}
.sup_num{line-height:12px}
.smallnum{font-size:11px;font-weight:normal}
.btn_recom_up{float:right;width:56px;outline:none}
.btn_recom_down{float:left;width:56px;outline:none}
.icon_recom_up,.icon_recom_down{display:inline-block;width:56px;height:56px}
.icon_recom_up{background-position:0 -315px}
.btn_recom_up.on .icon_recom_up{background-position:0 -440px}
.icon_recom_down{background-position:0 -377px}
.recom_bottom_box{clear:both;position:relative;height:37px;border-top:1px solid #c4c4c4}
.btn_hitgall,.btn_snsmore,.btn_report, .btn_nhitgall, .btn_silbechu{display:block;float:left;width:95px;height:37px;margin-left:1px;border-right:1px solid #c4c4c4;
  background:#f9f9f9;font-family:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif;font-size:12px;color:#555;text-shadow:0px 1px #fff
}/*220530 btn_silbechu 추가*/
.btn_hitgall, .btn_nhitgall{margin-left:0}/*220303 btn_nhitgall 추가*/
.btn_hitgall.not, .btn_nhitgall.not,.btn_silbechu.not{cursor:default;outline:none;color:#c2c2c2}/* 220614 btn_silbechu추가*/

.btn_hitgall.not .icon_hitgall, .btn_nhitgall.not .icon_nhitgall,  .btn_silbechu.not .icon_silbechu{opacity:0.3}/* 220614  .btn_silbechu.not .icon_silbechu 추기*/
.btn_snsmore{width:96px}
.btn_report{border-right:0}
.icon_hitgall, .icon_snsmore, .icon_report, .icon_silbechu{display:inline-block}/*220530 icon_silbechu 추가*/
.icon_hitgall{width:23px;height:20px;background-position:-74px -284px;margin-right:6px;vertical-align:-4px}
.icon_snsmore{width:17px;height:20px;background-position:-74px -262px;margin-right:6px;vertical-align:-4px}
.icon_report{width:18px;height:20px;background-position:-74px -241px;margin-right:6px;vertical-align:-4px}
.icon_nhitgall{display:inline-block;width:24px;height:23px;background-position:-109px -991px;vertical-align:-6px;margin-right:4px}/*220303 힛추 아이콘 변경*/
.morebox .icon_nhitgall{width:25px;height:25px;background-position:-237px -983px}/*220530 */
.btn_nhitgall ~ .btn_snsmore .icon_snsmore, .btn_nhitgall ~ .btn_report .icon_report{vertical-align:-5px} /*220303 추가*/

/*220530 실베추 추가*/
.btn_recommend_box.morebox{min-width:288px;width:auto;display:table;}
.btn_recommend_box.morebox .inner_box{text-align:center;font-size:0;}
.btn_recommend_box.morebox .inner{display:inline-block;margin-bottom:2px }
.btn_recommend_box.morebox .inner + .inner{margin-left:10px}
.icon_silbechu{width:23px;height:23px;background-position:-270px -983px;margin-right:3px;margin-top:2px;vertical-align:-8px}

.btn_recommend_box.morebox .icon_nhitgall{margin-top:2px;margin-right:2px;vertical-align:-9px}
.btn_recommend_box.morebox .recom_bottom_box{height:36px}

.btn_recommend_box.morebox .btn_snsmore,
.btn_recommend_box.morebox .btn_report,
.btn_recommend_box.morebox .btn_nhitgall,
.btn_recommend_box.morebox .btn_silbechu
{position:relative;width:85px;height:36px;margin-left:0;box-sizing:content-box}


/*220630 버튼3개*/
.btn_recommend_box.morebox .three .btn_nhitgall, .btn_recommend_box.morebox .three .btn_report, .btn_recommend_box.morebox .three .btn_silbechu{width:95px}
.btn_recommend_box.morebox .three .btn_snsmore{width:96px}
.btn_recommend_box.morebox .three .btn_silbechu:first-child::before{display:none}
/*220630 버튼3개*/

/*220722 버튼 2개(힛갤)*/
.btn_recommend_box.morebox .two.recom_bottom_box > button{width:50%!important;box-sizing:border-box;}
.btn_recommend_box.morebox .two.recom_bottom_box > button:first-child::before{display:none }
/*//220722 버튼 2개(힛갤)*/


.btn_recommend_box.morebox .btn_snsmore::before,
.btn_recommend_box.morebox .btn_report::before,
.btn_recommend_box.morebox .btn_silbechu::before
{content:"";display:block;position:absolute;left:0;top:0;width:1px;height:100%;background:#fff}

/*게시판형 리스트*/
.gall_list{width:100%;border-bottom:1px solid #29367c;font-family:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,굴림,Gulim,sans-serif}
th{height:37px;border-width:2px 0 1px;border-style:solid;border-color:#29367c;vertical-align:middle;text-align:center;color:#333;font-family:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,Dotum,돋움,sans-serif}

td{padding:2px 4px;border-top:1px solid #eee;vertical-align:middle;text-align:center;color:#333}
tr:first-child td{border-top:none}
tbody tr:hover{background:#f3f3f3}
.editor_wrap tbody tr:hover, .writing_view_box tbody tr:hover{background:none}

.crt{background:#f4f6ff}
.crt_icon{display:block;width:6px;height:11px;margin:0 auto;background-position:-195px -231px}
.gall_list td{padding:0px 4px}
.list .gall_list td{height:25px}
.tbt.bg{background:#edf1fa;font-weight:bold}/*210303 실시간 베스트 배경색*/

.gall_chk{padding:2px 0}/*마이너 관리자 체크박스*/
.gall_list .gall_num,.gall_list .gall_date,.gall_list .gall_count,.gall_list .gall_recommend{font-family:tahoma,sans-serif;font-size:11px;padding-top:1px}
.gall_subject{position:relative}
.list .gall_subject{padding:2px 0px 0 0}
.gall_tit{position:relative;text-align:left;font-size:13px}
.gall_tit a{display:inline-block;max-width:82%;vertical-align:middle;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.gall_tit.voice_tit a, .gall_tit.adult_tit a, .miniwrap .gall_tit.voice_tit a, .miniwrap .gall_tit.adult_tit a{max-width:81%}/*보이스 글, 성인 게시글*/
.uminor_admin .gall_tit a, .miniwrap .uminor_admin .gall_tit a{max-width:79%}/*210927 매니저 어드민 수정*/
.uminor_admin .gall_tit.icon_four a, .miniwrap .uminor_admin .gall_tit.icon_four a{max-width:69%}/**210927 아이콘4개 추가*/
.uminor_admin .gall_tit.icon_three a, .miniwrap .uminor_admin .gall_tit.icon_three a{max-width:73%}/**210927 아이콘3개 추가*/
.uminor_admin .gall_tit.icon_two a, .miniwrap .uminor_admin .gall_tit.icon_two a{max-width:76%}/**210927 아이콘2개 추가*/


.list .gall_tit a{padding-top:1px;line-height:100%}
.list .gall_tit a:visited{color:#770088}
.gall_writer{position:relative;font-size:13px;cursor:pointer}
.list .gall_writer{padding-top:2px}
.list .nickname{display:inline-block;max-width:64%;vertical-align:top;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.list .nickname.in{max-width:81%}/*210913 66%수정*//*211118 폰트 버그 max-width:84%*/
.list .nickname em{line-height:13px}
.list .gall_tit a.reply_numbox{width:auto;vertical-align:text-bottom;letter-spacing:-0.05em}/*211118 폰트 버그 vertical-align:bottom*/
.list .tbt.bg .gall_tit a.reply_numbox{}/*211118 폰트 버그 삭제 vertical-align:-5px*/
.reply_num{font-size:12px;color:#999}
.list .ip{letter-spacing:-0.05em;margin-left:3px}

.icon_go{display:inline-block;width:5px;height:9px;margin-left:6px;background-position:-36px -45px}
.user_data .icon_go{margin-left:10px}
.icon_img{display:inline-block;width:15px;height:15px;vertical-align:-3px;margin-right:7px;background-image:url(/GCInside/img/icon_img.png);background-repeat:no-repeat}
.icon_notic{background-position:0px 0}/*공지*/
.icon_toprecomimg{background-position:0px -25px}/*초개념*/
.icon_recomimg{background-position:0px -50px}/*이미지개념*/
.icon_recomtxt{background-position:0px -75px}/*텍스트 개념*/
.icon_pic{background-position:0 -100px}/*이미지*/
.icon_txt{background-position:0px -123px}/*텍스트*/
.icon_movie{background-position:0px -147px}/*동영상*/
.icon_recomovie{background-position:-3px -362px}/*210330 개념 동영상*/
.icon_survey{background-position:0px -170px}/*설문*/
.icon_issue{background-position:0px -193px}/*이슈*/
.icon_ad{background-position:0px -193px}/*광고*/
.icon_voice_tit{display:inline-block;width:9px;height:13px;background-position:-241px -214px;vertical-align:-3px}/*보이스글 아이콘*/
.icon_slow{background-position:0px -216px}/*mini 느린글*/
.icon_secret, .icon_secret2{background-position:0px -284px} /*201020 아이콘변경*/
.icon_vote_tit{display:inline-block;width:11px;height:11px;background-position:-285px -438px;vertical-align:-2px}/*201110 mini 투표 아이콘*/
.icon_fnews{background-position:0px -261px}/*공지뉴스*/
.icon_autodel_tit{display:inline-block;width:13px;height:13px;background-position:-247px -818px;vertical-align:-3px}/*201207 mini 자동삭제 아이콘*/
.icon_rtimebest{display:inline-block;width:15px;height:18px;background-position:-3px -309px;vertical-align:-5px}/*210303 운영자 선택 실시간 베스트 탑고정 아이콘*/ /*220530 width값 포지션값 수정*/
.icon_btimebest{display:inline-block;width:15px;height:15px;background-position:-3px -337px;vertical-align:-3px}/*210303 운영자 선택 실시간 베스트 아이콘*/
.icon_lrtimebest{display:inline-block;width:15px;height:18px;background-position:-3px -437px}/*220530 실베 라이트 탑고정 아이콘*/
.icon_lbtimebest{display:inline-block;width:15px;height:15px;background-position:-3px -465px;vertical-align:-3px}/*220530 실베 라이트 아이콘*/

.icon_hit{background-position:-3px -387px}/*210524 힛갤러리*/
.icon_lottery{background-position:-3px -412px}/*220221 디시로터리*/

.icon_ai{background-position: -3px -818px}/*230214 ai*/

.album .icon_voice_tit{vertical-align:-3px}
.gall_list.empty td{color:#555;height:250px}
.gall_list.empty .empty_list td{height:25px;color:#333}/*200708 게시글 없음시 설문or 공지등록*/
.gall_list.empty tr:hover{background:none}

/*비회원 글 수정,삭제 비밀번호 입력*/
.no_memberwrap{width:400px;margin:125px auto 125px}
.no_member_cont .btn_box{border-top:0;padding:15px 0 0}
.no_member_cont{width:394px;height:165px;padding-top:48px;border:3px solid #29367c;background:#fff}
.no_member_cont .inner{width:176px;margin:0 auto}
.no_member_cont .inner .txt{display:block;font-size:15px;color:#29367c;text-align:center}
.pw_inquiry{width:164px;height:37px;padding:0 5px;margin-top:14px;background:#f3f3f3;border:1px solid #cecdce}
.pw_inquiry:focus{background:#fff}
.no_member_cont .btn_blue.small{margin-left:2px}
.no_member_cont .btn_grey.small{margin-left:0}
.no_memberwrap .btn_box{position:relative}
.no_memberwrap .no_member_cont .btn_box button:nth-child(2){position:absolute;margin-left:5px}