.minor_intro_box{float:left;width:975px;padding:24px 14px 2px 15px;color:#333}
.listwrap .minor_intro_box{width:684px;padding:24px 0 0 2px}
.img_contbox{float:left;width:56%}
.mintro_imgbox{position:relative;display:block;float:left;width:156px;height:104px;
    background-color:#fff;background-image:url(/GCInside/img/minorbg.png);background-repeat:no-repeat;background-position: 0 0;background-size:156px 104px
  }
.cover{display:block;background-repeat:no-repeat;background-position:50% 50%;background-size:cover;background-color:#fff}
.mintro_imgbox .cover{width:156px;height:104px}
.mintro_txtbox{overflow-y:auto;float:left;width:372px;height:104px;padding-right:5px;margin:-1px 0 0 12px;line-height:20px}
.width1160 .listwrap .mintro_txtbox{width:204px}
.mintro_txt{letter-spacing:-0.05em;word-wrap:break-word}
.info_contbox{overflow-y:auto;position:relative;float:left;width:42%;height:104px;margin-top:-1px;margin-left:4px;z-index:1}
.visit_bookmark + .wrap_inner .info_contbox, .visit_bookmark + #container .info_contbox{margin-top:0}

.info_cont{overflow:hidden;line-height:22px}
.info_cont .tit{display:block;float:left;width:73px;line-height: 20px} /*201027 line-height 추가*/
.info_cont .tit::before{content:"";display:inline-block;width:2px;height:2px;background:#333;margin:0 7px 0 1px;vertical-align:4px}
.info_cont .cont{float:left;text-align:left;width:auto;padding:0;line-height:20px}
.mng_nick{display:block}
.btn_mngadmin_report{margin-top:5px;text-decoration:underline}

.visit_bookmark + .wrap_inner .minor_ranking_box, .visit_bookmark + #container .minor_ranking_box{height:152px}
.minor_ranking_box{position:relative;float:right;width:152px;height:153px;background:#f3f3f3;border-left:1px solid #d5d5d5;text-align:center}
.btn_mgall_dcp{position:absolute;right:0;top:0;width:30px}
.icon_mgall_dcp{display:block;width:30px;height:30px;background-position:-111px -275px}
.ranking_tit{height:32px;margin:29px auto 0;background-image:url(/GCInside/img/sp_minor_txt.png);background-repeat:no-repeat}
.ranking_tit.hot{width:108px;background-position:0 0}/*흥한갤*/
.ranking_tit.nohot{width:122px;background-position:0 -78px}/*안흥한갤*/
.ranking_tit.darkness{width:106px;background-position:0 -117px}/*정전갤*/
.ranking_tit.newgall{width:104px;height:30px;background-position:0 -41px}/*신규갤*/
.ranking_tit.bighot{width:104px;height:30px;background-position:-111px 0}/*대흥갤*/
.ranking_tit.hot1{width:105px;height:30px;background-position:-117px -37px}/*흥한갤*/
.ranking_tit.normal{width:104px;height:30px;background-position:-129px -74px}/*흔한갤*/
.ranking_tit.darkness1{width:100px;height:30px;background-position:-110px -112px}/*정전갤*/

.rank_img{padding:7px 0 17px 1px;font-size:0}
.outsied_img{display:inline-block;width:90px;height:29px;background:url(/GCInside/img/sp_minor_txt.png) 0 -157px no-repeat}
.num_img,.txt_img{height:28px;margin-left:2px;vertical-align:top}
.num_img:first-child{margin-left:0}
.num_img{display:inline-block;width:16px;background-image:url(/GCInside/img/sp_num.png);background-repeat:no-repeat}
.num_img.num0{background-position:0 1px}
.num_img.num1{background-position:2px -31px}
.num_img.num2{background-position:0 -65px}
.num_img.num3{background-position:0 -99px}
.num_img.num4{background-position:0 -135px}
.num_img.num5{background-position:0 -169px}
.num_img.num6{background-position:0 -205px}
.num_img.num7{background-position:0 -240px}
.num_img.num8{background-position:0 -275px}
.num_img.num9{background-position:0 -311px}

/* 갤러리 글 쓰기 */
.issue_contentbox{display:none}
.issuebox.open .issue_contentbox{display:block}
.listwrap .issue_contentbox{display:block}