<!--23/04/11 // 김재준 // 메인 갤러리 승급 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragment/head_fragment::adminHead}"></th:block>
    <link rel="stylesheet" th:href="@{/css/popup.css}">
</head>
<body>
<div class="gcwrap">

    <header th:replace="~{fragment/header_fragment::adminHeader}"></header>

    <main id="container" class="admin_main">
        <div class="main_content">
            <div class="admin_left">

                <!-- 사이드 gnb -->
                <aside th:replace="~{fragment/gnb_fragment::adminGnb}"></aside>

            </div>

                <!-- 상세보기 / 개설관리 팝업 창 -->
                <script>
                    document.addEventListener('DOMContentLoaded', function() {

                        var showApprovalButtons = document.querySelectorAll('.approval');
                        for (var i = 0; i < showApprovalButtons.length; i++) {
                            showApprovalButtons[i].addEventListener('click', showApprovalPopup);
                        }

                        var closeApprovalPopupButton = document.querySelector('.close-approval-popup');
                        closeApprovalPopupButton.addEventListener('click', closeApprovalPopup);

                    });

                    function showApprovalPopup(event) {
                        event.preventDefault();
                        var popup = document.querySelector('.approval-popup');
                        popup.style.display = 'block';
                    }

                    function closeApprovalPopup() {
                        var popup = document.querySelector('.approval-popup');
                        popup.style.display = 'none';
                    }
                </script>

                <div class="admin_right">
                    <section class="admin_main_info">
                        <div class="cont_head"><h2>메인 갤러리 승급</h2></div>
                        <div class="admin_info_content">
                            <div class="member_search_box">
                                <input type="text" id="input-box" name="input-box" placeholder="갤러리명 검색">
                                <button type="button" class="btn_lightgreen" id="submit-button">검색</button>
                            </div>

                            <!-- 카테고리별 검색 기능 -->
                            <div class="category_search_box">
                                <form th:action="@{/admin/gallery/form_minor}" method="get">
                                    <select class="admin_member_search_select_box" id="category_search_select_box" name="category">
                                        <option value="" th:selected="${selectedCategory == null}">카테고리 전체</option>
                                        <option th:each="cate:${cates}" th:value="${cate.gell_cate2}" th:text="${cate.gell_cate2_name}" th:selected="${cate.gell_cate2 == selectedCategory}"></option>
                                    </select>
                                    <button type="submit" class="btn_lightgreen" id="category-submit-button">검색</button>
                                </form>
                            </div>

                            <table class="admin_table admin_member_list">
                                <colgroup>
                                    <col style="width: 9.2%;">
                                    <col style="width: 14.2%;">
                                    <col style="width: 9.2%;">
                                    <col style="width: 14.2%;">
                                    <col style="width: 14.2%;">
                                    <col style="width: 14.8%;">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>순위</th>
                                        <th>갤러리 이름</th>
                                        <th>카테고리</th>
                                        <th>개설일</th>
                                        <th>매니저</th>
                                        <th>갤러리 링크</th>
                                        <th>관리</th>
                                    </tr>
                                </thead>
                                <tbody th:each="hot,i:${hot}" th:if="${i.index} <= 99">
                                    <tr>
                                        <td th:text="${hot.gell_num}" hidden></td>
                                        <td th:text="${i.count}"></td>
                                        <td th:text="${hot.gell_name}"></td>
                                        <td th:text="${hot.gell_cate}"></td>
                                        <td th:text="${#strings.substring(hot.gell_rdate, 2, 10)}"></td>
                                        <td th:text="${hot.gell_manager}"></td>
                                        <td><a th:href="@{/mgall/board/lists?id={gell_address}(gell_address=${hot.gell_address})}">바로가기</a></td>
                                        <td><button class="approval">[승급관리]</button></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="approval-popup" style="display:none;">
                                <h3>메인 갤러리 승급</h3>
                                <form th:action="@{/admin/gallery/advan_main/advance}" method="post">
                                    <p>마이너 갤러리를 메인 갤러리로 승급하려면 승급 버튼을 클릭하세요.</p>
                                    <button class="advance" type="submit">승급</button>
                                </form>
                                <button class="close-approval-popup">닫기</button>
                            </div>
                        </div>

                        <!-- 페이징 -->
                        <div class="admin_pageing">
                            <span class="admin_pageing_prev"><a href="#"><&nbsp;이전</a></span>

                            <span class="admin_pageing_num">
                                <a href="#" class="on">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a href="#">7</a>
                                <a href="#">8</a>
                                <a href="#">9</a>
                                <a href="#">10</a>
                            </span>

                            <span class="admin_pageing_next">다음&nbsp;></span>
                        </div>

                    </section>
                </div>
            </div>
        </main>

        <footer class="admin_footer gcfoot">
            <div class="copyright">Copyright ⓒ 2023 gcinside. All rights reserved.</div>
        </footer>
    </div>
</body>
</html>