/* 2023/03/02 // 김동민 // 마이너 갤러리 생성페이지,css 작업 중 */
/* 마이너 갤러리 생성 */
#container{
    width: 1050px;
    margin:20px auto 0;
}
.page_head .fixtit {
    color:#585857;
}
.page_head h2{
    font-size:24px;
    font-family:'Nanum Gothic', sans-serif;
    letter-spacing:-1px;
    margin:2px 8px 0 3px;
    max-width:416px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    color:#29367c;
}
.minor_make .page_head h2{overflow:inherit}
.minor_make .page_head h2 .stxt{
    font-size:13px;
    color:#999;
    font-weight: bold;
    letter-spacing:0;
    line-height:100%;
    margin-left:6px;}
.minor_make .make_guide_tit{
    font-family:'Nanum Gothic', sans-serif;
    font-size:23px;
    color:#d31900;
    margin-top:41px;
    padding-left:69px;}
.minor_make .make_guide_txt{font-family:'Nanum Gothic', sans-serif;
    font-size:17px;
    color:#222;
    font-weight:bold;
    margin:5px 0 33px;
    padding-left:69px;
}
.minor_make .page_head > .fl h2{width:100%}
.page_head .img_txt{vertical-align:-3px}
.minor_make_wrap{border-top:2px #29367c solid;
    border-bottom:2px #29367c solid;}
.minor_make_info{
    position:relative;
    width:411px;
    padding:19px 22px;
    margin-top:34px;
    background:#f3f3f3;
    border-radius:2px;
    line-height:20px;
    color:#555;
    letter-spacing:-0.05em;
}
.minor_make_info .tit{
    color:#29367c;
}
.minor_make_info .txt_attention{
    margin-top:12px;
}
.btn_guide_view{
    text-decoration:underline;
    color:#d31900;
    vertical-align:0;
}
.txt_line{
    text-decoration:underline;
}
.minor_make .page_head .tiptxt{
    font-size:14px;
    color:#bbb;
    letter-spacing:0;
}
.required_input{
    padding-left:3px;
    color:#d31900;
    vertical-align:top;
    line-height:18px;}
.minor_make_form{
    border-top:2px solid #29367c;
    border-bottom:2px solid #29367c;
}
.minor_make_form input{
    color:#555;
}
.make_form_cont{
    display:table-cell;
    width:726px;
    padding:12px 0 2px;}
.make_form_cont .set_tit{
    width:130px;
}
.ex_cont{
    display:table-cell;
    width:288px;
    padding:14px 21px 2px 15px;
    background:#f3f3f3;
    vertical-align:top;}
.ex{width:256px;opacity:0.7}
.ex_cont .tit{padding-top:5px;color:#d31900}
.ex_cont .form_group{padding:0;margin-top:0}
.ex_cont .set_content.name .cont_input_box{width:256px}
.ex_cont .set_content.name .t_input{width:155px;color:#999}
.ex_cont .cont_box{width:256px;margin:0}
.ex_cont .t_area{width:240px;color:#999}
.ex_cont .set_content{padding-top:0}
.ex_cont .set_content.desc .max_txt{padding-right:0;line-height:12px}
.minor_make_chk{padding:35px 0 26px;text-align:center}
.minor_make_chk .checkbox:first-child{margin-right:15px}
.minor_make_chk .checkbox{padding-left:19px}
.minor_make_chk .agree_chk{text-align:left;color:#555}
.minor_make_chk .agree_chk .checkbox > label{color:#333}
.minor_make_chk .agree_chk.chk1 .checkbox > label,.minor_make_chk .agree_chk.chk2 .checkbox > label{font-weight:bold}
.minor_make_chk .agree_chk.chk1{padding:0 16px 0 15px}
.minor_make_chk .scroll{overflow-y:scroll;width:474px;height:129px;margin-top:13px;padding:10px 13px;border:1px #bbb solid;background:#fff;;line-height:19px}
.minor_make_chk .scroll .tit{display:block;margin-top:15px}
.minor_make_chk .scroll .magtop{margin-top: 5px}
.minor_make_chk .scroll ul{margin:0 2px 0}
.minor_make_chk .scroll dt{margin:5px 0 0 0}
.minor_make_chk .scroll.privacy dt{margin:10px 0 0 0;font-weight:bold}
.minor_make_chk .mt_5{margin-top:5px}
.minor_make_chk .agree_chk.chk3{clear:both;padding:34px 0 0 15px}
.minor_make_chk .agree_chk.chk3 .txt{margin-top:12px;color:#999}
.make_guidetxt_box{padding-top:24px;border-top:1px #aaa dashed}
.make_guidetxt_box .tiptxt{margin-left:7px;line-height:20px}
.make_guidetxt_box .tip_deco_dot{background:#555}
.make_bottom_btnbox{margin:42px 0 86px;text-align:center}
.make_bottom_btnbox button{width:100px}
.make_bottom_btnbox button:first-child{margin-left:0}
