@charset "utf-8";
.pop_wrap {
    position: absolute;
    background: #fff;
    z-index: 4001;
    text-align: left;
}
.pop_wrap.gray1px {border: 1px solid #ccc;}
.pop_content{overflow:hidden;position:relative}

.visit_bookmark .pop_wrap.gray1px {
    width: 100%;
    box-sizing: border-box;
    z-index: 4000;
}
.visit_bookmark .pop_content{overflow:visible}
.visit_bookmark .under_catelist{padding:0 8px 0px}

.under_catelist{width:514px;height:auto;padding:12px}
.under_catelist.newvisit_layer{width:702px;min-height:212px;font-size:12px;line-height:1.5}
.under_catelist.newvisit_layer .under_listbox{margin-left:-19px;margin-top:10px}
.under_catelist .under_listbox{overflow:hidden;min-height:66px;margin-top:9px}

.visit_bookmark .tabcon_bottom{position:relative;height:20px;margin:5px 0 13px}
.visit_bookmark .under_catelist.newvisit_layer{width:100%!important;min-height:197px;box-sizing:border-box}
.visit_bookmark .under_catelist.newvisit_layer .under_listbox{min-height:123px;padding:0 10px;margin-left:-17px}
.visit_bookmark .tabslist li{float:left;width:50%;text-align:center;border-bottom:1px #3b4890 solid }
.visit_bookmark .tabslist li button{position:relative;width:100%;height:40px;font-size:14px;color:#333;font-weight:bold;}
.visit_bookmark .tabslist li.on button{color:#3b4890}

.visit_bookmark .list_modi{position:absolute;right:6px;bottom:-1px;color:#29367c;text-decoration:underline;padding:3px}
/* member 2023-03-06 추가 */
.lyprivacy {
    position: absolute;
    width: 465px;
    line-height: 1.5;
    z-index: 1;
}
.lyprivacy .poply_close {
    top: 11px;
    right: 11px;
}
.poply_close {
    position: absolute;
    right: 14px;
    top: 13px;
}
.policy_table.ly th:first-child, .policy_table.ly td:first-child {
    border-width: 1px 1px 1px 0px;
}
.policy_table.ly th, .policy_table.ly td {
    border-width: 1px 0 1px 1px;
    font-size: 11px;
}
.policy_table.ly th {
    height: 30px;
}

.policy_table.ly td {
    padding: 10px;
}
.icon_tipclose {
    display: block;
    width: 11px;
    height: 11px;
    background-position: -126px -132px;
}
.pop_wrap.type2 {
    border: 1px solid #29367c;
}
.pw_seting {
    width: 378px;
    padding: 0 12px 15px;
    box-sizing: border-box;
}
.pop_wrap .pop_head.dashed {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px dashed #aaa;
    color: #29367c;
}
.pw_seting .pop_head strong {
    padding-left: 3px;
}
.pw_seting .inner {
    margin-top: 13px;
    letter-spacing: -0.025em;
}
.pw_seting .pop_info {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    line-height: 20px;
    height: 67px;
    box-sizing: border-box;
    padding: 15px 12px 9px 13px;
}
.pop_info {
    clear: both;
    padding: 13px 12px 9px;
    background: #f3f3f3;
    font-size: 12px;
    color: #555;
    line-height: 18px;
}
.pw_seting .step_info li {
    clear: both;
    display: inline-block;
    content: "";
    margin: 0;
    line-height: 20px;
}
.pw_seting .step_info {
    font-size: 12px;
    color: #333;
    margin-top: 13px;
    padding-left: 9px;
    box-sizing: border-box;
}
.pw_seting .step_info em, .pw_seting .step_info span {
    float: left;
}
.pw_seting .tip_deco_dot {
    margin: 10px 7px 0 0;
}
.tip_deco_dot {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    background: #333;
    font-size: 0;
    vertical-align: 4px;
    margin-right: 6px;
}
.pw_seting .step_info .tit {
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    padding: 0;
}
.pw_seting .impossible {
    color: #d31900;
}
.pw_seting .step_info .txt {
    margin-left: 5px;
    display: inline-block;
}
.pw_seting .normal {
    color: #ff9933;
}
.pw_seting .step_info li:nth-child(2) .txt {
    width: 300px;
    position: relative;
    padding-left: 5px;
}
.pw_seting .safe {
    color: #008140;
}
.under.poply_close {
    top: 10px;
}
.icon_lyclose {
    display: block;
    width: 17px;
    height: 17px;
    background-position: -102px -135px;
}
.pop_wrap.type3, .pop_wrap.file {
    border: 1px solid #29367c;
    border-width: 2px 1px 1px;
}
.pop_wrap.lightpurple{border-color:#4f4dc6}
.pop_wrap .pop_hot_gall .dashed{font-size:12px;padding-left:0}
.pop_wrap.lightpurple .pop_hot_gall .pop_head.dashed{color:#4f4dc6}
.miniwrap .pop_wrap .pop_hot_gall .btn_box, .pop_wrap .pop_hot_gall .btn_box{border-top:none;padding:0 0 0 15px;line-height:15px;clear:both}
/* 어드민 팝업 */
/* 회원 목록 자세히보기 팝업 */
.admin.pop_back {position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);z-index: 4000;}
.admin.pop_wrap {position: relative;top: 15%;width: 1000px;margin: 0 auto;}
.pop_content > .admin.cont_head {background: green;border: 1px solid green;width: 100%;line-height: 32px;font-size: 14px;color: white;}
.pop_content > .admin.cont_head > a {position: absolute; top: 0;right: 17px;font-size: 14px;font-weight: bold;color: white;}
.admin_member.pop_content ul {display: inline-block;width: 100%;background: #ccc;}
.admin_member.pop_content ul > li {float: left;width: 12.5%;height: 40px;text-align: center;line-height: 40px;border: 1px solid grey;box-sizing: border-box;}
.admin_member.pop_content ul > li.on {background: white;border-bottom: 1px solid white;}

/* 갤러리 글 목록 */
.pop_tipbox.minor_tip .inner.hotgall_tip{min-width:365px;text-align:left}
.hotgall_tip .minor_tip_txt{min-width:342px}
.hotgall_tip .minor_tip_txt > p{padding-top:1px;letter-spacing:-0.025em}
.hotgall_tip .minor_tip_txt > p::before{content:"";display:inline-block;width:2px;height:2px;background:#555;margin:0 4px 0 1px;vertical-align:5px}
.btn_tipclose{position:absolute;top:10px;right:8px;display:inline-block;width:14px;height:13px;margin-left:5px;background-position:-24px -241px}