<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<title>에디터 html</title>
	<!-- 마이너 갤러리용 css -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script th:src="@{/js/gall/editor.js?v=1}"></script>
    <script type="text/javascript" th:src="@{/js/gall/editor_main.js?v=1}"></script>
</head>
<body>
    <div>
        <div id="editorjs"></div>

        <th:block th:if="${articleVO} != null">
            <script>
                window.addEventListener('load', function(){
                    editor_data_load([(${articleVO.article_content})]);
                });
            </script>
        </th:block>
    </div>
</body>
</html>