<!-- 2023/03/16 // 심규영 // 게시물 글 수정 화면 구현 시작 -->
<!-- 2023/03/20 // 심규영 // fragment 작업 및 정리 -->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragment/head_fragment::boardHead}"></th:block>

    <link rel="stylesheet" th:href="@{/css/gall/editor.css}">
</head>
<body>
    <div class="gcwrap width1160 list_wrap">
        <!-- 헤더 -->
        <header th:replace="~{fragment/header_fragment::boardHeader}"></header>

        <!-- gnb -->
        <div class="gnb_bar" th:replace="~{fragment/gnb_fragment::mainGnb}"></div>

        <!-- 최근 방문 탭 -->
        <div class="visit_bookmark" th:replace="~{fragment/gnb_fragment::mainVisit}"></div>

        <!-- 메인 -->
        <main id="container">
            <section>
                <!-- 갤러리명 타이틀바 ~ 팝업 창 -->
                <th:block th:replace="~{fragment/editor_fragment::gall_main_header}"></th:block>

                <!-- 글 작성 메인 -->
                <article id="write_wrap" class="clear" th:replace="~{fragment/editor_fragment::write_from}"></article>

            </section>
        </main>

        <!-- footer -->
        <footer class="gcfoot" th:replace="~{fragment/footer_fragment::boardFooter}"></footer>
    </div>
</body>
</html>