/* 공통 */
.admin_header, .admin_footer {background: #336600;}

/* 관리자 헤더 */
.admin_ul {position: absolute;right: 0;top: 15px;}
.admin_ul > li {display: inline-block;}
.admin_ul > li > a {color: white;}
.admin_ul > li > a:hover {text-decoration: underline;}

/* 메인 */
.admin_main > div {overflow: hidden;}
.admin_left {float: left;}
.admin_right {float: right; width: 715px;}
.member_search_box {margin-top: 10px;margin-left: 10px;}
.admin_info_content > div > select {width: 100px;}
.admin_info_content > div > button {height: 25px;line-height: 25px;}

/* 관리자 gnb */
.admin_aside{width: 270px;height: auto; background: #669933;box-sizing: border-box;}
#admin_gnb > li {width: 100%; min-height: 66px; border-top: 1px solid #336600;box-sizing: border-box;}
#admin_gnb > li > a {display: block;width: 100%;height: 66px;font-size: 14px;font-weight: bold;line-height: 66px;text-indent: 10px;color: white;}
#admin_gnb ol {display: none;width: 100%;height: auto;}
#admin_gnb ol > li {width: 100%;height: 32px;background: #99cc66;}
#admin_gnb ol > li > a {display: block; width: 100%; height: 100%; text-indent: 52px;color: white;line-height: 32px;}
#admin_gnb ol > li > a::before {content: " - ";}

/* 관리자 메인 정보 */
.admin_info_content > h3 {margin-top: 10px; margin-left: 10px;padding-bottom: 5px;border-bottom: 1px solid green;}
.admin_table {margin-top: 10px;width: 100%;}
.admin_table th, .admin_table td {height: 40px;border: 1px solid black;line-height: 40px;text-align: center;}

/* 관리자 config > terms */
.admin_term {margin: 0 auto;margin-top: 10px;margin-bottom: 10px;display: block;width: 70%;height: 400px;}
.admin_term_btn.btn_box {text-align: center;float: none;margin-bottom: 10px;}

/* 관리자 회원 관리 => 회원 목록 및 회원 검색 */
.admin_member_list th, .admin_member_list td {border-left: 0;border-right: 0;}

/* 관리자 갤러리 목록 > 메인 갤러리 생성 */
.page_head {height: 37px;margin-bottom: 3px;padding-top: 4px;}
.page_head h2 {margin: -2px 8px 0 3px;}
.page_head h2 {
    font-size: 24px;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: -1px;
    margin: 2px 8px 0 3px;
    max-width: 416px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #336623;
}
.page_head h2 a {color: #336623;padding-left: 5px;}
.page_head h2, .favorite, .dcwiki, .lock {float: left;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.page_head h2{margin:-2px 8px 0 3px}}
.page_head .fixtit {color: #585857;}
.clear:after {clear: both;display: block;visibility: hidden;content: "";}
.main_make_wrap {border-top: 2px #336623 solid;border-bottom: 2px #336623 solid;}
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.main_make_form {border-top: 2px solid #336623;border-bottom: 2px solid #336623;}
.make_form_cont {display: table-cell;width: 726px;padding: 12px 0 2px;}
.form_group {padding: 2px 0 14px 16px;border-top: 1px #eee solid;color: #555;}
.form_group:first-of-type {border-top: none;}
.set_content {padding-top: 11px;}
.form_group:first-of-type .set_content {padding-top: 0;}
.set_tit {position: relative;float: left;width: 157px;font-weight: bold;line-height: 24px;}
.make_form_cont .set_tit {width: 130px;}
.required_input {
    padding-left: 3px;
    color: #d31900;
    vertical-align: top;
    line-height: 18px;
}
.cont_box {float: left;position: relative;width: 515px;line-height: 24px;margin: 0;}
.set_content .cont_input_box {position: relative;display: inline-block;}
.set_content.name .cont_input_box {width: 343px;}
.t_input {
    width: 327px;
    height: 22px;
    line-height: 20px;
    padding: 0 7px;
    border: 1px #bbb solid;
    margin-bottom: 5px;
}
.main_make_form input {color: #555;}
.set_content.name .t_input {width: 242px;padding: 0 92px 0 7px;}
.basic_tit {
    position: absolute;
    right: 9px;
    top: 0px;
    color: #336623;
    font-weight: bold;
}

.tip_deco {
    display: inline-block;
    width: 9px;
    height: 9px;
    background-position: -190px -201px;
    margin-right: 5px;
}
.red .tip_deco {background-position: -203px -201px;}
.form_group::after {clear: both;display: block;visibility: hidden;content: "";}
.t_area {
    width: 470px;
    height: 54px;
    padding: 7px;
    border: 1px #bbb solid;
    margin-bottom: 5px;
    resize: none;
}
.set_content.desc .tiptxt {float: left;}
.set_content.desc .max_txt {float: right;padding-right: 27px;line-height: 18px;}
.adr .basic_adr, .adr .max_txt {vertical-align: -1px;}
.adr .t_input {width: 184px;margin: 0 2px 4px 0;}
.select_box {position: relative;float: left;}
.select_box.array_latest, .select_arraybox {
    float: none;
    display: inline-block;
    width: 55px;
    height: 19px;
    padding-left: 5px;
    border: 1px solid #ccc;
    margin-left: 4px;
    font-size: 11px;
    background: #fff;
    color: #333;
    line-height: 18px;
    vertical-align: 1px;
}
.set_content.category  .select_arraybox {
    width: 163px;
    height: 22px;
    line-height: 23px;
    margin: 0 0 5px 0;
    padding-left: 5px;
}
.select_area {position: relative;cursor: pointer;}
.set_content .select_area {padding-right: 17px;}
.placeholder {color: #999;}
.icon_option_more {display: inline-block;position: absolute;}
.select_arraybox .icon_option_more, .output_array .icon_option_more, .array_latest .icon_option_more {
    right: 5px;
    top: 7px;
    width: 9px;
    height: 5px;
    background-position: -126px -43px;
}
.option_box {
    position: absolute;
    width: 100%;
    height: 190px;
    box-sizing: border-box;
    background: #f3f3f3;
    border: 1px #ccc solid;
    padding: 6px 5px 4px;
    z-index: 20;
    overflow: scroll;
}
.option_box li {
    line-height: 16px;
    font-size: 11px;
    color: #555;
    font-weight: normal;
    font-family: -apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,Dotum,돋움,sans-serif;
}
.option_box li:hover {text-decoration: underline;cursor: pointer;}
.make_bottom_btnbox {margin: 42px 0 86px;text-align: center;}
.make_bottom_btnbox button {width: 100px;}
.make_bottom_btnbox button:first-child {margin-left: 0;}
.btn_lightpurple {
    background: #2b641f;
    text-shadow: 0px -1px #1a3123;
    color: #fff;
    border-color: #21361a;
}

/* 어드민 페이징 */
.admin_pageing {text-align: center;margin-top: 15px;margin-bottom: 10px;font-size: 14px;}
.admin_pageing a {display: inline-block;width: 20px;}
.admin_pageing a.on {text-decoration: underline;}
.admin_pageing_prev a, .admin_pageing_next a {width: 45px;}

/* 관리자 푸터 */
.admin_footer > div {color: white;position: relative; top: 25px;}