/*reset css*/
html,body,div,span,iframe,h1, h2, h3, h4, h5, h6, p,
a,em,img,strong,b,u,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,embed, figure,figcaption,footer,header,nav,section,summary,audio,video,button{
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    background:transparent;
    font-style:normal
  }

  article,aside,figcaption,figure,footer,header,nav,section,main{display:block}
  body{width:100%;height:100%}
  ol, ul {list-style:none}
  table {border-collapse:collapse;border-spacing:0;table-layout:fixed}
  button{cursor:pointer}
  input,select,textarea,button{border-radius:0;vertical-align:middle}
  body,button,input,select,table,textarea{font-size:12px;font-family:-apple-system,BlinkMacSystemFont,"Apple SD Gothic Neo","Malgun Gothic","맑은 고딕",arial,Dotum,돋움,sans-serif}

  textarea{resize:none}
  a{color:#333;text-decoration:none}
  a:active,a:hover{text-decoration:underline}
  
  