<!-- 2023/03/10 // 심규영 // 공통 fragment 작업 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragment/head_fragment::adminHead}"></th:block>
    <link rel="stylesheet" th:href="@{/css/popup.css}">
    <script type="text/javascript" th:src="@{/js/admin/member.js}"></script>
</head>
<body>
    <div class="gcwrap">
        <header th:replace="~{fragment/header_fragment::adminHeader}"></header>

        <main id="container" class="admin_main">
            <div class="main_content">
                <div class="admin_left">
                    <!-- 사이드 gnb -->
                    <aside th:replace="~{fragment/gnb_fragment::adminGnb}"></aside>
                </div>

                <div class="admin_right">
                    <section class="admin_main_info">
                        <div class="cont_head"><h2>회원 목록 및 검색</h2></div>
                        <div class="admin_info_content">
                            <div class="member_search_box">
                                <select class="admin_member_search_select_box" id="member_search_select_box" name="select-box">
                                    <option value="option1">닉네임</option>
                                    <option value="option2">아이디</option>
                                    <option value="option3">포인트</option>
                                    <option value="option3">가입날짜</option>
                                    <option value="option3">이메일</option>
                                </select>
                                <input type="text" id="input-box" name="input-box" placeholder="닉네임 검색">
                                <button type="button" class="btn_lightgreen" id="submit-button">검색</button>
                            </div>
                            <table class="admin_table admin_member_list">
                                <colgroup>
                                    <col style="width: 14.2%;">
                                    <col style="width: 14.2%;">
                                    <col style="width: 14.2%;">
                                    <col style="width: 14.2%;">
                                    <col style="width: 14.2%;">
                                    <col style="width: 14.2%;">
                                    <col style="width: 14.8%;">
                                </colgroup>
                                <tr>
                                    <th>아이디</th>
                                    <th>이메일</th>
                                    <th>닉네임</th>
                                    <th>포인트</th>
                                    <th>아이피</th>
                                    <th>가입날짜</th>
                                    <th>관리</th>
                                </tr>
                                <tr>
                                    <td>hong123</td>
                                    <td>human@gmail.com</td>
                                    <td>홍길동</td>
                                    <td>5,500</td>
                                    <td>000.000.0.0</td>
                                    <td>0000-00-00</td>
                                    <td><a href="javascript:;" onclick="popup_open()">[설정]</a></td>
                                </tr>
                                <tr>
                                    <td>hong123</td>
                                    <td>human@gmail.com</td>
                                    <td>홍길동</td>
                                    <td>5,500</td>
                                    <td>000.000.0.0</td>
                                    <td>0000-00-00</td>
                                    <td><a href="javascript:;" onclick="popup_open()">[설정]</a></td>
                                </tr>
                                <tr>
                                    <td>hong123</td>
                                    <td>human@gmail.com</td>
                                    <td>홍길동</td>
                                    <td>5,500</td>
                                    <td>000.000.0.0</td>
                                    <td>0000-00-00</td>
                                    <td><a href="javascript:;" onclick="popup_open()">[설정]</a></td>
                                </tr>
                                <tr>
                                    <td>hong123</td>
                                    <td>human@gmail.com</td>
                                    <td>홍길동</td>
                                    <td>5,500</td>
                                    <td>000.000.0.0</td>
                                    <td>0000-00-00</td>
                                    <td><a href="javascript:;" onclick="popup_open()">[설정]</a></td>
                                </tr>
                                <tr>
                                    <td>hong123</td>
                                    <td>human@gmail.com</td>
                                    <td>홍길동</td>
                                    <td>5,500</td>
                                    <td>000.000.0.0</td>
                                    <td>0000-00-00</td>
                                    <td><a href="javascript:;" onclick="popup_open()">[설정]</a></td>
                                </tr>
                                <tr>
                                    <td>hong123</td>
                                    <td>human@gmail.com</td>
                                    <td>홍길동</td>
                                    <td>5,500</td>
                                    <td>000.000.0.0</td>
                                    <td>0000-00-00</td>
                                    <td><a href="javascript:;" onclick="popup_open()">[설정]</a></td>
                                </tr>
                                <tr>
                                    <td>hong123</td>
                                    <td>human@gmail.com</td>
                                    <td>홍길동</td>
                                    <td>5,500</td>
                                    <td>000.000.0.0</td>
                                    <td>0000-00-00</td>
                                    <td><a href="javascript:;" onclick="popup_open()">[설정]</a></td>
                                </tr>
                                <tr>
                                    <td>hong123</td>
                                    <td>human@gmail.com</td>
                                    <td>홍길동</td>
                                    <td>5,500</td>
                                    <td>000.000.0.0</td>
                                    <td>0000-00-00</td>
                                    <td><a href="javascript:;" onclick="popup_open()">[설정]</a></td>
                                </tr>
                                <tr>
                                    <td>hong123</td>
                                    <td>human@gmail.com</td>
                                    <td>홍길동</td>
                                    <td>5,500</td>
                                    <td>000.000.0.0</td>
                                    <td>0000-00-00</td>
                                    <td><a href="javascript:;" onclick="popup_open()">[설정]</a></td>
                                </tr>
                                <tr>
                                    <td>hong123</td>
                                    <td>human@gmail.com</td>
                                    <td>홍길동</td>
                                    <td>5,500</td>
                                    <td>000.000.0.0</td>
                                    <td>0000-00-00</td>
                                    <td><a href="javascript:;" onclick="popup_open()">[설정]</a></td>
                                </tr>
                            </table>
                        </div>

                        <!-- 페이징 -->
                        <div class="admin_pageing">
                            <span class="admin_pageing_prev"><a href="#"><&nbsp;이전</a></span>

                            <span class="admin_pageing_num">
                                <a href="#" class="on">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a href="#">7</a>
                                <a href="#">8</a>
                                <a href="#">9</a>
                                <a href="#">10</a>
                            </span>

                            <span class="admin_pageing_next">다음&nbsp;></span>
                        </div>

                    </section>
                </div>
            </div>
        </main>

        <footer th:replace="~{fragment/footer_fragment::adminFooter}"></footer>
    </div>

    <!-- 회원 설정 팝업 창 -->
    <div class="admin pop_back" style="display: none;">
        <div class="admin pop_wrap gray1px">
            <div class="admin_member pop_content">
                <div class="admin cont_head"><h3>ㅇㅇ 유저 설정</h3><a href="javascript:;" onclick="popup_close()">X</a></div>
                <ul>
                    <li class="on" data-value="basic" >기본</li>
                    <li data-value="activity">활동 내역</li>
                    <li data-value="article">글 작성 내역</li>
                    <li data-value="comment">댓글 작성 내역</li>
                    <li data-value="point">포인트 내역</li>
                    <li data-value=""></li>
                    <li data-value="sanctions">제재</li>
                    <li data-value="secession">탈퇴</li>
                </ul>
                <div class="admin_member main_content basic">basic</div>
                <div class="admin_member main_content activity" style="display: none;">activity</div>
                <div class="admin_member main_content article" style="display: none;">article</div>
                <div class="admin_member main_content comment" style="display: none;">comment</div>
                <div class="admin_member main_content point" style="display: none;">point</div>
                <div class="admin_member main_content sanctions" style="display: none;">sanctions</div>
                <div class="admin_member main_content secession" style="display: none;">secession</div>
            </div>
        </div>
    </div>
    
</body>
</html>