<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 헤드영역 -->
    <th:block th:replace="~{fragment/head_fragment::managementHead}"></th:block>
</head>
<body>
    <div class="gcwrap">

        <!-- 헤더 -->
        <header class="gcheader typea">

            <div class="gchead">
                <!-- 메인 로고 -->
                <h1 class="gc_logo">
                    <div>
                        <img th:src="@{/img/gcinside_main_logo.png}" alt="겔시인사이드">
                        <a class="_blank" href="#"></a>
                        <a class="_top" href="#"></a>
                    </div>
                </h1>

                <div class="wrap_search">
                    <!-- 갤러리 통합검색-->
                    <form>
                        <fieldset>
                            <div class="top_search clear">
                                <div class="inner_search">
                                    <input class="in_keyword" type="text" name="search"
                                    placeholder="갤러리 & 통합검색" autocomplete="off"
                                    title="검색어 입력">
                                </div>
                                <button class="sp_main bnt_search"></button>
                                <!-- 검색어 자동 완성 기능 -->
                                <div class="auto_wordwrap" style="left: 0px; top: 46px; display: none;"></div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </header>
        <!-- gnb -->
        <div th:replace="~{fragment/gnb_fragment::mainGnb}"></div>

        <!-- 최근 방문 탭 -->
        <div class="visit_bookmark">
            <div class="newvisit_history vst">
                <h3 class="tit vst_title 1_div_style">최근 방문</h3>
                <h3 class="tit bookmark_title f_div_style" style="display: none;">최근 방문</h3>
                <button type="button" class="btn_open">
                    <em class="sp_img icon_listmore"></em>
                </button>
                <button type="button" class="bnt_visit_prev">
                    <em class="sp_img icon_prev"></em>
                </button>
                <div class="newvisit_box"></div>
                <button type="button" class="bnt_visit_next">
                    <em class="sp_img icon_next"></em>
                </button>
                <button type="button" class="bnt_newvisit_more">전체</button>
                <!-- 최근방문 / 즐겨찾기 레이어 -->
                <div class="pop_wrap gray1px" style="left: 0px; top: 37px; display: none;"></div>
            </div>
        </div>

        <main id="container" class="minor_admin">
            <!-- 갤러리명 타이틀바 ~ 이용안내 -->

            <header>
                <div class="page_head clear">
                    <div class="fl clear">

                        <div class="lock"><em class="sp_img icon_minilock"></em><span class="blind">비공개</span></div>

                        <h2>
                            <a th:href="|@{/}mgall/board/lists?id=${stringObjectMap.gell_address}|">
                                <span th:text="|${stringObjectMap.gell_name} 갤러리|">ㅇㅇㅇ  갤러리</span>
                                <div class="pagehead_titicon ngall sp_img">
                                    <span class="blind">미니</span>
                                </div>
                            </a>
                        </h2>


                        <div class="useradmin_go">
                            <button type="button" class="sp_img btn_useradmin_go" onclick="location.href='/gall/management';"><span class="blind">관리</span></button>
                        </div>

                    </div>
                </div>
            </header>  
            <div class="minor_uadmin_wrap clear">
                <!-- left_content -->
                <script type="text/javascript">
                    var mgall_id = 'qivreg';
                    var mgall_block = 'N';
                </script>

                <section id="left_cont_wrap"  class="left_content">
                    <h2 class="blind">왼쪽 컨텐츠 영역</h2>
                    <ul class="minor_uadmin_menu">
                        <li><a th:href="|@{/}gall/management/index?id=${stringObjectMap.gell_address}|" class="">기본 설정</a></li>
                        <li><a th:href="|@{/}gall/management/gallery?id=${stringObjectMap.gell_address}|" class="">갤러리 설정</a></li>
                        <li><a th:href="|@{/}gall/management/block?id=${stringObjectMap.gell_address}|" class="">차단 목록 </a></li>
                        <li><a th:href="|@{/}gall/management/delete?id=${stringObjectMap.gell_address}|" class="">삭제 목록 </a></li>
                        <li><a th:href="|@{/}gall/management/submanager?id=${stringObjectMap.gell_address}|" class="">부매니저</a></li>
                        <li><a href="#" onclick="alert('매니저 위임은 개설일 기준으로 7일 이후 가능합니다.');return false;" class=>매니저 위임</a></li>
                        <li><a th:href="|@{/}gall/management/report?id=${stringObjectMap.gell_address}|" class="on">관리 기록</a></li>
                    </ul>
                </section>      

                <!-- right_content -->
                <section id="right_cont_wrap" class="right_content">
                    <h2 class="blind">오른쪽 컨텐츠 영역</h2>
                    <div class="minor_uadmin_setting">
                        <div class="minor_uadmin_top clear">
                            <div class="fl sort"><!-- 210421 수정-->
                                <span>종류</span>
                                <div class="select_box array_latest" style="width:73px">
                                    <div class="select_area">전체<span class="blind">정렬 기준선택</span><em class="sp_img icon_option_more"></em></div>
                                    <ul class="option_box" style="left:-1px;top:19px;min-width:80px;display:none"><!-- 옵션 펼침 display:block -->
                                        <li data-value="A" onclick="location.replace('?id=qivreg&s=A')">전체</li>
                                        <li data-value="DS" onclick="location.replace('?id=qivreg&s=DS')">기본 설정</li>
                                        <li data-value="GS" onclick="location.replace('?id=qivreg&s=GS')">갤러리 설정</li>
                                        <li data-value="N" onclick="location.replace('?id=qivreg&s=N')">공지</li>
                                        <li data-value="R" onclick="location.replace('?id=qivreg&s=R')">개념글</li>
                                        <li data-value="B" onclick="location.replace('?id=qivreg&s=B')">차단</li>
                                        <li data-value="D" onclick="location.replace('?id=qivreg&s=D')">삭제</li>
                                        <li data-value="MR" onclick="location.replace('?id=qivreg&s=MR')">관리</li>
                                        <li data-value="SB" onclick="location.replace('?id=qivreg&s=SB')">부매니저</li>
                                        <li data-value="MM" onclick="location.replace('?id=qivreg&s=MM')">매니저</li>
                                        <li data-value="C" onclick="location.replace('?id=qivreg&s=C')">폐쇄</li>
                                    </ul>
                                </div>
                                <script>ul_selectric($('#right_cont_wrap .minor_uadmin_setting .select_box'), 'sch_status', '');</script>
                            </div>

                            <!-- 210421 추가-->
                            <div class="fr" id="public_set_div">
                                <button type="button" class="btn_grey smaller" onclick="get_public_set('setting')">관리 기록 공개 설정</button>
<!--                                <script id="public-set-tmpl" type="text/x-jquery-tmpl">-->
<!--                                    <div id="pop_public_set" class="pop_wrap type3 lightpurple" style="right:0;top:35px;">-->
<!--                                        &lt;!&ndash; pop_content mngsetbox submng &ndash;&gt;-->
<!--                                        <div class="pop_content mngsetbox open_mngset">-->
<!--                                            <div class="pop_head bg"><h3>${public_set_txt} 공개 설정</h3></div>-->
<!--                                            <div class="pop_info">-->
<!--                                                <h4 class="">${public_set_txt}</h4>-->
<!--                                                <span class="radiobox">-->
<!--                                                    <input type="radio" id="public_set_y" name="public_set" value="1" {{if public_set == 1}}checked{{/if}} onclick="public_set_click(1)">-->
<!--                                                    <em class="checkmark"></em>-->
<!--                                                    <label for="setting_list">공개</label>-->
<!--                                                </span>-->
<!--                                                <span class="radiobox">-->
<!--                                                    <input type="radio" id="public_set_n" name="public_set" value="0" {{if public_set == 0}}checked{{/if}} onclick="public_set_click(0)">-->
<!--                                                    <em class="checkmark"></em>-->
<!--                                                    <label for="public_set_n">비공개</label>-->
<!--                                                </span>-->
<!--                                                <input type="hidden" id="prev_public_set" name="prev_public_set" value="${public_set }">-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; inner &ndash;&gt;-->
<!--                                            <div class="inner">-->
<!--                                                &lt;!&ndash; 처리한 매니저 정보 &ndash;&gt;-->
<!--                                                <div class="mng_option handler">-->
<!--                                                    &lt;!&ndash; box &ndash;&gt;-->
<!--                                                    <div class="box">-->
<!--                                                        <h4>처리한 매니저 정보</h4>-->
<!--                                                        <span class="radiobox">-->
<!--                                                            <input type="radio" id="manager_set_y" name="manager_set" value="1" {{if manager_set == 1}}checked{{/if}} {{if public_set == 0}}disabled{{/if}}>-->
<!--                                                            <em class="checkmark"></em>-->
<!--                                                            <label for="manager_set_y">공개</label>-->
<!--                                                        </span>-->
<!--                                                        <span class="radiobox">-->
<!--                                                            <input type="radio" id="manager_set_n" name="manager_set" value="0" {{if manager_set == 0}}checked{{/if}} {{if public_set == 0}}disabled{{/if}}>-->
<!--                                                            <em class="checkmark"></em>-->
<!--                                                            <label for="manager_set_n">비공개</label>-->
<!--                                                        </span>-->
<!--                                                        <p class="tip"><em class="sp_img tip_deco999"></em>공개 선택 시, 처리한 매니저의 식별 코드와 닉네임이 공개됩니다.</p>-->
<!--                                                    </div>-->
<!--                                                    &lt;!&ndash; //box &ndash;&gt;-->
<!--                                                </div>-->
<!--                                                &lt;!&ndash; //처리한 매니저 정보 &ndash;&gt;-->
<!--                                                &lt;!&ndash; 공개 기간 범위 &ndash;&gt;-->
<!--                                                <div class="mng_option period">-->
<!--                                                    &lt;!&ndash; box &ndash;&gt;-->
<!--                                                    <div class="box">-->
<!--                                                        <h4>공개 기간 범위</h4>-->
<!--                                                        <span class="radiobox">-->
<!--                                                            <input type="radio" id="public_days_3" name="public_days" value="3" {{if public_days == 3}}checked{{/if}} {{if public_set == 0}}disabled{{/if}}>-->
<!--                                                            <em class="checkmark"></em>-->
<!--                                                            <label for="public_days_3">최근 3일</label>-->
<!--                                                        </span>-->
<!--                                    -->
<!--                                                        <span class="radiobox">-->
<!--                                                            <input type="radio" id="block_days_7" name="public_days" value="7" {{if public_days == 7}}checked{{/if}} {{if public_set == 0}}disabled{{/if}}>-->
<!--                                                            <em class="checkmark"></em>-->
<!--                                                            <label for="public_days_7">최근 7일</label>-->
<!--                                                        </span>-->
<!--                                    -->
<!--                                                        <span class="radiobox">-->
<!--                                                            <input type="radio" id="public_days_30" name="public_days" value="30" {{if public_days == 30}}checked{{/if}} {{if public_set == 0}}disabled{{/if}}>-->
<!--                                                            <em class="checkmark"></em>-->
<!--                                                            <label for="public_days_30">최근 30일</label>-->
<!--                                                        </span>-->
<!--                                                        <p class="tip"><em class="sp_img tip_deco999"></em>선택한 기간의 관리 기록만 이용자에게 노출합니다.</p>-->
<!--                                                    </div>-->
<!--                                                    &lt;!&ndash; //box &ndash;&gt;-->
<!--                                                </div>-->
<!--                                            &lt;!&ndash; //공개 기간 범위 &ndash;&gt;-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; //inner &ndash;&gt;-->
<!--                                            <div class="btn_box">-->
<!--                                                <button type="button" class="btn_blue small btn_lightpurple" onclick="set_public('${set_type}')">확인</button>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; //pop_content mngsetbox submng &ndash;&gt;-->
<!--                                        <button type="button" class="poply_whiteclose" onclick="$('#pop_public_set').remove()"><span class="blind">레이어 닫기</span><em class="sp_img icon_whiteclose"></em></button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                        &lt;!&ndash; //210421 추가&ndash;&gt;-->
<!--                                </script>-->
                            </div>
                        </div>
                        <table class="minor_block_list reportlist">
                            <caption>관리 리스트</caption>
                            <colgroup>
                                <col style="width:10%">
                                <col style="width:14%">
                                <col>
                                <col style="width:15%">
                                <col style="width:16%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">NO</th>
                                    <th scope="col">종류</th>
                                    <th scope="col">내용</th>
                                    <th scope="col">처리 일시</th>
                                    <th scope="col">처리자</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="num">3</td>
                                    <td class="option">갤러리 설정</td>
                                    <td class="txt">글 자동 삭제 수정</td>
                                    <td class="day">
                                        <span>2023.03.14<br>14:57:05</span>
                                    </td>
                                    <td class="nik">
                                        관리자아이디<br>(gwanli5656)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="num">2</td>
                                    <td class="option">갤러리 설정</td>
                                    <td class="txt">도배 방지 코드 수정</td>
                                    <td class="day">
                                        <span>2023.03.14<br>14:56:56</span>
                                    </td>
                                    <td class="nik">
                                        관리자아이디<br>(gwanli5656)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="num">1</td>
                                    <td class="option">갤러리 설정</td>
                                    <td class="txt">개념 추천, 비추천 수정</td>
                                    <td class="day">
                                        <span>2023.03.14<br>14:56:41</span>
                                    </td>
                                    <td class="nik">
                                        관리자아이디<br>(gwanli5656)
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                        <div class="bottom_paging_box iconpaging"><em>1</em></div>		
                        <div class="other_content">
                            <p class="tiptxt "><em class="sp_img tip_deco"></em>관리 기록은 30일 동안 보관됩니다.</p>
                        </div>
                    </div>
                </section>
                <!-- right_content -->        
            </div>
        </main>
        <!-- 푸터 -->
        <!-- 푸터영역 -->
        <th:block th:replace="~{fragment/footer_fragment::adFooter}"></th:block>

    </div>
</body>
</html>