<!-- 2023/03/06 // 라성준 // -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragment/head_fragment::adHead}"></th:block>
    <script type="text/javascript">
      var lnbMenu=2, lnbSubMenu=1, gMenu=1;
    </script>
</head>
<body>
    <!--스킵 내비게이션-->
  <div class="skip">
    <a href="#gmenu_wrap"><span>메뉴바로가기</span></a>
    <a href="#left_wrap"><span>서브 메뉴바로가기</span></a>
    <a href="#right_wrap"><span>본문영역 바로가가기</span></a>
  </div>
  <!--//스킵 내비게이션-->
  <div class="gc_adwrap sub">
    <!-- GNB -->
    <div id="gmenu_wrap" th:replace="~{ad/ad_guide_app1::ad_gnb}"></div>
    <!-- //GNB -->

<!-- 본문 -->
<main id="container">
  <div class="content clear">
    <div id="left_wrap" class="fl">

      <th:block th:replace="~{fragment/aside_fragment::adAside}"></th:block>

                  </div>
                  <div id="right_wrap" class="right_content">
                    <section>
                      <h2 class="cont_head">APP 광고</h2>
                      <div class="cont_body pm_ad">
                        <h3 class="cont_tit">자동 짤방</h3>
                        <div class="table_box">
                          <table class="ad_table type1">
                            <caption>광고상품 정보</caption>
                            <colgroup>
                              <col style="width:33.3%">
                              <col style="width:33.3%">
                              <col style="width:33.3%">
                            </colgroup>
                            <thead>
                              <tr>
                                <th scope="col">배너 사이즈(px)</th>
                                <th scope="col">가격 (CPM)</th>
                                <th scope="col">평균 CTR</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <p>
                                    <b>640 * 600</b>
                                  </p>
                                </td>
                                <td>
                                  <b>1,700</b>
                                  
                                </td>
                                <td>
                                  <b>0.11%</b>
                                </td>
                              </tr>
                            </tbody>
          
                          </table>
                        </div>
          
                        <div class="cont_banbox">
                          <img th:src="@{/img/nmoapp_ad_img2.png}" alt="">
                        </div>
                        <div class="infotxt_box">
                          <ol>
                            <li>1) 이미지 용량 : 300KB 이하</li>
                            <li>2) APP 소재 사이즈의 1/2 크기인 320*300</li>
                            <li>3) 게시글에 이미지가 없는 경우, 본문에 자동으로 노출되는 광고</li>
                            <li>4) 안드로이드 단독 진행</li>
                            <li>5) 1구좌 고정배너(롤릴 불가)</li>  
                            <li>6) 카테고리 타케팅 진행(자세한 내용은 담당자와 협의 필요)</li>  
                          </ol>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </main>
              <!-- //본문 -->
              <!-- 하단 -->
    <footer th:replace="~{fragment/footer_fragment::adFooter}"></footer>
              <!-- //하단 -->
            </div>
          </body>
          
          </html>