<!-- 2023/03/03 // 라성준 // -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{fragment/head_fragment::adHead}"></th:block>
    <!-- 상단바 메뉴 카테고리 이펙트 효과 -->
    <script>
        $(window).scroll(function () {
          if ($(document).scrollTop() > 95){
            $(".main .gnb_bar").addClass("scrollbar");
          }else{
            $(".main .gnb_bar").removeClass("scrollbar");
          }
        });
        var gMenu=0;
      </script>
    </head>
    <body>
    
      <!--스킵 내비게이션-->
      <div class="skip">
        <a href="#container"><span>메뉴바로가기</span></a>
        <a href="#mcont_wrap1"><span>고효율 추천광고</span></a>
        <a href="#mcont_wrap2"><span>더 많은 정보 보기</span></a>
        <a href="#mcont_wrap3"><span>간편 광고절차</span></a>
      </div>
      <!--//스킵 내비게이션-->
      <div id="fouc" class="gc_adwrap main">
        <!-- GNB -->
        <div id="gmenu_wrap" th:replace="~{ad/ad_guide_app1::ad_gnb}"></div>
        <!-- //GNB -->
    
        <!-- 본문 -->
        <main id="container">
          <section>
            <div class="cont main_visual">
              <div class="display_ad">
                <h2 class="tit btxt">디스플레이 광고</h2>
                  <p class="stxt">소비자 취향을 반영한 타겟팅 광고를 지금 시작하세요 !</p>
                  <a href="#" class="inquire_go">
                    <span class="txt">광고 문의 하기<em class="sp_gcadimg icon_inquire_go"></em></span>
                    <span class="decoline"></span>
                  </a>
              </div>
            </div>
          </section>
          <section>
            <div id="mcont_wrap1" class="cont mcont1">
              <div class="recomm">
                <h2 class="mcont_tit">#고효율 #추천광고</h2>
                <div class="recomm_cont clear">
                  <a th:href="@{ad_guide_wm1}">
                  <div class="recomm_box box1">
                    <div class="txt_box">
                      <h3 class="tit">갤러리 리스트 상단</h3>
                      <p>게시글 진입 전 초입 주목도 높은 광고</p>
                    </div>
                  </div>
                  </a>
                  <a th:href="@{ad_guide_wm2}">
                    <div class="recomm_box box2">
                      <div class=txt_box>
                        <h3 class="tit">갤러리 본문 자동 짤방</h3>
                        <p>많은 트래픽이 발생하며 효율이 높은 광고</p>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </section>
          <section>
            <h2 class="blind">더많은 정보 보러가기</h2>
            <div id="mcont_wrap2" class="cont mcont2">
              <ul class="moreinfo clear">
                <li class="morelist1">
                  <a th:href="@{/company/index}" target="_blank">
                    <em class="sp_gcadimg icon_morelist"></em>
                    매체 소개서
                  </a>
                </li>
                <li class="morelist2">
                  <a href="#.pdf" target="_blank">
                    <em class="sp_gcadimg icon_morelist"></em>
                    광고 단가표
                  </a>
                </li>
                <li class="morelist3">
                  <a href="ad_guide_pc2.html">
                    <em class="sp_gcadimg icon_morelist"></em>
                    광고 상품 안내
                  </a>
                </li>
                <li class="morelist4">
                  <a href="#@gmail.com">
                    <em class="sp_gcadimg icon_morelist"></em>광고문의
                  </a>
                </li>
              </ul>
            </div>
          </section>
          <section>
            <div id="mcont_wrap3" class="cont mcont3">
              <div class="process">
                <h2 class="mcont_tit">#간편 #광고절차</h2>
                <ul class="process_list">
                  <li class="list1"><span class="inner"><span class="cont_txt">광고문의</span><em class="bg"></em></span></li>
                  <li class="list2"><span class="inner"><span class="cont_txt">제안 및 계약</span><em class="bg"></em></span></li>
                  <li class="list3"><span class="inner"><span class="cont_txt">광고 소재 전달</span><em class="bg"></em></span></li>
                  <li class="list4"><span class="inner"><span class="cont_txt">집행 및 리포트</span><em class="bg"></em></span></li>
                </ul>
              </div>
            </div>
          </section>
        </main>
        <!-- //본문 -->
    
        <!-- 하단 -->
        <footer th:replace="~{fragment/footer_fragment::adFooter}"></footer>
        <!-- //하단 -->
      </div>
    
    </body>
    </html>