<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- 2023/03/10 // 심규영 // 메인 gnb -->
    <div class="gnb_bar" th:fragment="mainGnb">
        <nav class="gnb clear">
            <ul class="gnb_list clear">
                <li>
                    <a th:href="@{/m/index}" class="hover_gnb link_gnb">갤러리</a>
                    <span class="gnb_area" style="display:block;width:77px;height:12px;position:absolute;left:0;bottom:0;"></span>
                    <!-- 2차메뉴 -->
                    <div class="depth2" style="left:0;display:none"><!--2차메뉴 열림 : display:block -->
                        <span class="sp_img depth_bg"></span>
                        <ul class="depth2_list" >
                            <li><a href="#">게임</a></li>
                            <li><a href="#">연예/방송</a></li>
                            <li><a href="#">스포츠</a></li>
                            <li><a href="#">교육/금융/IT</a></li>
                            <li><a href="#">여행/음식/생물</a></li>
                            <li><a href="#">취미/생활</a></li>
                        </ul>
                    </div>
                </li>
                <li><a th:href="@{/mgall/index}">마이너갤</a></li>
                <li><a th:href="@{/mini/index}">미니갤</a></li>
            </ul>

            <!-- 어제 게시글, 댓글 등록 수 -->
            <div class="gall_exposure">
                <div class="posts"><a href="#">어제 <em class="num">000,000개</em> 게시글 등록</a></div>
                <div class="reply"><a href="#">어제 <em class="num">0,000,000개</em> 댓글 등록</a></div>
                <div class="ltr"><a href="#">로터리 응모</a></div>
            </div>

        </nav>
    </div>

    <!-- 2023/03/10 // 심규영 // 메인 최근 방문 갤, 즐겨찾기 -->
    <div class="visit_bookmark" th:fragment="mainVisit">
        <div class="newvisit_history vst">
            <h3 class="tit vst_title l_div_style">최근 방문</h3>
            <h3 class="tit bookmark_title f_div_style" style="display: none;">즐겨찾기 갤러리</h3>
            <button type="button" class="btn_open" onclick="openLately()">
                <em class="sp_img icon_listmore"></em>
            </button>
            <button type="button" class="bnt_visit_prev">
                <em class="sp_img icon_prev"></em>
            </button>
            <div class="newvisit_box">
                <!-- 최근방문 갤러리 리스트 -->
                <ul class="newvisit_list vst_listbox l_div_style"></ul>

                <!-- 즐겨찾기 갤러리 리스트 -->
                <ul class="newvisit_list bkmark_listbox f_div_style" style="display:none"></ul>
            </div>
            <button type="button" class="bnt_visit_next">
                <em class="sp_img icon_next"></em>
            </button>
            <button type="button" class="bnt_newvisit_more" onclick="openLately()">전체</button>
            <!-- 최근방문 / 즐겨찾기 레이어 -->
            <div class="pop_wrap gray1px" style="left: 0px; top: 37px; display: none;" id="visit_history_lyr">
                <div class="pop_content under_catelist newvisit_layer">
                    <div class="tabs">
                        <ul class="tabslist clear">
                            <li class="tab_l"><button type="button" onclick="tabLately('lately')">최근 방문</button></li>
                            <li class="tab_f"><button type="button" onclick="tabLately('favorite')">즐겨찾기</button></li>
                        </ul>
                    </div>
                    <div class="toptab_content">
                        <div class="visit_div 1_div_style">
                            <!-- 최근 방문 리스트  -->
                            <div class="visit_tablist" style="display:block">
                                <ul class="under_listbox vst_list"></ul>
                                <div class="tabcon_bottom">
                                    <button type="button" class="list_modi">전체 삭제</button>
                                </div>
                            </div>
                        </div>
                        <div class="favorite_div f_div_style"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 2023/03/10 // 심규영 // 관리자 gnb -->
    <aside class="admin_aside" th:fragment="adminGnb">
        <ul id="admin_gnb">
            <li>
                <a href="javascript:;">환경설정</a>
                <ol>
                    <li><a href="javascript:;">배너 관리</a></li>
                    <li><a th:href="@{/admin/config/terms}">약관 관리</a></li>
                </ol>
            </li>
            <li>
                <a href="javascript:;">신고 관리</a>
                <ol>
                    <li><a href="javascript:;">서비스 신고 관리</a></li>
                    <li><a href="javascript:;">서비스 신청 목록</a></li>
                </ol>
            </li>
            <li>
                <a href="javascript:;">갤러리 관리</a>
                <ol>
                    <li><a th:href="@{/admin/gallery/gallery_list}">갤러리 목록</a></li>
                    <li><a th:href="@{/admin/gallery/create_main}">메인 갤러리 생성</a></li>
                    <li><a th:href="@{/admin/gallery/form_minor}">갤러리 개설 신청</a></li>
                    <li><a href="javascript:;">갤러리 승급 신청</a></li>
                </ol>
            </li>
            <li>
                <a th:href="@{/admin/member/search}">회원 관리</a>
                <ol>
                    <li><a th:href="@{/admin/member/search}">회원 조회</a></li>
                </ol>
            </li>
        </ul>
    </aside>
</body>
</html>