<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 2023/03/08 // 라성준 // 이용약관(Terms)헤드-->
<th:block th:fragment="termsHead">
    <meta charset="UTF-8">
    <title>## CONNECTING HEARTS! 지시인사이드입니다. ##</title>
    <link rel="shortcut icon" th:href="@{/img/logo_icon.png}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" th:href="@{/css/member/member.css}">
    <link rel="stylesheet" th:href="@{/css/popup.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</th:block>


<!-- 2023/03/08 // 라성준 // 메인 index 헤드 -->
<th:block th:fragment="mainHead">
    <head>
        <meta charset="UTF-8">
        <title>CONNECTING HEARTS! 지시인사이드입니다.</title>
        <link rel="stylesheet" th:href="@{/css/reset.css}">
        <link rel="stylesheet" th:href="@{/css/basic.css}">
        <link rel="stylesheet" th:href="@{/css/popup.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" th:src="@{/js/navigation.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>
        <script type="text/javascript" th:src="@{/js/lately_visit_new.js}"></script>
        <script type="text/javascript" th:src="@{/js/ctr_cookie.js}"></script>
    </head>
</th:block>
<body>

</body>
</html>
