<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 2023/03/08 // 라성준 // 이용약관(Terms)헤드-->
    <th:block th:fragment="termsHead">
        <meta charset="UTF-8">
        <title>## CONNECTING HEARTS! 지시인사이드입니다. ##</title>
        <link rel="shortcut icon" th:href="@{/img/logo_icon.png}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}"/>
        <link rel="stylesheet" th:href="@{/css/member/member.css}">
        <link rel="stylesheet" th:href="@{/css/popup.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </th:block>

    <!-- 2023/03/08 // 라성준 // 메인 index 헤드 -->
    <th:block th:fragment="mainHead">
        <meta charset="UTF-8">
        <title>CONNECTING HEARTS! 지시인사이드입니다.</title>
        <link rel="stylesheet" th:href="@{/css/reset.css}">
        <link rel="stylesheet" th:href="@{/css/basic.css}">
        <link rel="stylesheet" th:href="@{/css/popup.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" th:src="@{/js/navigation.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>
        <script type="text/javascript" th:src="@{/js/lately_visit_new.js}"></script>
        <script type="text/javascript" th:src="@{/js/ctr_cookie.js}"></script>
    </th:block>

    <!-- 2023/03/10 // 심규영 // 관리자 헤더 공통 -->
    <th:block th:fragment="adminHead">
        <meta charset="UTF-8">
        <title>관리자</title>
        <link rel="stylesheet" th:href="@{/css/reset.css}">
        <link rel="stylesheet" th:href="@{/css/basic.css}">
        <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery-certificate/1.0.0/jquery.certify.min.js"></script>
        <script type="text/javascript" th:src="@{/js/admin/gnb.js}"></script>
        <script type="text/javascript" th:src="@{/js/common.js}"></script>
    </th:block>
</head>
<body>

</body>
</html>
