<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!-- 2023/03/08 // 라성준 // -->
  <!-- 이용약관 Terms 헤더-->
  <header class="gcheader bg" th:fragment="termsHeader">
    <!-- 상단 -->
      <div class="gchead">
        <!-- 로고영역 -->
        <h1 class="gc_logo">
          <a href="/GCInside">
            <img th:src="@{/img/gcin_logo2.png}" alt="지시인사이드">
          </a>
        </h1>
        <!-- //로고영역 -->
        <div class="area_links">
          <ul>
            <li><a href="https://gall.dcinside.com/">갤러리</a></li>
            <li><a href="https://gall.dcinside.com/m">마이너갤</a></li>
            <li><a href="https://gall.dcinside.com/n">미니갤</a></li>

          </ul>
        </div>
      </div>
  </header>

  <!-- 2023/03/09 // 심규영 // 메인 인덱스 헤더 -->
  <header class="gcheader typea" th:fragment="mainHeader">
    <div class="gchead">
      <!-- 메인 로고 -->
      <h1 class="gc_logo">
        <div>
          <img th:src="@{/img/gcinside,  s-1104992098.png}" alt="겔시인사이드">
          <a class="_blank" th:href="@{/}"></a>
          <a class="_top" th:href="@{/}"></a>
        </div>
      </h1>

      <div class="wrap_search">
        <!-- 갤러리 통합검색-->
        <form>
          <fieldset>
            <div class="top_search clear">
              <div class="inner_search">
                <input class="in_keyword" type="text" name="search"
                       placeholder="갤러리 & 통합검색" autocomplete="off"
                       title="검색어 입력">
              </div>
              <button class="sp_main bnt_search"></button>
              <!-- 검색어 자동 완성 기능 -->
              <div class="auto_wordwrap" style="left: 0px; top: 46px; display: none;"></div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </header>

  <!-- 2023/03/10 // 심규영 // 관리자 헤더 공통 -->
  <header class="admin_header" th:fragment="adminHeader">
    <div class="gchead typea">
      <h1 class="gc_logo">
        <div>
          <img th:src="@{/img/gcin_logo3.png}" alt="">
          <a class="_blank" th:href="@{/admin/index}"></a>
        </div>
      </h1>
      <div class="admin_info">
        <ul class="admin_ul">
          <li><a th:href="@{/index}">홈</a></li>
          <li><a href="javascript:;"> | </a></li>
          <li><a href="#">로그아웃</a></li>
        </ul>
      </div>
    </div>
  </header>

  <header class="gcheader typea" th:fragment="minorHeader">
      <div class="gchead">
        <!-- 메인 로고 -->
        <h1 class="gc_logo">
          <div>
            <img th:src="@{/img/gcinside_main_logo2-removebg-preview.png}" alt="겔시인사이드">
            <a class="_blank" th:href="@{/}"></a>
            <a class="_top" th:href="@{/}"></a>
          </div>
        </h1>
        <div class="wrap_search">
          <!-- 갤러리 통합검색-->
          <form>
            <fieldset>
              <div class="top_search clear">
                <div class="inner_search">
                  <input class="in_keyword" type="text" name="search"
                         placeholder="갤러리 & 통합검색" autocomplete="off"
                         title="검색어 입력">
                </div>
                <button class="sp_main bnt_search"></button>
                <!-- 검색어 자동 완성 기능 -->
                <div class="auto_wordwrap" style="left: 0px; top: 46px; display: none;"></div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </header>

  <!-- 2023/03/18 // 심규영 // board 헤더 공통 -->
  <header class="gcheader typea" th:fragment="boardHeader">
    <div class="gchead">
      <!-- 메인 로고 -->
      <h1 class="gc_logo">
        <div>
          <img th:src="@{/img/gcinside,  s-1104992098.png}" alt="겔시인사이드">
          <a class="_blank" th:href="@{/}"></a>
          <a class="_top" th:href="@{/}"></a>
        </div>
      </h1>

      <!-- 갤러리 통합검색-->
      <div class="wrap_search">
        <form>
          <fieldset>
            <div class="top_search clear">
              <div class="inner_search">
                <input class="in_keyword" type="text" name="search"
                       placeholder="갤러리 & 통합검색" autocomplete="off"
                       title="검색어 입력">
              </div>
              <button class="sp_main bnt_search"></button>
              <!-- 검색어 자동 완성 기능 -->
              <div class="auto_wordwrap" style="left: 0px; top: 46px; display: none;"></div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </header>

</body>
</html>