.btn_hotall_list{width:112px;height:21px;background-position:-175px -244px}
.list_array_option{display:table;width:840px;height:32px;margin:15px 0 5px}

.array_tab {display:table-cell;width:1%;white-space:nowrap;vertical-align:top}
.array_tab.left_box{font-size:0 }
.array_tab button,
.btn_estimatego
{width:82px;height:32px;border:1px solid #ccc;border-radius:2px;font-size:14px;font-weight:bold;color:#333;margin-left:2px;background:#fff;padding-bottom:2px}
.array_tab button:first-child{margin-left:0}
.array_tab button:hover, .btn_estimatego:hover{border:1px solid #3b4890}
.array_tab button.on,
.btn_estimatego.on
{border:1px solid #29367c;background:#3b4890;color:#fff;text-shadow: 0px -1px #1d2761}

.center_box{position:relative;display:table-cell;line-height:0px}
.center_box .inner {position:relative;display:inline-block;height:32px}
.center_box .inner > ul{float:left;overflow:hidden;height:26px;padding-top:6px;padding-right:10px;margin-left:7px;line-height:32px;}
.center_box .inner > ul li{display:inline-block;padding-left:14px}
.center_box ul li a{color:#444}
.center_box ul li a.on{font-weight:bold}

.list_array_option .right_box{position:relative;z-index:1}
.right_box{float:right;display:-ms-grid;min-width:90px;height:21px;width:max-content;width:-moz-max-content;-ms-grid-columns:max-content;vertical-align:top;padding-top:11px}
.right_box .output_array{display:table;margin-left:40px}
.array_num,.array_sel{display:table-cell}
.array_num a{display:inline-block;width:41px;padding:0 5px}
.array_num .select_area{padding:0;width:51px}
.right_box .output_array{padding-top:0}